{% extends "account/base.html" %}

{% load i18n staticfiles %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <div class="text-center">
  <h2 class="m-b-30 f-18 green-color text-center">{% trans 'Вход в sellFone' %}</h2>
  <form method="post" action="{% url 'account_login' %}" >{% csrf_token %}
      <div class="input-email input-wrap">
          {{ login_form.login }}
      </div>
      <div class="input-pass input-wrap">
          {{ login_form.password }}
      </div>
      <div class="login-blck m-b-35">
          <a class="f-10 forgot-pass" href="#">Забыли пароль?</a>
          <button class="login-btn">ВОЙТИ</button>
          <div class="inln-blck registr-blck">
              <p class="f-10">Нет аккаунта?</p>
              <a href="{{ signup_url }}">Регистрация</a>
          </div>
      </div>
      <div class="razdelitel m-b-35"><hr><span class="text-center" style="width: 55px; display: inline-block">или</span><hr></div>
      <div class="social-login">
          <div class="inln-blck f-12">
               <p>Войти через <br> социальные сети</p>
          </div>
          <br>
          <a href="{% url 'twitter_login' %}"><img src="{% static 'images/social/vk.png' %}"></a>
          <a href="{% url 'google_login' %}"><img src="{% static 'images/social/odnoklasniki.png' %}"></a>
          <a href="{% url 'facebook_login' %}"><img src="{% static 'images/social/fb.png' %}"></a>
      </div>
  </form>
  </div>
{% endblock %}