{% extends "account/base.html" %}

{% load i18n staticfiles %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="text-center">
    <h2 class="m-b-30 f-18 green-color text-center">{% trans 'Регистрация в sellFone' %}</h2>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    <form method="post" action="{% url 'account_signup' %}" >{% csrf_token %}
        <div class="input-username input-wrap">
            {{ signup_form.username }}
        </div>
        <div class="input-email input-wrap">
            {{ signup_form.email }}
        </div>
        <div class="input-pass input-wrap">
            {{ signup_form.password1 }}
        </div>
        <div class="input-pass input-wrap">
            {{ signup_form.password2 }}
        </div>
        <p class="f-10 m-b-35">Регистрируясь, вы соглашаетесь с <a class="underline">пользовательским соглашением</a></p>

        <div class="login-blck m-b-35">
            <button class="signup-btn">ЗАРЕГИСТРИРОВАТЬСЯ</button>
        </div>
        <div class="razdelitel m-b-35"><hr><span class="text-center" style="width: 55px; display: inline-block">или</span><hr></div>
        <div class="social-login">
            <div class="inln-blck f-12">
                <p>Войти через <br> социальные сети</p>
            </div>
            <br>
            <a href="{% url 'twitter_login' %}"><img src="{% static 'images/social/vk.png' %}"></a>
            <a href="{% url 'google_login' %}"><img src="{% static 'images/social/odnoklasniki.png' %}"></a>
            <a href="{% url 'facebook_login' %}"><img src="{% static 'images/social/fb.png' %}"></a>
        </div>
    </form>
</div>

{% endblock %}
