{% load static sekizai_tags %}
{% load thumbnail %}

<!-- BEGIN TAB PANES -->
        <div class="tab-content shadow">
            <div role="tabpanel" class="tab-pane create-tab-content active" id="model">
                <form method="POST" action="{% url 'products:add' %}">
                    {% csrf_token %}
                    <div class="row m-0">
                        <div class="col-xs-7 p-l-0">
                            <p class="f-30 m-b-55">Модель и основные параметры</p>
                            <div class="form-group chose-phone-cheract">
                                <p class="cheract-label">Категория</p>
                                {{ variants_form.category.errors }}
                                {{ variants_form.category }}
                            </div>
                            <div class="form-group chose-phone-cheract">
                                <p class="cheract-label">Производитель</p>
                                {{ variants_form.brand.errors }}
                                {{ variants_form.brand }}
                            </div>
                            <div class="form-group chose-phone-cheract">
                                <p class="cheract-label">Модель</p>
                                {{ variants_form.device.errors }}
                                {{ variants_form.device }}
                            </div>
                            <div class="form-group chose-phone-cheract">
                                <p class="cheract-label">Цвет</p>
                                {{ variants_form.color.errors }}
                                {{ variants_form.color }}
                            </div>
                            <div class="form-group chose-phone-cheract">
                                <p class="cheract-label">Память</p>
                                {{ variants_form.mem_size.errors }}
                                {{ variants_form.mem_size }}
                            </div>
                        </div>
                        <div id="device-card" class="col-xs-5 p-l-30 p-r-0 prev-disp">
                            <div class="prev-ad-prod">
                                <h2 class="m-t-10 m-b-45">{{ device.name }}</h2>
                                <div class="text-center m-b-30">
                                    {% if device %}
                                        <img src="{{ device.image|thumbnail_url:'device_image' }}" alt="" width="100%" />
                                    {% else %}
                                        <img class="prev-prod-img" src="{% static "images/create_ad/phone.png" %}">
                                    {% endif %}
                                </div>
                                <div class="">
                                    <table class="prev-table-cheract">
                                        <tbody>
                                        <tr>
                                            <td>Производитель</td>
                                            <td>{{ device.brand }}</td>
                                        </tr>
                                        <tr>
                                            <td>Тип</td>
                                            <td>{{ device.type }}</td>
                                        </tr>
                                        <tr>
                                            <td>Диагональ экрана, дюймы</td>
                                            <td>{{ device.display.diag|floatformat }}</td>
                                        </tr>
                                        <tr>
                                            <td>Цвет</td>
                                            <td class="color">{{ device.colors.all.0 }}</td>
                                        </tr>
                                        <tr>
                                            <td>Память</td>
                                            <td class="mem_size">{{ device.mem_size.all.0 }}GB</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="full-info text-right m-t-15 m-b-50"><a for=".prev-ad-prod" href="#">Все характеристики &rarr;</a></div>
                    <h2 class="m-b-35">Характеристики б/у</h2>
                    <div class="cat-c-h">
                        <div>
                            <p><b>Роботоспособность телефона:</b></p>
                            <p><i class="f-12">Выберите описание, соответствующее состоянию работоспособности Вашего устройства</i></p>
                        </div>
                    </div>
                    {% for field in product_form.how_works %}
                        <div class="check-state how_works">
                            {{ product_form.how_works.errors }}
                            {{ field.tag }}
                            <p class="inln-blck" style="vertical-align: top">
                                {{ field.choice_label }}
                            </p>
                        </div>
                    {% endfor %}

                    <div class="cat-c-h">
                        <div>
                            <p><b>Внешнее состояние телефона:</b></p>
                            <p><i class="f-12">Выберите описание, соответствующее внешнему состоянию телефона</i></p>
                        </div>
                    </div>
                    {% for field in product_form.damage %}
                        <div class="check-state {% if forloop.counter0 == 0 %}active{% endif %}">
                            {{ product_form.damage.errors }}
                            {{ field.tag }}
                            <p class="inln-blck" style="vertical-align: top">
                                <span class="main-text">{{ field.choice_label|linebreaksbr }}</span>
                            </p>
                        </div>
                    {% endfor %}
                    <div class="cat-c-h">
                        <div>
                            <p><b>Комплектация:</b></p>
                        </div>
                    </div>
                    <div class="row">
                        {% for field in product_form.accessories %}
                            <div class="check-state col-xs-4">
                                {{ product_form.accessories.errors }}
                                {{ field.tag }}
                                <p class="inln-blck" style="vertical-align: top">
                                    <span class="main-text">{{ field.choice_label }}</span>
                                    </p>
                            </div>
                            {% if forloop.counter|divisibleby:3 %}
                                </div>
                                <div class="row">
                            {% endif %}
                    {% endfor %}
                    </div>

                    <div class="check-state">
                        <input type="text" placeholder="Другое: если у Вас есть чехлы или прочие аксессуары, укажите их наличие в этой графе." name="group1">
                    </div>
                    <div class="cat-c-h">
                        <div>
                            <p><b>Дполнительные характеристики</b></p>
                        </div>
                    </div>
                    <div class="form-group chose-phone-cheract row">
                        <div data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                            {{ product_form.IMEI.errors }}
                            <label class="col-xs-3">IMEI</label>
                            {{ product_form.IMEI }}
                        </div>
                    </div>
                    <div class="form-group chose-phone-cheract row">
                        {{ product_form.purchase_country.errors }}
                        <label class="col-xs-3">Страна покупки</label>
                        {{ product_form.purchase_country }}
                    </div>
                    <div class="form-group chose-phone-cheract row">
                        <label class="col-xs-3">Есть ли действующая гарантия</label>
                        {{ product_form.has_guarantee.errors }}
                        <div class="col-xs-6 p-0">
                            {% for field in product_form.has_guarantee %}
                                <div class="check-state col-xs-4 p-0 {% if field.choice_value == product_form.has_guarantee.initial|yesno:"True,False" %} active {% endif %}">
                                    {{ field.tag }}
                                    <p class="inln-blck" style="vertical-align: top"><span class="main-text">{{ field.choice_label }}</span><br></p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group chose-phone-cheract row">
                        <label class="col-xs-3">Был ли в ремонте</label>
                        {{ product_form.is_repaired.errors }}
                        <div class="col-xs-6 p-0">
                            {% for field in product_form.is_repaired %}
                                <div class="check-state col-xs-4 p-0 {% if field.choice_value == product_form.is_repaired.initial|yesno:"True,False" %} active {% endif %}">
                                    {{ field.tag }}
                                    <p class="inln-blck" style="vertical-align: top"><span class="main-text">{{ field.choice_label }}</span><br></p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group chose-phone-cheract row">
                        <label class="col-xs-3">Восставновлен (Refurbished)</label>
                        {{ product_form.refurbished.errors }}
                        <div class="col-xs-6 p-0">
                            {% for field in product_form.refurbished %}
                                <div class="check-state col-xs-4 p-0 {% if field.choice_value == product_form.refurbished.initial|yesno:"True,False" %} active {% endif %}">
                                    {{ field.tag }}
                                    <p class="inln-blck" style="vertical-align: top"><span class="main-text">{{ field.choice_label }}</span><br></p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group chose-phone-cheract row">
                        <label class="col-xs-3">Вы первый владелец</label>
                        {{ product_form.owner.errors }}
                        <div class="col-xs-6 p-0">
                            {% for field in product_form.owner %}
                                <div class="check-state col-xs-4 p-0 {% ifequal field.choice_value product_form.owner.initial|yesno:"True,False" %} active {% endifequal %}">
                                    {{ field.tag }}
                                    <p class="inln-blck" style="vertical-align: top"><span class="main-text">{{ field.choice_label }}</span><br></p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="bottom-create-block text-right">
                        <button type="submit" value="delete" name="delete" class="button-cr-ad mini"><img src="{% static "images/bin.png" %}"></button>
                        <button type="submit" value="save_exit" name="save_exit" class="button-cr-ad">Сохранить и выйти</button>
                        <button type="submit" value="save_next" name="save_next" class="button-cr-ad green-background mini p-l-20 p-r-20">ДАЛЕЕ <img src="{% static "images/button-arrow.png" %}"></button>
                    </div>
                </form>
            </div>
        </div>

{% addtoblock "extrajs" %}
    <script type="text/javascript">
        $(document).ready(function(){

            $('select').niceSelect();
            $('#carousel').owlCarousel({
                slideSpeed : 300,
                paginationSpeed : 400,
                singleItem:true
            });

            $("input[type='checkbox'], input[type='radio']").iCheck({
                checkboxClass: 'iradio_square-blue c-check',
                radioClass: 'iradio_square-blue c-check',
            });

            $(".full-info a").on("click", function (e) {
                e.preventDefault();
                var cls = $(this).attr("for");
                if($(cls).hasClass('full')){
                    $(cls).removeClass("full");
                }
                else{
                    $(cls).addClass("full");
                }
            });
            $("input[type='checkbox'], input[type='radio']").on('ifChecked', function(event){
                $(this).closest('.check-state').addClass('active');
            });
            $("input[type='checkbox'], input[type='radio']").on('ifUnchecked', function(event){
                $(this).closest('.check-state').removeClass('active');
            });
        })
    </script>
    <script type="text/javascript">
        $('#select-category, #select-brand').change(function(){
            if ($(this).attr('id') == 'select-category'){
                var data = 'type=category&value='+$(this).val();
            }else{
                var data = 'type=brand&value='+$(this).val();
            }
            $.ajax({
                url: "{% url 'products:get_parameters' %}",
                type: "GET",
                data: data,
                success: function(data) {
                    $('#select-brand').html(data['brands']);
                    $('#id_device').html(data['devices']);
                    $('select').niceSelect('update');
                }
            });
        });
        $('#id_device').change(function () {
            data = 'type=device&value='+$(this).val();
            $.ajax({
                url: "{% url 'products:get_parameters' %}",
                type: "GET",
                data: data,
                success: function(data) {
                    $('#device-card').html(data['device_card']);
                    $('#id_color').html(data['colors']);
                    $('#id_mem_size').html(data['mem_size']);
                    $('select').niceSelect('update');
                }
            });
        });
        $('#id_color').change(function () {
            $('#device-card .color').text($('option:selected', this).text())
        });
        $('#id_mem_size').change(function () {
            $('#device-card .mem_size').text($('option:selected', this).text())
        });

    $('input').on('ifChecked', function(event){
        if($(this).hasClass('how_works')){
            if ($(this).val() != 'fine'){
                $('input#id_damage_0').iCheck('disable').iCheck('uncheck');
                $('input#id_damage_1').iCheck('check');
            }else{
                $('input#id_damage_0').iCheck('enable');
            }
        }
    });

    </script>
{% endaddtoblock %}
