{% load static sekizai_tags %}

<div role="tabpanel" class="tab-pane create-tab-content active" id="description">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="m-b-55"><b>Описание устройства</b></h2>
        <div class="row m-b-80">
            <div class="col-xs-6 p-r-35">
                <div class="textarea" l-count="2000">
                    {{ product_form.description.errors }}
                    {{ product_form.description }}
                    <p class="l-count">осталось 2000 символов</p>
                </div>
            </div>
            <div class="col-xs-6 p-l-35 text-justify grey-color italic">
                <p><img class="m-r-15" src="{% static "images/lamp.png" %}"> успешность Вашей сделки на 70% зависит  от качественного описания. </p>
                <p>Постарайтесь написать обьявление, которое будет максимально соответсвовать описанию Вашего устройства.
                    Также, если Вы готовы торговаться или можете подарить покупателю чехол, сообщите это в описании.</p>
                <br>
                <p>
                    Пример обьявления:
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non mauris nec nulla pellentesque consectetur a sit amet elit. Duis turpis ipsum, molestie quis lectus eu, scelerisque vestibulum libero. Cras sit amet nulla porta, fermentum dui id, pellentesque velit. Mauris eget nunc id risus volutpat interdum nec at est. Proin aliquet faucibus diam, at facilisis dui varius et. Cras fermentum aliquam ex ac placerat. Donec ultricies convallis lacus. Nunc commodo arcu eu magna dignissim cursus.
                </p>
            </div>
        </div>
        <h2 class="m-b-55"><b>Фотографии устройства</b></h2>
        <div class="text-center">
            <div class="photos-uploaders inln-blck">
                {{ image_formset.management_form }}
                <img src="{% static "images/phone-photo.png" %}">
                <div class="uploader req" id="uploader1" type="button" data-container="body" data-toggle="popover" data-placement="top" data-content="Нажмите на кнопку для добавления фото">
                    {{ image_formset.forms.0.id }}
                    {{ image_formset.forms.0.image }}
                    <p class="right"><span>Спереди</span></p>
                </div>
                <div class="uploader req" id="uploader2" data-container="body" data-toggle="popover" data-placement="top" data-content="Нажмите на кнопку для добавления фото">
                    {{ image_formset.forms.1.id }}
                    {{ image_formset.forms.1.image }}
                    <p class="left"><span>Сзади</span></p>
                </div>
                <div class="uploader" id="uploader3" data-container="body" data-toggle="popover" data-placement="top" data-content="Нажмите на кнопку для добавления фото">
                    {{ image_formset.forms.2.id }}
                    {{ image_formset.forms.2.image }}
                    <p class="left"><span>Верхний торец</span></p>

                </div>
                <div class="uploader" id="uploader4" data-container="body" data-toggle="popover" data-placement="top" data-content="Нажмите на кнопку для добавления фото">
                    {{ image_formset.forms.3.id }}
                    {{ image_formset.forms.3.image }}
                    <p class="left"><span>Левый торец</span></p>
                </div>
                <div class="uploader" id="uploader5" data-container="body" data-toggle="popover" data-placement="top" data-content="Нажмите на кнопку для добавления фото">
                    {{ image_formset.forms.4.id }}
                    {{ image_formset.forms.4.image }}
                    <p class="right"><span>Правый торец</span></p>
                </div>
                <div class="uploader" id="uploader6" data-container="body" data-toggle="popover" data-placement="top" data-content="Нажмите на кнопку для добавления фото">
                    {{ image_formset.forms.5.id }}
                    {{ image_formset.forms.5.image }}
                    <p class="right"><span>Нижний торец</span></p>
                </div>
            </div>
        </div>
        <div id="upload-place" class="m-b-80">
            <p class="m-b-40">Фотографии Вашего устройства спереди и сзади - обязательны. Постарайтесь сделать качественные фото - это увеличит Ваши шансы на выгодную сделку.
                Добавьте фото торцов Вашего телефона и доверие покупателя к Вашему товару возрастет!
            </p>
            <div class="justify-between">
                {% for i in "012345" %}
                    <div class="inln-blck thumb-blck-100" id="form-{{i}}-image-img"></div>
                {% endfor %}
            </div>

        </div>
        <div class="row additional-photos">
            <div class="col-xs-6">
                <h2 class="m-b-50 m-t-0">Фото дефектов</h2>
                <div class="m-b-35">
                    Если на Вашем устройстве есть заметные дефекты и царапины,<br>
                    сделайте фото. Таким образом, покупатель...<br>
                    Вы можете загрузить до 6 фото дефектов или царапин.
                </div>
                {{ product_form.damaged_photos }}
            </div>
            <div class="col-xs-6">
                <h2 class="m-b-50 m-t-0">Фото аксессуаров</h2>
                <div class="m-b-35">
                    Если у Вас есть аксессуры (зардка, чехлы, наушники)<br>
                    для Вашего устройства, загрузите фотографии и заработайте<br>
                    на их продаже. Вы можете загрузить до 3 фото
                </div>
                {{ product_form.accessory_photos }}
            </div>
        </div>
        <div class="bottom-create-block text-right">
            <button type="submit" value="delete" name="delete" class="button-cr-ad mini"><img src="{% static "images/bin.png" %}"></button>
            <button type="submit" value="save_exit" name="save_exit" class="button-cr-ad">Сохранить и выйти</button>
            <button type="submit" value="save_next" name="save_next" class="button-cr-ad green-background mini p-l-20 p-r-20">ДАЛЕЕ <img src="{% static "images/button-arrow.png" %}"></button>
        </div>
    </form>
</div>

{% addtoblock "extrajs" %}
    <script src="{% static "js/jquery.simplefileinput.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            function ContCalc() {
                var totalCount = $(".textarea").attr('l-count');
                $lcount = $(".textarea .l-count");
                console.log($(this).val().length);
                $lcount.html('осталось '+ (parseInt(totalCount) - $(this).val().length)+' символов')
            }
            $('.textarea textarea').on("keyup",ContCalc);
            $('.textarea textarea').on("keydown",ContCalc);


            $('[data-toggle="popover"]').hover(
                function () {
                    $(this).popover('show');
                },
                function () {
                    $(this).popover('hide');
                }
            );

            $(".photos-uploaders input[type='file']").simpleFileInput({
                placeholder : 'Select an image',
                buttonText : '<p>+</p>',
                allowedExts : ['png', 'gif', 'jpg', 'jpeg'],
                wrapperClass : 'spec-file-input',
                width: 33,
                uploadPlace: '#upload-place',
                uploadImg: true
            });

            $(".additional-photos input[type='file']").simpleFileInput({
                placeholder : '<b>Загрузить фото</b>',
                allowedExts : ['png', 'gif', 'jpg', 'jpeg'],
                wrapperClass : 'addtnl-file-input',
                width: 300,
                uploadPlace: '#upload-place',
                uploadImg: true
            });

            $('select').niceSelect();
            $('#carousel').owlCarousel({
                slideSpeed : 300,
                paginationSpeed : 400,
                singleItem:true
            });

            $("input[type='checkbox'], input[type='radio']").iCheck({
                checkboxClass: 'iradio_square-blue c-check',
                radioClass: 'iradio_square-blue c-check',
            });

            $(".full-info a").on("click", function (e) {
                e.preventDefault();
                var cls = $(this).attr("for");
                if($(cls).hasClass('full')){
                    $(cls).removeClass("full");
                }
                else{
                    $(cls).addClass("full");
                }
            });

        })
    </script>
{% endaddtoblock %}