{% load static sekizai_tags %}
{% load user_tag %}
{% load product_tag %}


<div role="tabpanel" class="tab-pane create-tab-content active" id="publication">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-7 p-r-30">
                <div class=" expert-info">
                    <img class="m-r-35" width="125px" height="125px" src="{% static "images/expamples/men-ico.png" %}">
                    <div class="expert-description inln-blck vertical-top">
                        <p class="f-16 blue-color bold">Андрей, эксперт по ценам</p>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non mauris nec nulla pellentesque consectetur a sit amet elit. Duis turpis ipsum, molestie quis lectus eu, scelerisque vestibulum libero. Cras sit amet nulla porta, fermentum dui id, pellentesque velit. Mauris eget nunc id risus volutpat interdum nec at est. Proin aliquet faucibus diam, at facilisis dui varius et. Cras fermentum aliquam ex ac placerat. Donec ultricies convallis lacus.
                            <br><br>
                            Nullam non mauris nec nulla pellentesque consectetur a sit amet elit. Duis turpis ipsum, molestie quis lectus eu, scelerisque vestibulum libero. Cras sit amet nulla porta, fermentum dui id, pellentesque velit.
                        </p>
                    </div>
                </div>
                <h2 class="m-b-45 m-t-75">Установите цену на устройство</h2>
                <div>
                    <div class="row m-0 m-b-55">
                        <div class="inln-blck f-18">Рекомендуемая цена: <span class="bold dark_green-color">{{ recommended_price }} <span class="f-10">грн</span></span></div>
                        <div class="right inln-blck f-18" style="float: right">
                            Своя цена:
                            {{ product_form.price }}
                        </div>
                    </div>
                    <div class="row f-12 m-b-15 grey-color">
                        <div class="col-xs-6">
                            <p>Максимальная цена</p>
                            <p class="f-16 bold" id="#max-price">{{ max_price}} <span class="f-10">грн.</span></p>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p>Минимальная цена</p>
                            <p class="f-16 bold" id="#min-price">{{ min_price  }} <span class="f-10">грн.</span></p>
                        </div>
                    </div>
                    <div class="slider-wrapper m-b-35">
                        <div class="slider">
                        </div>

                            <div class="popover right" id="sl-r-popover"> <div class="arrow"></div>
                                <div class="popover-content content-pop">
                                    <p>По умолчанию ползунок установлен на оптимальную
                                        цену с точки зрения сроков и выгоды сделки.
                                        <br><br>
                                        Минимальная цена соответствует примерной цене
                                        мгновенного выкупа телефона.
                                        <br><br>
                                        Потяните ползунок для изменения параметров сделки.
                                    </p>
                                </div>
                            </div>
                    </div>
                    <p class="m-b-25">СОВЕТ: <span class="sovet">с учётом указанных Вами характеристик, наш сервис подобрал оптимальную цену и пороги минимальной и максимальной стоимости устройства.</span>  </p>
                    <div class="row m-b-55">
                        <div class="col-xs-6">
                            <p class="f-18"><img src="{% static "images/slider/wallet.png" %}"> Вы заработаете: <span class="bold dark_green-color" id="profit"></span> <span class=" bold dark_green-color f-10">грн.</span></p>
                        </div>
                        <div class="col-xs-6">
                            <p class="f-18 text-right"><img src="{% static "images/slider/timer.png" %}"> Срок сделки: <span class="bold dark_green-color srok">2 недели</span></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-5 p-l-30 progresses-info">
                <div>
                    <div class="flex m-b-55">
                        <div class="m-r-15">
                            <div class="circle-progress" id="circle" data-value="{% notice_progress request float=True %}" data-size="70" data-thickness="4" data-reverse="true">
                                <strong class="percent"></strong>
                            </div>
                        </div>
                        <div class="inln-blck">
                            <p class="bold">Обьявление заполнено на {% notice_progress request %}%</p>
                            <p>СОВЕТ для повшения вероятности продажи заполните поле: "Комплектация"</p>
                            <br>
                            <a class="bold underline blue-color" href="#">УЛУЧШИТЬ!</a>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="m-r-15">
                        <div class="circle-progress"data-value="{% user_progress request.user float=True %}" data-size="70" data-thickness="4" data-reverse="true">
                            <strong class="percent"></strong>
                        </div>
                    </div>
                    <div class="inln-blck">
                        <p class="bold">Профиль заполнен на {% user_progress request.user %}%</p>
                        <p>СОВЕТ для повшения уровня доверия: подтвердите номре телефона</p>
                        <br>
                        <a class="bold underline blue-color" href="#">УЛУЧШИТЬ!</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="form-group chose-phone-cheract row">
                <label class="col-xs-3">Торг уместен</label>
                <div class="col-xs-6 p-0">
                    {% for item in product_form.bargain %}
                        <div class="check-state col-xs-4 active p-0">
                            <div class="iradio_square-blue c-check" style="position: relative;">
                                {{ item.tag }}
                            </div>
                            <p class="inln-blck" style="vertical-align: top"><span class="main-text">{{ item.choice_label }}</span><br></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <h2 class="m-t-80">Проведите проверку утсройства</h2>
            <br>
            <p class="m-b-50">
                С помощью сервиса sellFone Вы можете заработать больше и быстрее, продавая проверенный телефон. Наш технический эксперт проведет проверку устройства и предоставит официальный документ, который  увеличит Ваши шансы на выгодную сделку. Проверенные телефоны продаются в 3 раза быстрее, чем телефоны без проверки.
            </p>
            <div class="form-group chose-phone-cheract row">
                <label class="col-xs-3">Провести проверку</label>
                <div class="col-xs-6 p-0">
                    <div class="check-state col-xs-4 active p-0">
                        <div class="iradio_square-blue c-check" style="position: relative;"><input type="radio" value="1" name="group4"></div>
                        <p class="inln-blck" style="vertical-align: top"><span class="main-text">Да</span><br></p>
                    </div>
                    <div class="check-state col-xs-4 p-0">
                        <div class="iradio_square-blue c-check" style="position: relative;"><input type="radio" value="1" name="group4"></div>
                        <p class="inln-blck" style="vertical-align: top"><span class="main-text">Нет</span><br></p>
                    </div>
                    <div class="col-xs-4"><a class="blue-color underline bold" href="#">Узнать больше</a></div>
                </div>
            </div>
        </div>
        <div class="bottom-create-block text-right">
            <button type="button" class="button-cr-ad mini"><img src="{% static "images/bin.png" %}"></button>
            <button type="button" class="button-cr-ad ">Сохранить и выйти</button>
            <button class="button-cr-ad ">Предпросмотр</button>

            <submit data-toggle="modal"  onclick="$('#ModalExprAd').modal('show')" class="button-cr-ad green-background pulic" style="padding: 10px; vertical-align: unset">ОПУБЛИКОВАТЬ!</submit>
            <button class="button-cr-ad green-background vikup" hidden>ВЫКУП!</button>
        </div>
    </form>
</div>
<div class="row m-0 shadow m-t-50 m-b-30">
    <div class="adv-blck col-xs-6 flex">
        <div class="m-r-25">
            <img src="{% static "images/exchange.png" %}">
        </div>
        <div class="inln-blck">
            <h3 class="blue-color m-b-20 m-t-0">Обменяй на новый!</h3>
            <p class="m-b-20">
                Доплати <span class="f-24">2 000</span> грн. и получи<br>
                абсолютно новый смартфон!
            </p>
            <a class="advert-button">Обменять!</a>
        </div>
    </div>
    <div class="adv-blck flex col-xs-6">
        <div class="m-r-25">
            <img src="{% static "images/vikup.png" %}">
        </div>
        <div class="inln-blck">
            <h3 class="blue-color m-b-20 m-t-0">Мгновенный выкуп!</h3>
            <p class="m-b-20">
                Воспользуйся услугой мгновенного выкупа и заработай<br>
                <span class="f-24">3 000 - 4 000</span> грн. за 30 минут!
            </p>
            <a class="advert-button">Выкуп!</a>
        </div>
    </div>
</div>

<!--MODAL_BEGIN-->
<div class="modal fade" id="ModalExprAd" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Контактные данные</p>
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body" style="width: 630px;">
                <div class="form-group chose-phone-cheract lgrey-background" style="margin-top: -10px;">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{% static 'images/succes_03.png' %}">
                        </div>
                        <div class="col-md-10">
                            <p class="">Отличная работа! Для публикации объявления осталось ввести контактные данные и указать удобный способ получения оплаты!</p>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="m-b-30 m-l-30 m-r-30">
                        <div class="row m-t-15">
                            <div class="col-md-4">
                                <label class="normal-font" for="textN">Имя</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="phone-cheract bold" id="textN" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row m-t-15">
                            <div class="col-md-4">
                                <label class="normal-font" for="text1">Фамилия</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="phone-cheract bold" id="text1" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row m-t-15">
                            <div class="col-md-4">
                                <label class="normal-font" for="text2">Город</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="phone-cheract bold" id="text2" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row m-t-15">
                            <div class="col-md-4">
                                <label class="normal-font" for="text3">Телефон</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="phone-cheract bold" id="text3" placeholder="+38 091 212 55 55" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row m-t-15">
                            <div class="col-md-4">
                                <label class="normal-font" for="text4">Служба доставки</label>
                            </div>
                            <div class="col-md-8">
                                <select class="addtnl-ch" id="text4" style="display: none;">
                                    <option>Нова Пошта</option>
                                    <option>Укр пошта</option>
                                    <option>Нічний експрес</option>
                                </select>
                            </div>
                        </div>
                        <div class="row m-t-15">
                            <div class="col-md-4">
                                <label class="normal-font">Отделение</label>
                            </div>
                            <div class="col-md-8">
                                <select class="addtnl-ch" style="display: none;">
                                    <option>№1 мини отделение (до 30кг) Поплавського, 1</option>
                                    <option selected>№2 Горького-Полежайкина, 188</option>
                                    <option>№3 Разина, 45</option>
                                </select>
                            </div>
                        </div>
                        <div class="row m-t-15">
                            <div class="col-md-4">
                                <label class="normal-font">Способ получения оплаты</label>
                            </div>
                            <div class="col-md-8">
                                <div class="row m-b-15">
                                    <div class="col-md-12">
                                        <input type="checkbox" name=""><span class="m-r-20"></span>Наличный расчет
                                    </div>
                                </div>
                                <div class="row m-b-15">
                                    <div class="col-md-12">
                                        <input type="checkbox" name=""><span class="m-r-20"></span>Банковская оплата
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center  m-l-20 m-r-20">
                        <button type="button"  class="btn-block buy-btn green-background" onclick="$('#myModal').modal('show')">ОПУБЛИКОВАТЬ ОБЬЯВЛЕНИЕ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--MODAL_END-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document" style="margin-top: 70px;">
        <div class="modal-content">
            <div class="" style="margin: 10px; border: 1px solid #929292;">
                <p class="text-center"><img src="{% static 'images/thumbs-up.png' %}" style="margin-top: -65px;"></p>

                <div class="modal-body">
                    <p class="text-center bold dark_green-color m-b-10">Отличная работа!</p>
                    <p class="text-center bold">Спасибо за создание обьявления и выбор нашего сервиса!</p>
                    <p class="text-center m-t-15">Ваше обьявление отправлено на модерацию и будет опубликовано в ближайшее время. </p>
                    <p class="text-center">Отследить статус и внести изменения можно в личном кабинете.</p>
                    <button type="button" class="btn-modal-sell-more" href="#" >Продать ещё</button>
                    <button type="button" class="btn-modal-to-cabinet green-background" style="width: auto;">ЛИЧНЫЙ КАБИНЕТ</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% addtoblock "extrajs" %}
<script src="{% static "js/jquery.simplefileinput.js" %}"></script>
<script src="{% static "js/circle-progress.min.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        // $('.pulic').on('click', function(event) {
        //     event.preventDefault();
        //     /* Act on the event */
        // });




        var rec = 'По умолчанию ползунок установлен на <br> оптимальной цене с точки зрения сроков и выгоды <br>сделки.Минимальная цена соответсвует примерной цене <br>мгновенного выкупа телефона. <br>Вы можете перемещать ползунок';
        var rec_sov = 'С учетом указанных Вами характеристик, наш сервис подобрал оптимальную цену и границы максимальной и минимальной цены устройства. Для ускорения процесса продажи рекомендуем снизить цену';
        var rec_sov_srok = '2 недели';
        var opt = 'Это оптимальный вариант для самостоятельной и <br> относительно быстрой продажи. Для более <br> быстрого получения средств переместите <br> ползунок вправо';
        var opt_sov = 'Чем ниже цена, тем выше вероятность быстрой продажи';
        var opt_sov_srok = '1 неделя';
        var buy = 'Для получения средств необходимо обратиться в <br> одно из наших представительств или отправить <br> устройство нам для проверки (доставкабесплатна)<br>.Если Вы хотите получить более выгодное <br> предложение по быстрому выкупу Вашего <br> гаджета, мы рекомендуем провести аукцион среди <br> наших партнеров, и через несколько часов <br> получить несколько предложений для выбора <br> оптимального решения для Вас';
        var buy_sov = 'Мы готовы рассмотреть моментальный выкуп Вашего устройства после его проверки';
        var buy_sov_srok = 'Выкуп 30 минут';
        var long = 'Поскольку данная цена выше рыночной, процесс <br> продажи может занять очень много времени';
        var long_sov = 'Чем выше цена, тем дольше процесс продажи.Рекомендуем установить рыночную цену';
        var long_sov_srok = 'более 4 недель';
        var max_buy = 'Данная цена намного превышает рыночную цену,<br> что не позволит быстро получить свои средства.<br> Также цены на новые устройства периодически <br> снижаются, что увеличивает вероятность того, что <br> Ваше устройство может быть не продано вовсе';
        var max_buy_sov = 'Это максимальная цена на данное устройство. Рекомендуем установить рыночную цену';
        var max_buy_srok = 'более 6 недель';
        var init_val = -{{ recommended_price }};
        var init_max = {{ max_price }};
        var init_min = {{ min_price }};

        var but_sh = function () {
            $('.vikup').hide();
            $('.pulic').show();
        };
        $( ".slider" ).slider({
            animate: true, // Анимация ползунка
            range: "min", // Фон пути ползунка, если это свойство убрать, то синей линии не будет.
            value: init_val, // Значение по умолчанию.
            min: -1*{{ max_price }}, // Минимальная сумма.
            max: -1*{{ min_price }}, // Максимальная сумма.
            step: 50, // Шаг диапазона.
{#            _this_val = #}
            // Вывод диапазона
            slide: function( event, ui ) {
                $popover = $(".slider").find("#popover-slider");
                $popover.find(".popover-content" ).html('<p class="f-16 bold">'+-1*ui.value+' <span class="f-10">грн.</span></p>');
                $popover.css({'left': -1*$popover.width()/2+14+"px"});
                if(-1*ui.value === init_min){
                    $('.content-pop').html(buy);
                    $('.sovet').html(buy_sov);
                    $('.srok').html(buy_sov_srok);
                    $('.vikup').show();
                    $('.pulic').hide();
                }else if(-1*ui.value === -1*init_val){
                    $('.content-pop').html(rec);
                    $('.sovet').html(rec_sov);
                    $('.srok').html(rec_sov_srok);
                    but_sh();
                }else if(init_min < -1*ui.value && -1*ui.value < -1*init_val){
                    $('.content-pop').html(opt);
                    $('.sovet').html(opt_sov);
                    $('.srok').html(opt_sov_srok);
                    but_sh();
                }else if(init_max > -1*ui.value && -1*ui.value > -1*init_val){
                    $('.content-pop').html(long);
                    $('.sovet').html(long_sov);
                    $('.srok').html(long_sov_srok);
                    but_sh();
                }else if(init_max === -1*ui.value){
                    $('.content-pop').html(max_buy);
                    $('.sovet').html(max_buy_sov);
                    $('.srok').html(max_buy_srok);
                    but_sh();
                }
            },
            // Вывод диапазона в поле input
            change: function(event, ui) {
                $('.myprice').attr('value', -1*ui.value);
                $('#profit').html(-1*ui.value);
            },
            create: function( event, ui ) {
                $h = $(".slider").find(".ui-slider-handle");
                $h.html('<div class="popover top" id="popover-slider"> <div class="arrow"></div>  <div class="popover-content"> <p class="f-16 bold">'+-1*init_val+' <span class="f-10">грн.</span></p> </div> </div>');
                $popover = $(".slider").find("#popover-slider");
                $popover.css({'left': -1*$popover.width()/2+14+"px"});
                $('.myprice').attr('value', -1*init_val);
                $('#profit').html(-1*init_val);
            }

        });


        $('.circle-progress').circleProgress({
            fill: {
                gradient: ["#2e9df7", "#0f7ed8"]
            }
        }).on('circle-animation-progress', function(event, progress, stepValue) {

            $(this).find('strong').text((stepValue.toFixed(2).substr(2))+'%');
        });

        $('[data-toggle="popover"]').hover(
            function () {
                $(this).popover('show');
            },
            function () {
                $(this).popover('hide');
            }
        );

        $('select').niceSelect();

        $("input[type='checkbox'], input[type='radio']").iCheck({
            checkboxClass: 'iradio_square-blue c-check',
            radioClass: 'iradio_square-blue c-check',
        });
{#        $('#ModalExprAd').modal()#}

    })
</script>
{% endaddtoblock %}