{% load thumbnail static %}

<h2 class="m-t-10 m-b-45">{{ device.name }}</h2>
<div class="text-center m-b-30">
	{% if device %}
		<img src="{{ device.image|thumbnail_url:'device_image' }}" alt="" />
	{% else %}
		<img class="prev-prod-img" src="{% static "images/create_ad/phone.png" %}">
	{% endif %}
</div>
<div class="">
    <table class="prev-table-cheract">
        <tbody>
            <tr>
                <td>Производитель</td>
                <td>{{ device.brand }}</td>
            </tr>
            <tr>
                <td>Тип</td>
                <td>{{ device.type }}</td>
            </tr>
            <tr>
                <td>Диагональ экрана, дюймы</td>
                <td>{{ device.display.diag|floatformat }}</td>
            </tr>
            <tr>
                <td>Цвет</td>
                <td class="color">{{ device.colors.all.0 }}</td>
            </tr>
            <tr>
                <td>Память</td>
                <td class="mem_size">{{ device.mem_size.all.0 }}GB</td>
            </tr>
        </tbody>
    </table>
</div>
