                        <div class="cat-c-p" >
                            <div class="row">
                                <div class="col-xs-6">
                                    <p class="f-16">СТОИМОСТЬ ВАШЕГО ТЕЛЕФОНА</p>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <p class="f-10">до  <span class="f-26" style="line-height: 1;">{{ recommended_price }}</span>  грн.<br>минимальная цена на рынке 3 570 грн.</p>
                                </div>
                            </div>
                        </div>
                        <div class="flex m-t-45">
                            <div class="golden-mini-medal m-r-20"></div>
                            <div>
                                <p class="f-18 blue-color" style="line-height: 1.3">
                                    Хотите получить лучшую цену
                                    <br>
                                    на свое устройство?
                                </p>
                                <p>
                                    Ответьте на пару дополнительных вопросов!
                                </p>
                            </div>
                        </div>
                        <p class="m-t-20"><a href="{% url 'products:add' %}" class="underline bold black-color">Ответить на вопросы онлайн</a></p>
                        <p class="m-t-20"><a href="#" class="underline bold black-color show-phone">Ответить по телефону с консультацией эксперта</a></p>
                        <div class="m-t-20 vertical-center block-phone" style="display: none">
                            <span class="m-r-40">Ваш телефон</span>
                            <input type="text" placeholder="097 123 45 67" class="phone-cheract italic">
                        </div>
                        <p class="m-t-50 m-b-30 grey-color f-12 italic">* указанная стоимость является средней рыночной стоимостью. Nunc elementum turpis auctor turpis feugiat pretium nec vel enim. Etiam auctor magna mauris, a condimentum risus tincidunt in.</p>
