<div class="paginator">
    <div class="row">
        {% if page_obj.has_previous %}
            <div class="col-sm-1 col-xs-2" style="text-align: left;"><a href="?{{ page_obj.previous_page_number }}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a></div>
        {% endif %}

        <div class="col-xs-10" style="text-align: center;">
            <ul class="page-list">
            {% for page in paginator.page_range %}
                <li class="{% if page == page_obj.number %}active{% else %}non-active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% if page_obj.has_next %}
            <div class="col-sm-1 col-xs-2" style="text-align: right;"><a href="?{{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></div>
        {% endif %}
    </div>
</div>