{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Тип сделки {% endblock %}

{% block styleshets %}

	<link rel="stylesheet" type="text/css" href="{% static "css/grey.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/minimal.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/chosen.min.css" %}">

{% endblock styleshets %}
{% block content %}
    <div class="content container" id="part1">
        <h1>ошибка соединения. попытайтесь позже</h1>
    </div>
{% endblock content %}

{% block extrajs %}
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
{% endblock extrajs %}