{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load thumbnail %}

{% block title %} Тип сделки {% endblock %}

{% block styleshets %}

	<link rel="stylesheet" type="text/css" href="{% static "css/grey.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/minimal.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/chosen.min.css" %}">

{% endblock styleshets %}
{% block content %}

	<div class="content container" id="part1">
        {% include 'includes/advantages_blocks.html' %}

        <div class="tab-content shadow">
            <div role="tabpanel" class="tab-pane create-tab-content active" id="model">
                <div class="row m-0">
                    <div class="col-xs-12 p-r-0 p-l-0">
                        <p class="f-30 m-b-25 bold">Ваш заказ</p>
                        <div class="justify-between m-b-65">
                            <img src="{{ product.image|thumbnail_url:'order_image' }}">
                            <div class="order_info_blck f-12">
                                <h4 class="m-b-5">{{ product.name }}</h4>
                                <p class="grey m-b-25">Код товара: 1381802</p>
                                <table class="grey">
                                    <tr class="p-b-20">
                                        <td>Внешний вид:</td>
                                        <td class="status-normal">хороший</td>
                                    </tr>
                                    <tr>
                                        <td>Работоспособность:</td>
                                        <td class="black-color">полностью рабочий</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="order_info_blck">
                                <div class="mini_seller">
                                    <h4 class="m-b-30">Продавец</h4>
                                    {% if request.user.photo %}
                                        <img class="mini_seller-avatar" src="{{ request.user.photo|thumbnail_url:'avatar_60' }}">
                                    {% else %}
                                        <img class="m-r-10" src="{% static 'images/user_ico.png' %}">
                                    {% endif %}
                                <div class="mini_seller-info">
                                    <p><img src="{% static 'images/checked.png' %}"><a class="mini_seller-name" href="#">{{ product.user.get_full_name }}</a> </p>
                                    <p><b class="mini_seller-city black-color">{{ product.user.place.get_address }},</b> {{ product.user.date_joined|timesince }} на портале</p>
                                    <p class="mini_seller-rating">
                                        <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                        <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                        <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                        <span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        &nbsp; &nbsp;
                                        197 отзывов, 70% положительных
                                    </p>
                                </div>
                                </div>
                            </div>
                            <div class="order_info_blck text-center" style="padding: 35px 50px; background-color: #f6f6f6; margin-right: -38px;">
                                <p style="font-weight: bold">К оплате продавцу:</p>
                                <p class="f-30">{{ product.price }} <span class="f-14">грн.</span></p>
                            </div>
                        </div>

                        <p class="f-30 m-b-25 bold">Подтвердите тип сделки:</p>
                        <form id="order_type_form" method="POST" action=".">
                        {{ form.errors}}
                        <table class="order_type_table" style="width: 100%;">
                            {% for type in form.fields.order_type.queryset %}
                                {% if not type.is_child %}
                            <tr class="parent_line {% if type.is_parent %}main{% endif %}">
                                <td>
                                    <div class="check-state" style="width: 190px">
                                        <input type="radio" value="{{ type.pk }}" {% if type.pk == form.fields.order_type.value %}checked=""{% endif %} name="order_type">
                                        <p class="inln-blck black-color" style="vertical-align: top"><span class="main-text">{{ type.title }}</span><br></p>
                                    </div>
                                </td>
                                <td>
                                    <p>Уровень безопасности:</p>
                                    {% for i in type.SECURITY_LEVEL.CHOICES %}
                                        {% if type.security_level == i.0 %}
                                            <p class="status-{{ type.security_level }}">{{ i.1 }}</p>
                                         {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ type.description }}
                                </td>
                                <td class="bold">
                                    {% if not type.additional_price and not type.min_price %}
                                    <p class="m-b-20">
                                        <img class="menu-item-ico" src="{% static 'images/ico/grey/phone.png' %}">
                                        <span style="vertical-align: middle">Номер телефона</span>
                                    </p>
                                    <p>
                                        <img class="menu-item-ico" src="{% static 'images/ico/grey/msg.png' %}">
                                        <span style="vertical-align: middle">Сообщение</span>
                                    </p>
                                    {% elif type.additional_price %}
                                        <p class="f-24">
                                            {{ type.additional_price }} <span class="f-14">грн.</span>
                                        </p>
                                    {% elif type.min_price %}
                                        <p class="f-24">
                                        <span class="f-14">от </span>{{ type.min_price }} <span class="f-14">грн.</span>
                                    </p>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if type.childrens.all %}
                                {% for child in type.childrens.all %}
                                <tr class="children_line">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="check-state">
                                            <input type="radio" value="{{ child.pk }}" {% if child.pk == form.fields.order_type.value %}checked=""{% endif %} name="order_type">
                                            <p class="inln-blck" style="vertical-align: top"><span class="main-text">{{ child.title }}</span><br></p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="f-24 bold">{{ child.additional_price }} <span class="f-14">грн.</span></p>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                            <tr class="parent_line">
                                <td></td>
                                <td></td>
                                <td class="f-30">Итого к оплате:</td>
                                <td class="f-30 bold green-color">{{ product.price }} <span class="f-14">грн.</span></td>
                            </tr>
                        </table>
                        {% csrf_token %}
                        </form>

                    </div>

                </div>

            </div>
        </div>
        <div class="bottom-links">
            <a class="big-link" href="#"><span class="big_arrow_left m-r-25"></span>Продолжить покупки</a>
            <a class="big-link right" href="#">Оформить заказ<span class="big_arrow_right m-l-25"></span></a>
        </div>
    </div>
{% endblock content %}

{% block extrajs %}
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/owl.carousel.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/icheck.js" %}" type="text/javascript"></script>
    <script src="{% static "js/chosen.jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.nice-select.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){

        $('select').niceSelect();

        $('[data-toggle="popover"]').hover(
            function () {
                $(this).popover('show');
            },
            function () {
                $(this).popover('hide');
            }
        );

        $("input[type='checkbox'], input[type='radio']").iCheck({
            checkboxClass: 'iradio_square-blue c-check',
            radioClass: 'iradio_square-blue c-check',
        });

        $(".full-info a").on("click", function (e) {
            e.preventDefault();
            var cls = $(this).attr("for");
            if($(cls).hasClass('full')){
                $(cls).removeClass("full");
            }
            else{
                $(cls).addClass("full");
            }
        });

            $("a.right").on("click", function () {
                $("#order_type_form").submit();
            });

        $('input[type=radio][name=order_type]').change(function () {
            alert('ajax');
        })

    })
    </script>
{% endblock extrajs %}