{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Тип сделки {% endblock %}

{% block styleshets %}

	<link rel="stylesheet" type="text/css" href="{% static "css/grey.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/minimal.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/chosen.min.css" %}">

{% endblock styleshets %}
{% block content %}

	<div class="content container" id="part1">
        {% include 'includes/advantages_blocks.html' %}

        <div class="tab-content shadow">
            <div role="tabpanel" class="tab-pane create-tab-content active" id="model">
                <div class="row m-0 p-b-40">
                    <form class="form-horiz" method="POST" action=".">
                    <div class="col-xs-7 p-l-0 p-r-65">
                        <p class="f-30 m-b-5 bold">Оформление заказа</p>
                        <p class="m-b-35">Заполните форму или <a class="underline" href="#">авторизируйтесь</a></p>

                        {% for field in form %}
                        <div class="row m-b-35">
                            <p>{{ field.errors }}</p>
                            <label class="col-xs-5 control-label">{{ field.label }}</label>
                            {{ field|add_class:'col-xs-7' }}
                        </div>
                        {% endfor %}

                        <a href="#" class="underline">Добавить коментарий к заказу</a>
                    </div>
                    <div class="col-xs-5 order_info_main">
                        <p class="f-30 m-b-5 bold">Ваш заказ</p>
                        <a class="grey-color underline" href="#">Редактировать параметры сделки</a>
                        <div class="m-t-35 order_product_info">
                            <img class="m-r-20" src="images/product/phone_prev_buy.png">
                            <div class="order_info_blck f-12">
                                <h4 class="m-b-5">{{ product.name }}</h4>
                                <p class="grey m-b-25">Код товара: 1381802</p>
                                <table class="grey">
                                    <tr class="p-b-20">
                                        <td>Внешний вид:</td>
                                        <td class="status-normal">хороший</td>
                                    </tr>
                                    <tr>
                                        <td>Работоспособность:</td>
                                        <td class="black-color">полностью рабочий</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="order_info_h m-t-30"><p class="security-ico">БЕЗОПАСНОСТЬ СДЕЛКИ</p></div>
                        <div class="row m-t-20">
                            <p class="col-xs-7">
                                Уровень безопасности сделки:
                            </p>
                            {% for i in type.SECURITY_LEVEL.CHOICES %}
                                {% if type.security_level == i.0 %}
                                    <p class="col-xs-5 status-{{ type.security_level }}">{{ i.1 }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="row m-t-20">
                            <p class="col-xs-7">
                                Гарантия на устройство:
                            </p>
                            <p class="col-xs-5">
                                30 дней
                            </p>
                        </div>

                        <div class="order_info_h m-t-45"><p class="shipping-ico">ПАРАМЕТРЫ ДОСТАВКИ</p></div>
                        <div class="row m-t-20">
                            <p class="col-xs-7">
                                Срок доставки:
                            </p>
                            <p class="col-xs-5 status-good">
                                2-3 дня
                            </p>
                        </div>
                        <div class="row m-t-20">
                            <p class="col-xs-7">
                                Стоимость доставки:
                            </p>
                            <p class="col-xs-5 addtnl-text">
                                выбирите способ доставки
                            </p>
                        </div>

                        <div class="order_info_price m-t-25">
                            <p>К оплате <span class="price right">{{ total_price }} <span class="currency">грн.</span></span></p>
                            {% csrf_token %}
                            <button type="submit" class="buy-btn m-t-30" data-toggle="modal" data-target="#modalPay">ОПЛАТИТЬ</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>>
       </div>
    </div>
{% endblock content %}

{% block extrajs %}
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/owl.carousel.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/icheck.js" %}" type="text/javascript"></script>
    <script src="{% static "js/chosen.jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.nice-select.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){

        $('select').niceSelect();

        $('[data-toggle="popover"]').hover(
            function () {
                $(this).popover('show');
            },
            function () {
                $(this).popover('hide');
            }
        );

        $("input[type='checkbox'], input[type='radio']").iCheck({
            checkboxClass: 'iradio_square-blue c-check',
            radioClass: 'iradio_square-blue c-check',
        });

        $(".full-info a").on("click", function (e) {
            e.preventDefault();
            var cls = $(this).attr("for");
            if($(cls).hasClass('full')){
                $(cls).removeClass("full");
            }
            else{
                $(cls).addClass("full");
            }
        });

            $("a.right").on("click", function () {
                $("#order_type_form").submit();
            })

    })
    </script>
{% endblock extrajs %}