{% load staticfiles %}
<!--MODAL_BEGIN-->
<div class="modal fade" id="confirm-phone" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Подтверждение телефона</p>
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">

                <form>
					<div class="m-b-30">
						<div class="row m-t-15">
							<div class="col-md-6">
								<div class='row'>
									<div class='col-md-3'><img src='{% static 'images/modal-conf-phone_03.png' %}'></div>
									<div class='col-md-9'>Быстрое восстанавление пароля к аккаунту через SMS.	</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class='row'>
									<div class='col-md-3'><img src='{% static 'images/modal-conf-phone_05.png' %}'></div>
									<div class='col-md-9'>Отметка “подтвержденного телефона” повысит доверие пользователей.</div>
								</div>
							</div>
						</div>
						<div class="row m-t-15">
							<div class="col-md-6">
								<div class='row'>
									<div class='col-md-3'><img src='{% static 'images/modal-conf-phone_09.png' %}'></div>
									<div class='col-md-9'>Закрепите номер за аккаунтом и значительно повысьте безопасность</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class='row'>
									<div class='col-md-3'><img src='{% static 'images/modal-conf-phone_10.png' %}'></div>
									<div class='col-md-9'>Защититесь от мошенничества с использованием Вашего номера.</div>
								</div>
							</div>
						</div>
						<div class="ID-grey-field lgrey-background m-t-15">
							<div class="row">
								<div class="col-md-4">
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon1">+38</span>
										<input type="text" class="form-control" id="my-phone" placeholder="097 555 3322" style="width: 100%;">
									</div>
								</div>
								<div class="col-md-3">
									<button class="getcode-btn">Получить код</button>
								</div>
								<div class="col-md-5">
									<div class='row'>
										<div style="float:left;width: 30px; position: relative;margin-top: 7px;">
											<a href="#" style="color: darkslategrey;"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i></a>
										</div>
										<div style="float: left; width: 85%; position: relative;">
											Если SMS не пришло в течении 2 минут, нажмите “Обновить”
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
					<div class="row m-t-15">
						<div class="col-md-3">
							<p class="text-right m-t-5">SMS код</p>
						</div>
						<div class="col-md-3">
							<input type="text" class="phone-cheract" id="sms-code" placeholder="12345" style="width: 100%;">
						</div>
						<div class="col-md-4">
							<button class="make-check">ПОДТВЕРДИТЬ</button>
						</div>
					</div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--MODAL_END-->