{% load staticfiles %}
<!--MODAL_BEGIN-->
<div class="modal fade" id="confirmIDdata" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Подтверждение паспорта</p>
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
				<div class="ID-grey-field lgrey-background">
					<div class="row">
						<div class="col-md-2">
							<img src="{% static 'images/shield_03.png' %}">
						</div>
						<div class="col-md-10">
							<p class="">Подтверждая свои паспортные данные, <span class="bluespan bold">Вы помагаете нам сделать сервис более безопасным</span> и значительно уменьшаете вероятность мошенничества при купле/продаже б/у устройств!</p>
						</div>
					</div>
                </div>
                <form>
					<div class="m-b-30">
						<div class="row m-t-15">
							<div class="col-md-4">
								<label>Копия первой страницы паспорта</label>
							</div>
							<div class="col-md-4 add-photo">
								<input type="file" max_files="3" multiple>
							</div>
							<div class="col-md-4">
								<p class="f-12 silver-color">ВАЖНО: Вы можете загрузить копию или фотографию, но данные должны быть отчётливо видны</p>
							</div>
						</div>
						<div class="row m-t-15">
							<div class="col-md-4">
								<label>Копия страницы с текущей пропиской</label>
							</div>
							<div class="col-md-4 add-photo">
								<input type="file" max_files="3" multiple>
							</div>
							<div class="col-md-4">
								<p class="f-12 silver-color">ВАЖНО: если прописка занимает несколько страниц, загрузите, пожалуйста, последнюю. Загрузите качественное фото прописки.</p>
							</div>
						</div>
						<div class="row m-t-15">
							<div class="col-md-4">
								<label for="ID-copy">Серия и номер паспорта <span class="status-bad">*</span></label>
							</div>
							<div class="col-md-8">
								<input type="text" class="phone-cheract bold" id="ID-copy" placeholder="AH 12345" style="width: 100%;">
							</div>
						</div>
						<div class="row m-t-15">
							<div class="col-md-4">
								<label for="ID-copy2">Адрес прописки <span class="status-bad">*</span></label>
							</div>
							<div class="col-md-8">
								<input type="text" class="phone-cheract bold" id="ID-copy2" placeholder="Город, улица, № дома, № квартиры " style="width: 100%;">
							</div>
						</div>
						<div class="ID-grey-field lgrey-background m-t-15">
							<div class="row">
								<div class="col-md-2">
									<img src="{% static 'images/savedata.png' %}">
								</div>
								<div class="col-md-10">
									<p class="bold">Ваши паспортные данные - строго конфиденциальная информация.</p>
									<p class='m-t-5'>Мы гарантируем, что Ваши данные останутся под защитой и не будут переданы третьим лицам или пользователям сервиса.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center">
						<button type="button"  class="buy-btn green-background" >ПОДТВЕРДИТЬ</button>
					</div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--MODAL_END-->