.slider-wrapper{
    background: url(../images/slider/wrapper-bg.png) no-repeat;
    padding: 6px 10px;
    background-size: 100% 100%;
}

.slider {
    height:14px !important;
    background:url(../images/slider/slider-backgr.png) no-repeat !important;
    background-size: 100% !important;
    position:relative;
    border: none !important;
    margin:0 auto;
    padding:0 10px;
}

.slider .ui-slider-handle {
    outline: none;
    width: 33px !important;
    height: 50px !important;
    border: none !important;
    position:absolute;
    top:-8px !important;
    z-index:200;
    background:url(../images/slider/handle.png) !important;
   }

.slider .ui-widget-header {
       background:url(fill.png) no-repeat left;
       height:8px;
       left:1px;
       top:1px;
       position:absolute;
}

.slider-wrapper{
    position: relative;
}

#sl-r-popover{
    display: block !important;
    max-width: 420px !important;
    width: 420px !important;
    left: 100%;
    top:0;
    bottom: 0;
    margin: auto;
    min-height: 135px !important;
    margin-left: 48px;
}

.slider .ui-slider-handle .popover{
    top: auto !important;
    bottom: 100%;
    margin: auto;
    min-width: 100px ;
    text-align: center;
    display: block !important;
    background: #b1b1b1 !important;
    color: #fff !important;
    position: absolute;!important;
    margin-bottom: 20px;
}

.slider .ui-slider-handle .popover .popover-content{
    background-color: #b1b1b1;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.slider .ui-slider-handle .popover.top > .arrow:after{
    border-top-color: #b1b1b1 !important;
}