@import url(nice-select.css);
@import url(monosocialiconsfont.css);
@import url(lightslider.min.css);
@import url(chosen.min.css);
@import url(icheck_all.css);
@import url(jquery.simplefileinput.css);
@import url(slider.css);
.m-0 {
  margin: 0px !important; }

.m-t-0 {
  margin-top: 0px !important; }

.m-b-0 {
  margin-bottom: 0px !important; }

.m-l-0 {
  margin-left: 0px !important; }

.m-r-0 {
  margin-right: 0px !important; }

.p-0 {
  padding: 0px !important; }

.p-t-0 {
  padding-top: 0px !important; }

.p-b-0 {
  padding-bottom: 0px !important; }

.p-l-0 {
  padding-left: 0px !important; }

.p-r-0, .prev-disp, .order_info_main {
  padding-right: 0px !important; }

.m-5 {
  margin: 5px !important; }

.m-t-5 {
  margin-top: 5px !important; }

.m-b-5 {
  margin-bottom: 5px !important; }

.m-l-5 {
  margin-left: 5px !important; }

.m-r-5 {
  margin-right: 5px !important; }

.p-5 {
  padding: 5px !important; }

.p-t-5 {
  padding-top: 5px !important; }

.p-b-5 {
  padding-bottom: 5px !important; }

.p-l-5 {
  padding-left: 5px !important; }

.p-r-5 {
  padding-right: 5px !important; }

.m-10 {
  margin: 10px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-l-10 {
  margin-left: 10px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.p-10 {
  padding: 10px !important; }

.p-t-10 {
  padding-top: 10px !important; }

.p-b-10 {
  padding-bottom: 10px !important; }

.p-l-10 {
  padding-left: 10px !important; }

.p-r-10 {
  padding-right: 10px !important; }

.m-15 {
  margin: 15px !important; }

.m-t-15 {
  margin-top: 15px !important; }

.m-b-15 {
  margin-bottom: 15px !important; }

.m-l-15 {
  margin-left: 15px !important; }

.m-r-15 {
  margin-right: 15px !important; }

.p-15 {
  padding: 15px !important; }

.p-t-15 {
  padding-top: 15px !important; }

.p-b-15 {
  padding-bottom: 15px !important; }

.p-l-15 {
  padding-left: 15px !important; }

.p-r-15 {
  padding-right: 15px !important; }

.m-20 {
  margin: 20px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.m-l-20 {
  margin-left: 20px !important; }

.m-r-20 {
  margin-right: 20px !important; }

.p-20 {
  padding: 20px !important; }

.p-t-20 {
  padding-top: 20px !important; }

.p-b-20 {
  padding-bottom: 20px !important; }

.p-l-20 {
  padding-left: 20px !important; }

.p-r-20 {
  padding-right: 20px !important; }

.m-25 {
  margin: 25px !important; }

.m-t-25 {
  margin-top: 25px !important; }

.m-b-25 {
  margin-bottom: 25px !important; }

.m-l-25 {
  margin-left: 25px !important; }

.m-r-25 {
  margin-right: 25px !important; }

.p-25 {
  padding: 25px !important; }

.p-t-25 {
  padding-top: 25px !important; }

.p-b-25 {
  padding-bottom: 25px !important; }

.p-l-25 {
  padding-left: 25px !important; }

.p-r-25 {
  padding-right: 25px !important; }

.m-30 {
  margin: 30px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.m-l-30 {
  margin-left: 30px !important; }

.m-r-30 {
  margin-right: 30px !important; }

.p-30 {
  padding: 30px !important; }

.p-t-30 {
  padding-top: 30px !important; }

.p-b-30 {
  padding-bottom: 30px !important; }

.p-l-30, .prev-disp, .order_info_main {
  padding-left: 30px !important; }

.p-r-30 {
  padding-right: 30px !important; }

.m-35 {
  margin: 35px !important; }

.m-t-35 {
  margin-top: 35px !important; }

.m-b-35 {
  margin-bottom: 35px !important; }

.m-l-35 {
  margin-left: 35px !important; }

.m-r-35 {
  margin-right: 35px !important; }

.p-35 {
  padding: 35px !important; }

.p-t-35 {
  padding-top: 35px !important; }

.p-b-35 {
  padding-bottom: 35px !important; }

.p-l-35 {
  padding-left: 35px !important; }

.p-r-35 {
  padding-right: 35px !important; }

.m-40 {
  margin: 40px !important; }

.m-t-40 {
  margin-top: 40px !important; }

.m-b-40 {
  margin-bottom: 40px !important; }

.m-l-40 {
  margin-left: 40px !important; }

.m-r-40 {
  margin-right: 40px !important; }

.p-40 {
  padding: 40px !important; }

.p-t-40 {
  padding-top: 40px !important; }

.p-b-40 {
  padding-bottom: 40px !important; }

.p-l-40 {
  padding-left: 40px !important; }

.p-r-40 {
  padding-right: 40px !important; }

.m-45 {
  margin: 45px !important; }

.m-t-45 {
  margin-top: 45px !important; }

.m-b-45 {
  margin-bottom: 45px !important; }

.m-l-45 {
  margin-left: 45px !important; }

.m-r-45 {
  margin-right: 45px !important; }

.p-45 {
  padding: 45px !important; }

.p-t-45 {
  padding-top: 45px !important; }

.p-b-45 {
  padding-bottom: 45px !important; }

.p-l-45 {
  padding-left: 45px !important; }

.p-r-45 {
  padding-right: 45px !important; }

.m-50 {
  margin: 50px !important; }

.m-t-50 {
  margin-top: 50px !important; }

.m-b-50 {
  margin-bottom: 50px !important; }

.m-l-50 {
  margin-left: 50px !important; }

.m-r-50 {
  margin-right: 50px !important; }

.p-50 {
  padding: 50px !important; }

.p-t-50 {
  padding-top: 50px !important; }

.p-b-50 {
  padding-bottom: 50px !important; }

.p-l-50 {
  padding-left: 50px !important; }

.p-r-50 {
  padding-right: 50px !important; }

.m-55 {
  margin: 55px !important; }

.m-t-55 {
  margin-top: 55px !important; }

.m-b-55 {
  margin-bottom: 55px !important; }

.m-l-55 {
  margin-left: 55px !important; }

.m-r-55 {
  margin-right: 55px !important; }

.p-55 {
  padding: 55px !important; }

.p-t-55 {
  padding-top: 55px !important; }

.p-b-55 {
  padding-bottom: 55px !important; }

.p-l-55 {
  padding-left: 55px !important; }

.p-r-55 {
  padding-right: 55px !important; }

.m-60 {
  margin: 60px !important; }

.m-t-60 {
  margin-top: 60px !important; }

.m-b-60 {
  margin-bottom: 60px !important; }

.m-l-60 {
  margin-left: 60px !important; }

.m-r-60 {
  margin-right: 60px !important; }

.p-60 {
  padding: 60px !important; }

.p-t-60 {
  padding-top: 60px !important; }

.p-b-60 {
  padding-bottom: 60px !important; }

.p-l-60 {
  padding-left: 60px !important; }

.p-r-60 {
  padding-right: 60px !important; }

.m-65 {
  margin: 65px !important; }

.m-t-65 {
  margin-top: 65px !important; }

.m-b-65 {
  margin-bottom: 65px !important; }

.m-l-65 {
  margin-left: 65px !important; }

.m-r-65 {
  margin-right: 65px !important; }

.p-65 {
  padding: 65px !important; }

.p-t-65 {
  padding-top: 65px !important; }

.p-b-65 {
  padding-bottom: 65px !important; }

.p-l-65 {
  padding-left: 65px !important; }

.p-r-65 {
  padding-right: 65px !important; }

.m-70 {
  margin: 70px !important; }

.m-t-70 {
  margin-top: 70px !important; }

.m-b-70 {
  margin-bottom: 70px !important; }

.m-l-70 {
  margin-left: 70px !important; }

.m-r-70 {
  margin-right: 70px !important; }

.p-70 {
  padding: 70px !important; }

.p-t-70 {
  padding-top: 70px !important; }

.p-b-70 {
  padding-bottom: 70px !important; }

.p-l-70 {
  padding-left: 70px !important; }

.p-r-70 {
  padding-right: 70px !important; }

.m-75 {
  margin: 75px !important; }

.m-t-75 {
  margin-top: 75px !important; }

.m-b-75 {
  margin-bottom: 75px !important; }

.m-l-75 {
  margin-left: 75px !important; }

.m-r-75 {
  margin-right: 75px !important; }

.p-75 {
  padding: 75px !important; }

.p-t-75 {
  padding-top: 75px !important; }

.p-b-75 {
  padding-bottom: 75px !important; }

.p-l-75 {
  padding-left: 75px !important; }

.p-r-75 {
  padding-right: 75px !important; }

.m-80 {
  margin: 80px !important; }

.m-t-80 {
  margin-top: 80px !important; }

.m-b-80 {
  margin-bottom: 80px !important; }

.m-l-80 {
  margin-left: 80px !important; }

.m-r-80 {
  margin-right: 80px !important; }

.p-80 {
  padding: 80px !important; }

.p-t-80 {
  padding-top: 80px !important; }

.p-b-80 {
  padding-bottom: 80px !important; }

.p-l-80 {
  padding-left: 80px !important; }

.p-r-80 {
  padding-right: 80px !important; }

.m-85 {
  margin: 85px !important; }

.m-t-85 {
  margin-top: 85px !important; }

.m-b-85 {
  margin-bottom: 85px !important; }

.m-l-85 {
  margin-left: 85px !important; }

.m-r-85 {
  margin-right: 85px !important; }

.p-85 {
  padding: 85px !important; }

.p-t-85 {
  padding-top: 85px !important; }

.p-b-85 {
  padding-bottom: 85px !important; }

.p-l-85 {
  padding-left: 85px !important; }

.p-r-85 {
  padding-right: 85px !important; }

.p-r-38 {
  padding-right: 38px !important; }

.f-8 {
  font-size: 8px !important; }

.f-10 {
  font-size: 10px !important; }

.f-12 {
  font-size: 12px !important; }

.f-14 {
  font-size: 14px !important; }

.f-16 {
  font-size: 16px !important; }

.f-18 {
  font-size: 18px !important; }

.f-20 {
  font-size: 20px !important; }

.f-22 {
  font-size: 22px !important; }

.f-24 {
  font-size: 24px !important; }

.f-26 {
  font-size: 26px !important; }

.f-28 {
  font-size: 28px !important; }

.f-30 {
  font-size: 30px !important; }

.f-32 {
  font-size: 32px !important; }

.f-34 {
  font-size: 34px !important; }

.f-36 {
  font-size: 36px !important; }

.f-38 {
  font-size: 38px !important; }

.f-40 {
  font-size: 40px !important; }

.f-42 {
  font-size: 42px !important; }

.f-44 {
  font-size: 44px !important; }

.f-46 {
  font-size: 46px !important; }

.f-48 {
  font-size: 48px !important; }

.f-50 {
  font-size: 50px !important; }

* {
  margin: 0px;
  padding: 0px; }

a:hover {
  color: #2e9df7 !important;
  text-decoration: none !important; }



.center {
  text-align: center; }

p {
  margin: 0px !important; }

.text-justify::after {
  content: "";
  width: 100%; }

.top-header {
  width: 100%;
  height: 40px;
  background-color: #f6f6f6; }
  .top-header .wrap {
    width: 100%; }
  .top-header .languages, .top-header .chose-phone, .top-header .socials {
    height: 40px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .top-header .chose-phone {
    height: 40px;
    text-align: center; }
    .top-header .chose-phone .phone {
      font-weight: bold;
      cursor: pointer;
      font-size: 14px; }
  .top-header .languages {
    font-size: 12px;
    text-align: right; }
    .top-header .languages .language {
      color: #b1b1b1;
      padding: 0px 6px; }
    .top-header .languages .language.active {
      text-decoration: underline; }

.socials {
  font-size: 28px;
  color: #b1b1b1; }
  .socials a {
    color: #b1b1b1;
    text-decoration: none; }
  .socials #twtr-ico:hover {
    color: #4ca6de; }
  .socials #fb-ico:hover {
    color: #3e5b98; }
  .socials #ggl-ico:hover {
    color: #e1422c; }
  .socials #ytb-ico:hover {
    color: #e1422c; }

.menu {
  height: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu a {
    color: #b1b1b1;
    margin-right: 40px;
    font-size: 12px; }
  .menu a:last-of-type {
    margin-right: 0px; }
  .menu a:hover {
    text-decoration: none;
    color: inherit; }

.popover {
  border-radius: 2px !important;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px #cbcbcb;
  -moz-box-shadow: 0 4px 20px #cbcbcb;
  box-shadow: 0 4px 20px #cbcbcb;
  border: none !important; }
  .popover .popover-content {
    font-size: 12px; }
  .popover .arrow {
    border-color: transparent !important; }

.prod-same-block {
  font-size: 0px; }

.advantages_block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .advantages_block .row {
    width: 100%; }
  .advantages_block .col-xs-3:first-of-type {
    text-align: left; }
  .advantages_block .col-xs-3 {
    text-align: center; }
  .advantages_block .col-xs-3:last-of-type {
    text-align: right; }
  .advantages_block .h_advant_text {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #2e9df7;
    vertical-align: middle;
    line-height: 1.2;
    margin-left: 18px;
    text-align: left; }

.login {
  color: #79bef7;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.control_elem-count {
  position: absolute;
  border-radius: 6px 7px 7px 6px/6px 6px 7px 7px;
  width: 13px;
  height: 13px;
  font-size: 8px;
  font-weight: bold;
  padding-top: 1px;
  z-index: 100;
  text-align: center; }

.bottom-header {
  height: 70px;
  background-color: #ffffff;
  border-bottom: 3px solid #b1b1b1; }
  .bottom-header .logo, .bottom-header .support, .bottom-header .search {
    height: 70px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .bottom-header .logo .row, .bottom-header .support .row, .bottom-header .search .row {
      width: 100%; }
  .bottom-header .logo img {
    max-width: 274px;
    max-height: 45px;
    width: 100%; }
  .bottom-header .control_elem {
    display: inline-block;
    vertical-align: bottom;
    padding: 0px; }
    .bottom-header .control_elem .control_elem-img {
      display: inline-block;
      position: relative; }
      .bottom-header .control_elem .control_elem-img .control_elem-count {
        background-color: #2e9df7;
        top: 4px;
        right: -6px;
        color: #fff; }
    .bottom-header .control_elem .control_elem-text {
      margin-left: 10px;
      font-size: 14px; }

.control_elem.favorite .control_elem-count {
  top: 0px !important; }

.nice-select.search-select {
  height: 36px;
  line-height: 34px;
  border-radius: 2px;
  padding-left: 10px;
  min-width: 85px;
  border-color: #b1b1b1;
  color: #b1b1b1; }

.nice-select.search-select:after {
  margin-top: -2px;
  right: 10px;
  height: 6px;
  width: 6px;
  border-color: #b1b1b1; }

.search {
  width: 100%; }
  .search .search-form {
    height: 36px;
    position: relative;
    border: 1px solid #b1b1b1;
    border-radius: 2px;
    width: 100%;
    padding-right: 36px;
    margin-left: 5px; }
    .search .search-form .search-btn, .search .search-form .search-inp {
      height: 100%;
      border: none;
      vertical-align: top;
      outline: none; }
    .search .search-form .search-btn {
      width: 36px;
      border-radius: 0px;
      position: absolute;
      right: 0;
      top: 0;
      border-left: 1px solid #b1b1b1;
      background: transparent;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .search .search-form .search-btn:hover {
      background-color: #f6f6f6; }
    .search .search-form .search-inp {
      color: #b1b1b1;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px; }

.btn {
  background: #2e9df7 !important;
  color: #ffffff !important; }

button.support-btn {
  height: 35px;
  border: 1px solid #2e9df7;
  border-radius: 3px;
  padding: 0px 20px;
  font-weight: bold; }

.video img {
  max-width: 540px;
  width: 100%;
  margin: auto; }

#part1, #part3, #part5 {
  background-color: #f6f6f6; }

#part2, #part4 {
  background-color: #ffffff; }

#advantages {
  margin-top: 45px;
  height: 130px; }
  #advantages .advantage {
    margin: auto;
    /* margin-bottom: 20px; */
    /* max-width: 270px; */
    /* height: 130px; */
    /* padding: 0px 25px; */
    /* border: 5px solid #00c200; */
    color: #00c200;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #advantages .advantage .active-ico {
      display: none;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    #advantages .advantage .static-ico {
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    #advantages .advantage .advantage-ico, #advantages .advantage .advantage-text {
      padding: 0px;
      height: 100%;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #advantages .advantage .advantage-text {
      padding-left: 5px; }
    #advantages .advantage h3 {
      margin: 0px 0px 3px 0px;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold; }
    #advantages .advantage p {
      margin: 0px; }
  #advantages .advantage:hover {
    border-color: #2e9df7;
    color: #2e9df7; }
    #advantages .advantage:hover .static-ico {
      display: none; }
    #advantages .advantage:hover .active-ico {
      display: inline-block; }

#carousel {
  margin-top: 40px; }

.cont-h {
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: center;
  color: #2e9df7
  }

.mini-product {
  margin: auto;
  margin-bottom: 30px;
  max-width: 270px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 15px 5px #dedede;
  position: relative; }
  .mini-product .price {
    z-index: 98;
    padding: 15px 5px 15px 15px;
    color: #ffffff;
    background: #44b759;
    position: absolute;
    top: -5px;
    right: -5px;
    font-weight: bold;
    border-radius: 7px 7px 7px 0px;
    font-size: 14px; }
  .mini-product .product-photo {
    width: 100%;
    height: 170px;
    text-align: center;
    position: relative; }
    .mini-product .product-photo img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1; }
  .mini-product .rating {
    font-size: 8px; }
  .mini-product .product-title {
    color: #2e9df7;
    font-weight: bold;
    margin-bottom: 20px !important;
    font-size: 12px !important; }
  .mini-product .product-description {
    padding: 15px 15px 5px 15px; }
    .mini-product .product-description h4 {
      margin: 0px 0px 5px 0px;
      font-size: 12pt; }
    .mini-product .product-description p {
      margin: 0px; }
  .mini-product .product-about {
    font-size: 9px; }
    .mini-product .product-about table td {
      padding-bottom: 10px; }
    .mini-product .product-about table td:last-of-type {
      padding-left: 10px;
      font-size: 10px;
      font-weight: bold; }

.answers h4 {
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: bold; }
.answers p {
  font-size: 13px; }

.number, .answer {
  display: inline-block; }

.number {
  font-size: 74px;
  font-weight: bold;
  color: #2e9df7;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.model {
  background-color: #ffffff;
  margin-bottom: 30px; }
  .model .model-ico {
    width: 100%;
    height: 225px;
    border-bottom: 2px solid #b1b1b1; }
  .model .model-title {
    text-align: center;
    width: 100%;
    color: #2e9df7;
    height: 85px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold; }
  .model .inner {
    width: 100%; }

#part3 {
  padding-top: 45px !important;
  padding-bottom: 0px !important; }
  #part3 .btn-get-more {
    margin-top: 65px; }

.btn-get-more {
  width: 380px;
  height: 70px;
  border-radius: 3px 3px 0px 0px !important;
  font-size: 19px !important;
  font-weight: bold !important; }

.user-info .user-image img {
  width: 40px;
  height: 40px;
  border-radius: 40px; }
.user-info .user-name {
  font-weight: bold;
  margin-bottom: 5px; }
.user-info .user-type {
  font-style: italic;
  color: #b1b1b1;
  margin-bottom: 0px; }

.comment-text {
  font-size: 16px;
  margin-top: 35px; }

#part5 {
  padding-top: 45px !important; }

.questions {
  padding: 45px 45px 45px 40px; }
  .questions ul {
    list-style-type: none; }
  .questions h4 {
    color: #2e9df7; }
  .questions .questions-block {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .questions .questions-block ul {
      flex: 1 0 auto; }
      .questions .questions-block ul li, .pointer {cursor: pointer; }
    .questions .questions-block .wrapp-get-all {
      flex: 0 0 auto; }
      .questions .questions-block .wrapp-get-all a {
        font-style: italic !important;
        color: #b1b1b1 !important; }
        .questions .questions-block .wrapp-get-all a .glyphicon {
          font-size: 11px !important; }
      .questions .questions-block .wrapp-get-all a:hover {
        text-decoration: none;
        color: #b1b1b1; }

.inln-blck {
  display: inline-block; }

.graph-btn {
  color: #b1b2b3;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer; }

.graph-btn.active, .graph-btn:hover {
  color: #ffffff;
  border-radius: 3px;
  background-color: #2e9df7; }

.question-ico, .questions {
  height: 310px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 5px #dedede; }

.question-ico {
  line-height: 0px;
  font-size: 150px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .question-ico .inner {
    width: 100%; }

#bottom {
  padding-top: 45px !important;
  background-color: #494949; }
  #bottom .logo img {
    max-width: 286px;
    width: 100%; }
  #bottom ul {
    color: #ffffff;
    list-style-type: none; }
    #bottom ul li {
      cursor: pointer; }
  #bottom #email {
    font-size: 30px;
    color: #2e9df7;
    font-weight: bold; }

.grey {
  color: #b1b1b1; }

.shadow, .mini_seller.active {
  -webkit-box-shadow: 0 4px 20px #cbcbcb;
  -moz-box-shadow: 0 4px 20px #cbcbcb;
  box-shadow: 0 4px 20px #cbcbcb; }

.search-line {
  padding-left: 35px;
  margin-top: 30px;
  margin-bottom: 45px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 5px #dedede;
  height: 75px; }
  .search-line .row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin: 0px !important; }
  .search-line .clear-inp {
    color: #b1b1b1;
    font-size: 16px; }
  .search-line .sort, .why-h4 {
    font-weight: bold; }

.sortbar {
  font-size: 13px; }
  .sortbar .sort-block {
    background-color: #ffffff;
    margin-bottom: 30px;
    padding-bottom: 8px; }
    .sortbar .sort-block .sort-line:last-of-type .sort-title {
      border-bottom: none !important; }
  .sortbar .sort-title.catalog {
    height: 55px !important;
    color: #00c200;
    background-color: #f6f6f6;
    font-size: 14px !important; }
    .sortbar .sort-title.catalog .dropdown-menu {
      top: 40px;
      left: 0;
      right: 0;
      width: 90%;
      margin: auto; }
  .sortbar .sort-line .sort-title.row {
    margin: 0px; }
  .sortbar .sort-line .sort-title, .sortbar .sort-line .option {
    padding: 0px 20px;
    height: 42px;
    font-weight: bold;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .sortbar .sort-line .sort-title p, .sortbar .sort-line .option p {
      margin: 0px; }
  .sortbar .sort-line .filter-check {
    margin-right: 10px; }
  .sortbar .sort-line .option input {
    margin-right: 10px; }
  .sortbar .sort-line .option label {
    font-weight: bold; }
  .sortbar .sort-line .sort-title {
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6; }
  .sortbar .sort-line .product-num {
    text-align: right;
    font-size: 12px;
    color: #b1b1b1; }
  .sortbar .sort-line .price-inp {
    outline: none;
    color: #b1b1b1;
    border: 1px solid #b1b1b1;
    height: 22px;
    border-radius: 2px;
    padding: 0px 5px;
    width: 70px;
    font-weight: normal; }
  .sortbar .sort-line .price-inp:first-of-type {
    margin-right: 15px; }

.paginator {
  padding: 0px 100px;
  height: 95px;
  background-color: #ffffff; }
  .paginator .row {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .paginator .page-list {
    list-style-type: none; }
    .paginator .page-list li {
      display: inline-block;
      margin-left: 25px;
      margin-right: 25px;
      font-weight: bold; }
      .paginator .page-list li a {
        color: #000; }
      .paginator .page-list li a:hover {
        text-decoration: none; }
    .paginator .page-list li.active {
      display: inline-table;
      width: 50px;
      height: 50px;
      border-radius: 100px;
      box-shadow: 0px 10px 20px 5px #e0e2e6;
      vertical-align: middle; }
      .paginator .page-list li.active a {
        display: table-cell;
        vertical-align: middle;
        color: #2e9df7 !important; }

.breadcrumb {
  color: #2d9af7;
  margin-top: 35px;
  font-size: 12px !important; }
  .breadcrumb a {
    color: #2d9af7;
    text-decoration: underline; }

ul {
  list-style-type: none; }

.buy-seller, .buy-garant {
  padding: 20px 35px;
  background-color: #f6f6f6; }
  .buy-seller .col-xs-6, .buy-garant .col-xs-6 {
    padding: 0px; }
  .buy-seller .price, .buy-garant .price {
    font-size: 30px; }
  .buy-seller .currency, .buy-garant .currency {
    font-size: 14px; }
  .buy-seller .buy-text, .buy-garant .buy-text {
    font-size: 14px;
    font-weight: bold;
    color: #464646; }

.buy-btn {
  padding-left: 25px;
  padding-right: 25px;
  height: 44px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border: none; }

.buy-seller .price, .buy-seller .currency {
  color: #00c200; }
.buy-seller .buy-btn {
  background-color: #00c200; }

.buy-garant .price, .buy-garant .currency, .bluespan {color: #2e9df7;}
.buy-garant .buy-btn {
  background-color: #2e9df7; }

#product-gallery {
  padding-right: 10px; }

#product-short-info {
  padding: 0px !important;
  padding-right: 10px !important; }

.buy-block {
  padding: 10px 10px; }

.follow-price {
  padding: 10px; }

.follow-price a {
  margin-right: 10px; }

.product-charact {
  padding: 10px;
  margin-top: 10px; }
  .product-charact ul li {
    font-size: 13px; }

.prcnt-20 {
  width: 20%;
  padding-left: 10px;
  padding-right: 10px; }

.chat {
  height: 520px;
  padding-top: 25px; }
  .chat .msg {
    position: relative;
    margin-bottom: 20px; }
    .chat .msg .user-avatar {
      position: absolute;
      display: inline-block;
      width: 30px;
      height: 30px; }
      .chat .msg .user-avatar img {
        border-radius: 30px;
        width: 30px;
        height: 30px; }
    .chat .msg .msg-text, .chat .msg span {
      position: relative;
      display: inline-block;
      padding: 7px;
      font-size: 12px; }
    .chat .msg .msg-text:after {
      top: 12px;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 7px; }
    .chat .msg .msg-date {
      font-size: 10px;
      color: #b1b1b1;
      position: absolute;
      top: 0px;
      bottom: 0px;
      margin: auto;
      line-height: 1;
      height: 20px; }
  .chat .my_msg {
    padding-left: 40px; }
    .chat .my_msg .user-avatar {
      left: 0;
      top: 0; }
    .chat .my_msg .msg-date {
      left: 100%;
      padding-left: 8px; }
    .chat .my_msg .msg-text {
      background-color: #f6f6f6;
      margin-right: 55px; }
    .chat .my_msg .msg-text:after {
      right: 100%;
      border: solid transparent;
      border-color: rgba(246, 246, 246, 0);
      border-right-color: #f6f6f6; }
  .chat .oponent_msg {
    padding-right: 40px; }
    .chat .oponent_msg .user-avatar {
      right: 0;
      top: 0; }
    .chat .oponent_msg .msg-date {
      text-align: right;
      right: 100%;
      padding-right: 8px; }
    .chat .oponent_msg .msg-text {
      background-color: #2e9df7;
      color: #fff;
      margin-left: 55px; }
    .chat .oponent_msg .msg-text:after {
      left: 100%;
      border: solid transparent;
      border-color: rgba(246, 246, 246, 0);
      border-left-color: #2e9df7; }

.send-msg {
  border-top: 2px solid #b1b1b1;
  height: 50px;
  margin-left: -30px;
  margin-right: -30px; }
  .send-msg .attach-btn, .send-msg .emoji-btn, .send-msg .send-msg-btn {
    border: none; }
  .send-msg .attach-btn, .send-msg .emoji-btn {
    background-color: transparent; }
  .send-msg .send-msg-btn {
    height: 23px;
    width: 23px;
    background-color: #00c200;
    border-radius: 20px; }
    .send-msg .send-msg-btn img {
      margin-left: 2px;
      margin-bottom: 2px; }
  .send-msg .send-msg-form input {
    width: 100%;
    border: none;
    font-size: 12px;
    padding: 0px 10px;
    outline: none; }
  .send-msg .vertical-center {
    height: 50px; }

.vertical-center {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.mini-colors {
  border-bottom: 1px solid #b1b1b1; }
  .mini-colors .mini-color {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 1px;
    border: 2px solid transparent; }
    .mini-colors .mini-color img {
      width: 100%;
      height: 100%; }
  .mini-colors .mini-color.active {
    border: 2px solid #e11936; }

#gallery img {
  width: 100%; }

.product-gallery {
  padding: 10px; }
  .product-gallery .row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px; }
    .product-gallery .row div {
      padding: 0px !important; }

.dscrptn-ph {
  color: #b1b1b1;
  padding-right: 40px; }

.good {
  color: #31b55a; }

.product-state {
  font-weight: bold;
  font-size: 16px; }

.product-state.good {
  color: #31cc31; }

.product-state.normal {
  color: yellow; }

.product-state.bad {
  color: red; }

.product-status {
  margin-bottom: 10px !important; }

.product-capacity .capacity {
  border: 1px solid #e11936;
  color: #e11936;
  padding: 3px;
  font-weight: bold; }
.product-capacity .capacity.active, .product-capacity .capacity:hover {
  background-color: #e11936;
  color: #fff; }

.seller-info {
  padding: 30px; }
  .seller-info .row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .seller-info .seller-img {
    text-align: center; }
  .seller-info .seller-img img {
    height: 75px;
    width: 75px;
    border-radius: 75px; }
  .seller-info .seller-rating {
    color: #b1b1b1;
    font-size: 15px; }
    .seller-info .seller-rating .active {
      color: #fdd600; }
  .seller-info p {
    margin: 0px; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.seller-name {
  font-weight: bold;
  color: #44a6f7; }

.seller-checked {
  text-align: right; }

.btn-act {
  border-radius: 3px;
  background-color: #b1b2b3;
  width: 109px;
  color: #ffffff;
  border: 0px;
  padding: 9px 0px;
  margin-right: 10px;
  font-size: 14px; }
  .btn-act img {
    vertical-align: middle; }

.personal-data input, .personal-data select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #4e4e4e;
  padding: 0px 5px; }
.personal-data li {
  margin-bottom: 10px; }

.btns-acts {
  font-size: 0px; }

.btn-torg {
  background-color: #db5c4c;
  border-bottom-color: #bf5a4e; }

.btn-exchng {
  background-color: #dfe3e4;
  border-bottom-color: #bcbdbd; }

.btn-question {
  background-color: #219be7;
  border-bottom-color: #2273a9; }

.btn-torg:active {
  border-top-color: #bf5a4e;
  border-right: 3px solid #bf5a4e; }

.btn-exchng:active {
  border-top-color: #bcbdbd !important;
  border-right: 3px solid #bcbdbd; }

.btn-question:active {
  border-top-color: #2273a9;
  border-right: 3px solid #2273a9; }

.descrp-wrap {
  margin-top: 10px; }

.product-descrp-text {
  background-color: #ffffff;
  padding: 10px; }

.product-cond, .product-equip {
  padding: 25px;
  background-color: #ffffff; }

.product-discus {
  background-color: #ffffff; }

.product-discus {
  padding: 10px 5px; }

.predlozh {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0px;
  border: 1px solid #b1b1b1;
  border-radius: 5px; }

.comments-bl {
  border: 1px solid #b1b1b1;
  border-radius: 5px; }

.comments-bl-h {
  background-color: #eff2f3;
  padding: 15px 0px;
  border-radius: 5px; }

.comment-img img {
  width: 28px;
  height: 28px; }

.comment {
  margin: 25px 15px 20px 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #b1b1b1; }

.comment:last-of-type {
  border-bottom-width: 0px; }

.comment-h {
  color: #b3babd; }

.comment-author {
  color: #477ea9; }

.delivery, .reklama-bl {
  background-color: #ffffff;
  padding: 10px 25px;
  margin: 0px 0px 10px 15px;
  border: 1px solid #b1b1b1; }
  .delivery ul, .reklama-bl ul {
    margin-bottom: 0px !important; }
    .delivery ul li, .reklama-bl ul li {
      font-size: 12px; }

.reklama-bl img {
  height: 100%;
  width: 100%; }

.btn-more-com {
  border: 1px solid #256799;
  background-color: #fff;
  color: #256799;
  padding: 5px 10px;
  border-radius: 5px; }

.btn-more-com:hover {
  background-color: #256799;
  color: #fff; }

.same-prod-wrap {
  width: 90%;
  margin: 0 auto; }

#description {
  margin: 0px !important;
  padding-top: 20px; }

.brdr-def {
  border: 1px solid #b1b1b1; }

.brdr-b-def {
  border-bottom: 1px solid #b1b1b1; }

.user-manip {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.user-mini, .sel-h {
  display: inline-block; }
  .user-mini img, .sel-h img {
    width: 35px;
    height: 35px;
    border-radius: 35px; }

.modal-g {
  color: #fff;
  background-color: #00c201;
  padding: 5px 12px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 23px; }

.owl-prev, .owl-next {
  position: absolute;
  font-size: 16px !important;
  width: 40px;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  bottom: 0px;
  margin: auto !important;
  border-radius: 40px; }
  .owl-prev .glyphicon, .owl-next .glyphicon {
    margin-top: 8px; }

.sbmt-price {
  font-size: 27px;
  color: #d30d37;
  font-weight: bold;
  font-style: italic; }

#garant-inps li {
  font-size: 12px; }

#block-form .imprtnt-f {
  width: 308px;
  border: 1px solid #000;
  height: 25px;
  border-radius: 5px; }
#block-form textarea {
  width: 100%;
  border-color: #c4c4c4;
  height: 200px; }
#block-form input[type="text"], #block-form textarea {
  border-radius: 5px; }

.small-textarea {
  width: 100%;
  height: 130px;
  border-color: #c4c4c4;
  border-radius: 5px; }

#condition-bl, #compl-bl, #chosen-phone, #table-chrct {
  border: 1px solid #b1b1b1; }

#condition-bl, #compl-bl {
  padding: 20px 20px 20px 10px; }
  #condition-bl select, #compl-bl select {
    width: 80%; }
  #condition-bl label span, #compl-bl label span {
    margin-left: 8px; }
  #condition-bl input[type="checkbox"], #compl-bl input[type="checkbox"] {
    margin-right: 8px !important; }

#chosen-phone {
  padding: 10px 20px 30px 10px; }
  #chosen-phone h3 {
    font-weight: normal;
    margin-bottom: 20px; }

#table-chrct tbody td {
  font-size: 12px; }

.products-place .col-md-1, .products-place .col-md-10, .products-place .col-md-11,
.products-place .col-md-12, .products-place .col-md-2, .products-place .col-md-3,
.products-place .col-md-4, .products-place .col-md-5, .products-place .col-md-6,
.products-place .col-md-7, .products-place .col-md-8, .products-place .col-md-9,
.products-place .col-xs-1, .products-place .col-xs-10, .products-place .col-xs-11,
.products-place .col-xs-12, .products-place .col-xs-2, .products-place .col-xs-3,
.products-place .col-xs-4, .products-place .col-xs-5, .products-place .col-xs-6,
.products-place .col-xs-7, .products-place .col-xs-8, .products-place .col-xs-9,
.products-place .col-lg-1, .products-place .col-lg-10, .products-place .col-lg-11,
.products-place .col-lg-12, .products-place .col-lg-2, .products-place .col-lg-3,
.products-place .col-lg-4, .products-place .col-lg-5, .products-place .col-lg-6,
.products-place .col-lg-7, .products-place .col-lg-8, .products-place .col-lg-9 {
  padding-left: 10px;
  padding-right: 10px; }

input, select, textarea {
  padding: 0px 10px; }

.owl-prev {
  left: -50px; }

.owl-next {
  right: -50px; }

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100; }

.menu-button {
  height: 40px;
  font-size: 30px;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  padding: 40px 20px 20px 20px;
  background-color: #ffffff; }
  .mobile-menu ul li {
    font-size: 18px;
    margin-bottom: 10px; }
  .mobile-menu #mobile-close {
    cursor: pointer;
    position: absolute;
    font-size: 25px;
    left: 5px;
    top: 5px; }

.middle {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.info {
  height: 70px; }

.green-color { color: #00c200 !important; }

.dark_green-color {
  color: #00c200 !important; }

.blue-color {
  color: #2e9df7 !important; }

.grey-color {
  color: #b1b1b1 !important; }

.black-color {
  color: #000000 !important; }

.golden-color {
  color: #f2ba49; }

.silver-color {
  color: #bfc2c5; }

.white-color {
  color: #fff; }

.green-background {
  background: #00c200 !important; }

.blue-background {
  background: #2e9df7 !important; }

.grey-background {
  background: #b1b1b1 !important; }

.lgrey-background {
  background: #f6f6f6 !important; }

.white-background {
  background: #fff !important; }

.favorite-link {
  color: #767676; }

.simple-btn {
  height: 35px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 16px;
  padding: 0px 25px;
  font-weight: bold;
  border: none; }

.mini_user_header {
  position: relative;
  height: 70px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .mini_user_header p {
    margin: 0px; }
  .mini_user_header .mini_user-avatar {
    width: 36px;
    height: 36px;
    margin-right: 3px;
    border-radius: 18px; }
  .mini_user_header .mini_user-info {
    display: inline-block;
    vertical-align: middle; }
    .mini_user_header .mini_user-info .mini_user-name {
      color: #464646; }
    .mini_user_header .mini_user-info .mini_user-city {
      color: #767676; }
    .mini_user_header .mini_user-info .mini_user-rating {
      color: #b1b2b3; }
      .mini_user_header .mini_user-info .mini_user-rating .active.glyphicon {
        color: #ffd905; }

.rating {
  color: #b1b2b3; }
  .rating .active.glyphicon {
    color: #ffd905; }

.seller-price {
  border-left: 1px solid #f6f6f6; }
  .seller-price h5 {
    margin: 0px; }

.mini_seller {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .mini_seller .mini_seller-avatar {
    width: 58px;
    height: 58px;
    border-radius: 58px;
    position: absolute; }
  .mini_seller .mini_seller-info {
    color: #b1b1b1;
    vertical-align: middle;
    display: inline-block;
    margin-left: 88px; }
  .mini_seller .mini_seller-name {
    color: #00c200;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 9px; }
  .mini_seller .mini_seller-rating .active {
    color: #fdd600; }
  .mini_seller .mini_seller-btn {
    width: 100%;
    color: #c1c1c1;
    border: 1px solid #c1c1c1;
    border-radius: 2px;
    background-color: #fff;
    font-weight: bold;
    height: 32px; }

.mini_seller.active {
  height: auto;
  position: absolute !important;
  top: 0;
  padding-top: 25px;
  margin-top: -25px;
  z-index: 1000;
  background-color: #fff; }

.navigation-line {
  position: relative;
  border-bottom: 2px solid #f2f2f2;
  height: 74px;
  padding: 0px 35px;
  background-color: #ffffff; }
  .navigation-line .row {
    height: 74px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .navigation-line .breadcrmb {
    font-size: 12px;
    color: #b1b2b3; }
    .navigation-line .breadcrmb a {
      color: #b1b2b3; }
  .navigation-line .declaretion-info {
    float: right;
    font-size: 10px;
    line-height: 2;
    color: #b1b1b1; }
    .navigation-line .declaretion-info .seen-count {
      margin-right: 45px; }

.product_base_info .c-title {
  color: #c4c4c4; }
.product_base_info td {
  padding: 15px;
  vertical-align: top; }

.buy_info p {
  margin: 0px; }
.buy_info td {
  padding: 20px; }
.buy_info .price {
  font-size: 36px; }
.buy_info .btn-buy {
  padding: 20px 35px !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
.buy_info .price_per-month {
  line-height: 1;
  display: inline-block; }
.buy_info .text {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px; }
.buy_info .text, .buy_info .price_per-month {
  color: #b1b1b1;
  font-weight: bold; }

.main-block {
  background-color: #ffffff; }

.nav-tabs-s {padding-left: 60px !important; border-bottom: 1px solid #959595; }
.nav-tabs-s li { display: inline-block !important; }
.nav-tabs-s li a {
      padding-top: 25px !important;
      padding-bottom: 25px !important;
      font-size: 14px;
      font-weight: bold;
      color: #000; }
.nav-tabs-s li.active a {color: #2e9df7;}



.reg-tab li { border: 1px;  border-style: ridge; display: inline-block !important; }
.reg-tab li a { padding-top: 10px !important;
      padding-bottom: 10px !important;
      font-size: 14px;
      font-weight: bold;
      color: #000; }
.reg-tab li.active a, .reg-tab li.active a:focus, .reg-tab li.active {color: #fff!important;  background-color: #00c200;}
.reg-tab li.active a:hover {color: #fff!important; background-color: #00c200;}

.price-elems, .about-check-product {
  padding: 20px 35px; }

.price-elem {
  border-right: 1px solid #f6f6f6;
  height: 83px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .price-elem .price-inf-blck {
    margin-bottom: 25px; }
  .price-elem .price-inf-blck:last-of-type {
    margin-bottom: 0px; }
  .price-elem .wrap {
    width: 100%; }

.price-elem:last-of-type {
  border-right: none; }

.price-inf-blck {
  text-align: center; }
  .price-inf-blck .text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    text-align: left; }
  .price-inf-blck .credit {
    display: inline-block;
    vertical-align: middle; }

.arrow-down {
  font-weight: bold !important;
  font-size: 10px;
  cursor: pointer; }

.table.table-phone-charact .charact-title {
  text-transform: uppercase;
  font-size: 14px;
  color: #2e9df7;
  padding: 22px 8px;
  font-weight: normal !important; }
.table.table-phone-charact tr td {
  border: none;
  color: #464646; }
.table.table-phone-charact tr td:first-of-type {
  width: 40%;
  font-weight: bold; }
.table.table-phone-charact tr:nth-child(1) td, .table.table-phone-charact tr:nth-child(2) td {
  border: none; }

.make-check {
  width: 234px;
  font-size: 14px;
  color: #00c200;
  border-radius: 2px;
  border: 1px solid #00c200;
  background-color: #fff;
  height: 44px;
  display: inline-block; }

.pasive-tabs .p-tab {
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 5px; }
  .pasive-tabs .p-tab .tab-content {
    padding: 20px 0px;
    background-color: #d3d3d3;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold; }
.pasive-tabs .p-tab:first-of-type {
  padding-left: 0px; }
.pasive-tabs .p-tab.active {
  margin-top: 0px; }
  .pasive-tabs .p-tab.active .tab-content {
    padding-top: 25px;
    background-color: #fff;
    color: #000; }
.pasive-tabs .p-tab.success .tab-content {
  background-color: #00c200; }

.bottom-create-block {
  margin: 0px -38px;
  border-top: 1px solid #d8d8d8;
  height: 120px;
  padding: 40px 38px; }

.create-tab-content {
  padding: 55px 38px 0px 38px;
  background-color: #fff; }
.fast-tab-content {
  padding: 0;
  background-color: #fff; }
.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.underline {text-decoration: underline; }

.create-prod-descrp {
  width: 100%;
  max-width: 100%;
  height: 250px;
  max-height: 250px;
  background-color: #f6f6f6;
  border: 0px;
  border-top: 1px solid #e6e6e6;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.phone-cheract {
  vertical-align: top;
  outline: none;
  float: none !important;
  height: 35px;
  display: inline-block;
  background-color: #f6f6f6;
  padding: 0px 15px;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.07); }
  .phone-cheract .list {
    width: 100%;
    background-color: #fff; }

div.phone-cheract {
  padding-top: 8px; }

.nice-select.phone-cheract {
  padding-top: 0px; }

.phone-cheract.social {
  position: relative;
  padding-left: 38px; }
  .phone-cheract.social img {
    float: left;
    position: absolute;
    left: 7px;
    top: 0;
    bottom: 0;
    margin: auto; }

.addtnl-ch {
  font-style: italic;
  color: #bababa;width:100%}

.chose-phone-cheract {
  margin-bottom: 0px !important;
  padding: 18px 0px; }
  .chose-phone-cheract .cheract-label {
    display: inline-block;
    width: 160px; }
  .chose-phone-cheract .model-ch {
    font-weight: bold;
    color: #2e9df7; }
  .chose-phone-cheract .phone-cheract {
    width: 230px; }
    .chose-phone-cheract .phone-cheract .list {
      width: 100%;
      background-color: #fff; }
  .chose-phone-cheract .phone-cheract:after {
    height: 7px;
    width: 7px; }
  .chose-phone-cheract .small {
    width: auto !important; }

.chose-phone-cheract:last-of-type {
  margin-bottom: 0px !important; }

.prev-disp {
  border-left: 1px solid #d8d8d8; }

.prev-ad-prod {
  position: relative;
  height: 437px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.prev-ad-prod.full {
  height: auto; }

.prev-ad-prod.full:after {
  box-shadow: none !important; }

.prev-ad-prod:after {
  width: 100%;
  content: "";
  box-shadow: 0px 0px 15px 15px #000;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0px 0px 16px 19px #fff;
  -moz-box-shadow: 0px 0px 16px 19px #fff;
  box-shadow: 0px 0px 16px 19px #fff; }

.prev-table-cheract {
  width: 100%; }
  .prev-table-cheract tr td {
    padding-top: 6px;
    padding-bottom: 6px; }
  .prev-table-cheract tr td:first-of-type {
    width: 60%;
    font-weight: bold; }

.full-info {
  color: #2e9df7; }

.cat-c-h, .cat-c-p {
  height: 65px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .cat-c-h .row, .cat-c-p .row {
    width: 100%; }

.cat-c-h {
  margin: 0px -38px 38px -38px;
  padding: 0px 38px;
  background-color: #f6f6f6; }

.cat-c-p {
  margin: -0px -38px 0px -30px;
  background-color: #00c200;
  color: #fff;
  padding: 0px 30px 0px 30px; }

.check-state {
  color: #b1b1b1;
  margin-bottom: 44px;
  position: relative; }
  .check-state .inln-blck {
    padding-left: 37px; }
  .check-state .main-text {
    font-weight: bold; }
  .check-state .c-check {
    position: absolute; }
  .check-state input[type=text] {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0px 20px;
    width: 100%;
    font-style: italic;
    border: none;
    height: 35px;
    background: #f6f6f6;
    outline: none; }

.check-state:hover {
  color: #464646; }
  .check-state:hover .main-text {
    color: #2e9df7; }

.check-state.active {
  color: #464646; }
  .check-state.active .main-text {
    color: #2e9df7; }

.adv-blck {
  background: #fff;
  padding: 25px 38px !important;
  border-left: 1px solid #b1b1b1; }

.adv-blck:first-of-type {
  border: none; }

.photos-uploaders {
  margin-bottom: 100px;
  position: relative; }
  .photos-uploaders .uploader {
    position: absolute;
    z-index: 98;
    height: 33px;
    width: 33px; }
  .photos-uploaders #uploader1 {
    top: 0;
    left: 280px; }
  .photos-uploaders #uploader2 {
    bottom: 0;
    left: 100px; }
  .photos-uploaders #uploader3 {
    left: 0;
    top: 0; }
  .photos-uploaders #uploader4 {
    top: 111px;
    left: 0; }
  .photos-uploaders #uploader5 {
    top: 111px;
    right: 0; }
  .photos-uploaders #uploader6 {
    right: 0;
    bottom: 0; }
  .photos-uploaders .left, .photos-uploaders .right {
    width: 130px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    display: block;
    color: #b1b1b1; }
  .photos-uploaders .left {
    right: 100%;
    text-align: right;
    padding-right: 10px; }
  .photos-uploaders .right {
    left: 100%;
    text-align: left;
    padding-left: 10px; }
  .photos-uploaders .req .left, .photos-uploaders .req .right {
    color: #000; }

.opacity-1 {
  opacity: 1; }

.opacity-0 {
  opacity: 0; }

.expert-info {
  display: flex; }

.justify-between, .order_type_table tr {
  display: flex;
  justify-content: space-between; }

.thumb-blck-100 {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 20px #cbcbcb;
  -moz-box-shadow: 0 4px 20px #cbcbcb;
  box-shadow: 0 4px 20px #cbcbcb; }
  .thumb-blck-100 img {
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.additional-photos {
  padding: 100px 0px; }

.textarea {
  position: relative; }
  .textarea .l-count {
    position: absolute;
    bottom: 10px;
    right: 5px;
    font-style: italic;
    color: #b1b1b1;
    font-size: 10px; }

.flex {
  display: flex; }

.progresses-info {
  border-left: 1px solid #d8d8d8; }

.circle-progress {
  display: inline-block;
  position: relative; }
  .circle-progress .percent {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    top: 0px;
    right: 0px;
    font-size: 12px;
    height: 20px;
    text-align: center; }

.button-cr-ad, .btn-modal-to-cabinet {
  height: 42px;
  color: #fff;
  background-color: #b1b1b1;
  padding: 0px 10px;
  width: 175px;
  border: none;
  font-weight: bold;
  vertical-align: top; }
  
  
  .btn-modal-sell-more {
  height: 42px;
    border: none;
    color: #2a62bc;
    vertical-align: top;
    background-color: transparent;
}


.button-cr-ad.mini {
  width: auto; }

.bottom-create-block {
  font-size: 0px; }
  .bottom-create-block .button-cr-ad:first-of-type {
    margin-left: 0px; }
  .bottom-create-block .button-cr-ad:last-of-type {
    margin-right: 0px; }
  .bottom-create-block .button-cr-ad {
    font-size: 14px;
    margin: 0px 5px; }

.advert-button {
  border: 2px solid #2e9df7;
  text-align: center;
  padding: 5px 0px;
  color: #2e9df7;
  background-color: #fff;
  width: 160px;
  font-size: 18px;
  display: inline-block;
  font-weight: bold; }
.more-button {
  border: 2px solid #b1b1b1;
    margin-top: 20px;
	margin-bottom: 20px;
  text-align: center;
  padding: 5px 0px;
  color: #b1b1b1;
  background-color: #fff;
  width: 160px;
  font-size: 18px;
  display: inline-block;
  font-weight: bold; }
#ModalExprAd .close , #lostpassword .close, #changepassword .close, #confirmIDdata .close, #confirm-phone .close{
  height: 22px;
  width: 22px;
  color: #b1b1b1;
  border: 1px solid #b1b1b1;
  border-radius: 11px;
  position: absolute;
  right: 25px;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 14px; }
#lostpassword .modal-dialog, #changepassword .modal-dialog {width: 415px; }
#ModalExprAd .modal-dialog, #confirmIDdata .modal-dialog, #confirm-phone .modal-dialog  {width: 670px;}
#ModalExprAd .modal-dialog .chose-phone-cheract {padding-left: 35px; }
#ModalExprAd .modal-dialog .chose-phone-cheract .phone-cheract {width: 170px; }
#ModalExprAd .modal-dialog .modal-header, #lostpassword .modal-dialog .modal-header, #changepassword .modal-dialog .modal-header , #confirmIDdata .modal-dialog .modal-header, #confirm-phone .modal-dialog .modal-header {position: relative; padding: 25px;}
#ModalExprAd .modal-dialog .modal-title {text-align: center; font-weight: bold; font-size: 20px; color: #2e9df7;}
#lostpassword .modal-dialog .modal-title, #changepassword .modal-dialog .modal-title, #confirmIDdata .modal-dialog .modal-title, #confirm-phone .modal-dialog .modal-title {text-align: center; font-weight: bold; font-size: 20px; color: #00c200;}
	
	
#ModalExprAd .modal-dialog .modal-body {
    position: relative;
    padding: 10px 0px 35px 0px; }
  #ModalExprAd .modal-dialog .model-content {
    border-radius: 2px; }
  #ModalExprAd .modal-dialog .decorate-img {
    position: absolute;
    right: 25px;
    top: 90px; }

.account {
  position: absolute;
  right: 15px;
  width: 155px;
  padding: 0px 20px;
  float: right;
  height: 100%;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .account .arrow {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #bebebe;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto; }

.account-blck.active .account:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  bottom: 0px;
  background-color: #fff;
  left: 0;
  z-index: 1000; }
.account-blck.active .account {
  -webkit-box-shadow: 0 4px 20px #cbcbcb;
  -moz-box-shadow: 0 4px 20px #cbcbcb;
  box-shadow: 0 4px 20px #cbcbcb; }
  .account-blck.active .account .arrow {
    transform: rotate(180deg); }
.account-blck.active .dropdown-login {
  opacity: 1;
  z-index: 100; }

.input-wrap:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto; }

.input-email:before {
  width: 14px;
  height: 10px;
  background: url(../images/email-input-ico.png); }

.input-pass:before {
  background: url(../images/pass-input-ico.png);
  width: 12px;
  height: 16px; }

.input-username:before {
  background: url(../images/user-input-ico.png);
  width: 14px;
  height: 16px; }

a.forgot-pass {
  text-decoration: underline;
  color: #000; }

a.forgot-pass:hover {
  color: #000 !important; }

.dropdown-login {
  z-index: -1;
  opacity: 0;
  margin-top: -3px;
  position: absolute;
  right: 15px;
  padding: 35px 55px;
  top: 100%;
  width: 470px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .dropdown-login .window-disp {
    display: none;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .dropdown-login .window-disp.active {
    display: block !important;
    opacity: 1; }
  .dropdown-login .input-wrap {
    position: relative;
    padding-left: 40px;
    padding-right: 10px;
    height: 40px;
    background-color: #f6f6f6;
    border-top: 1px solid #f4f4f4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 17px; }
  .dropdown-login .input-wrap:last-of-type {
    margin-bottom: 35px; }
  .dropdown-login input {
    outline: none;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none; }
  .dropdown-login .login-btn, .dropdown-login .signup-btn, .confirm-mail{
    border-radius: 2px;
    border: 1px solid #00c200;
    color: #00c200;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.cancelbtn {
    border-radius: 2px;
    border: 1px solid #ffffff;
    color: #b1b1b1;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.leave-feedback {
    border-radius: 2px;
    border: 1px solid #00c200;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    background: #00c200;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  .dropdown-login .login-btn:hover, .dropdown-login .signup-btn:hover {
    background-color: #00c200;
    color: #fff; }
  .dropdown-login .login-btn {
    width: 130px; }
  .dropdown-login .signup-btn {
    width: 100%; }
  .dropdown-login .login-blck {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    text-align: justify; }
  .dropdown-login .registr-blck {
    line-height: 1; }
    .dropdown-login .registr-blck a {
      color: #2e9df7; }
  .dropdown-login .social-login {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between; }
  .dropdown-login .razdelitel {
    text-align: center;
    width: 100%;
    color: #d1d1d1;
    font-style: italic;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .dropdown-login .razdelitel hr {
      width: 152px;
      display: inline-block;
      margin: 0px !important; }
    .dropdown-login .razdelitel span {
      width: 55px;
      display: inline-block; }

.expert-prices-info {
  padding: 20px 0px;
  margin-left: -60px;
  margin-right: -60px; }

.expert-price-blck {
  vertical-align: top;
  display: inline-block;
  height: 45px;
  padding: 0px 20px;
  border-right: 1px solid #fff;
  line-height: 1.1; }

.cabinet_sidebar {
  width: 163px;
  background-color: #f6f6f6;
  float: left;
  line-height: 1.7; }
  .cabinet_sidebar .sidebar_personal_info {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px; }
  .cabinet_sidebar .personal_username {
    font-weight: bold; }
  .cabinet_sidebar .personal_add-info {
    font-size: 10px;
    color: #b1b2b3; }
  .cabinet_sidebar .sidebar_menu .menu-item {
    display: block;
    padding: 15px 10px;
    color: #b1b2b3;
    font-size: 12px;
    border-top: 1px solid #fff; }
    .cabinet_sidebar .sidebar_menu .menu-item .menu-item-ico {
      margin-right: 8px;
      vertical-align: middle; }
  .cabinet_sidebar .sidebar_menu .menu-item.blue {
    background-color: #2e9df7;
    color: #fff;
    font-weight: bold; }
  .cabinet_sidebar .sidebar_menu .menu-item.blue:hover {
    color: #fff !important; }
  .cabinet_sidebar .sidebar_menu .menu-item:last-of-type {
    border-bottom: 1px solid #fff; }

.personal_cabinet_body {
  margin-left: 163px;
  min-height: 600px;
  background-color: #fff; }
  .personal_cabinet_body .collapse_line {
    margin-left: -34px;
    margin-right: -35px; }

.personal_cabinet_header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2e9df7;
  color: #fff;
  height: 45px; }
  .personal_cabinet_header h3 {
    margin: 0px; }
  .personal_cabinet_header a {
    color: #fff; }
  .personal_cabinet_header a:hover {
    color: #fff !important; }
  .personal_cabinet_header .control_panel {
    padding-left: 10px;
    padding-right: 40px; }
    .personal_cabinet_header .control_panel .control_elem {
      position: relative; }
  .personal_cabinet_header .control_elem-count {
    top: -4px;
    right: -4px;
    background: #fff;
    color: #2e9df7; }

.cabinet_content_main {
  padding: 35px 35px 0px 35px !important;
  border-right: 1px solid #f2f2f2; }

.expert-price-blck:last-of-type {
  border-right: none; }

.btn-action {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #2e9df7;
  font-weight: bold;
  color: #2e9df7; }
  
  
.btn-pay {
    background-color: white;
    height: 26px;
    padding: 0;
    border: 1px solid #00c200;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: block;
    width: 100%;
    border: 1px solid #00c200;
    font-weight: bold;
    color: #00c200;
  }

.btn-action.grey {
  color: #b1b1b1;
  border-color: #b1b1b1; }

.collapse_line {
  padding: 15px 35px;
  font-weight: bold;
  background-color: #f6f6f6;
  margin-bottom: 1px; }

.collapse_line_content {
  text-align: center;
  padding: 60px 35px; }

.collapse_line:last-of-type {
  margin-bottom: 0px; }

.infograph {
  max-width: 600px; }

.imptnt-blck {
  background-color: #f6f6f6;
  padding: 15px 25px; }

.data_to_verified .msg_b, .data_to_verified .phone_b, .data_to_verified .social_b, .data_to_verified .user_b, .data_to_verified .pay_b {
  background-position: left center !important;
  background-repeat: no-repeat !important; }
.data_to_verified .msg_b {
  background: url("../images/ico/grey/msg.png"); }
.data_to_verified .phone_b {
  background: url("../images/ico/grey/phone.png"); }
.data_to_verified .social_b {
  background: url("../images/ico/grey/social.png"); }
.data_to_verified .user_b {
  background: url("../images/ico/grey/user.png"); }
.data_to_verified .pay_b {
  background: url("../images/ico/grey/card.png"); }
.data_to_verified li {
  padding: 15px 0px 15px 32px;
  border-bottom: 2px dashed #f5f5f5;
  line-height: 1; }
  .data_to_verified li .status {
    float: right; }
.data_to_verified li:last-of-type {
  border-bottom: none; }

.verify, .unverify {
  display: inline-block;
  background-repeat: no-repeat; }

.verify {
  width: 18px;
  height: 12px;
  background: url("../images/user_status/verify.png"); }

.unverify {
  height: 12px;
  width: 12px;
  background: url("../images/user_status/unverify.png"); }

.help-text {
  font-size: 10px;
  color: #b1b1b1; }

.form-table tr td:first-of-type {
  padding-top: 8px; }
.form-table tr td {
  vertical-align: top;
  padding-bottom: 30px; }
  .form-table tr td .phone-cheract:nth-child(2n) {
    margin-left: 10px; }
.form-table tr:last-of-type td {
  padding-top: 0px; }

.line-h {
  margin-top: 50px;
  margin-bottom: 40px;
  color: #2e9df7;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .line-h hr {
    margin: 0px;
    margin-left: 15px;
    width: 100%; }

.person_rating_item li {
  background-repeat: no-repeat !important;
  background-position: left center !important;
  padding-left: 50px;
  width: 100% !important;
  height: 45px !important;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sdelka-ico {
  background: url(../images/ico/grey/sdelka.png);
  width: 26px;
  height: 20px; }

.descrp-ico {
  background: url(../images/ico/grey/descrp.png);
  width: 19px;
  height: 24px; }

.talk-ico {
  background: url(../images/ico/grey/talk.png);
  width: 26px;
  height: 23px; }

.speed-ico {
  background: url(../images/ico/grey/speed.png);
  width: 23px;
  height: 25px; }

.sdelka-ico.blue {
  background: url(../images/ico/blue/sdelka.png); }

.descrp-ico.blue {
  background: url(../images/ico/blue/descrp.png); }

.talk-ico.blue {
  background: url(../images/ico/blue/talk.png); }

.speed-ico.blue {
  background: url(../images/ico/blue/speed.png); }

.border-right {
  border-right: 1px solid #f6f6f6; }

.rating-table tr td:nth-child(2) {
  padding-left: 20px; }

.personal_rewards {
  margin-top: 30px; }
  .personal_rewards .reward {
    display: inline-block;
    margin-bottom: 15px; }

.golden-second, .golden-medal, .silver-cup {
  background-size: 100% 100% !important; }

.golden-second {
  background: url("../images/rewards/active/golden-second.png") no-repeat;
  width: 72px;
  height: 98px; }

.golden-medal {
  background: url("../images/rewards/active/golden-medal.png");
  width: 70px;
  height: 98px; }

.silver-cup {
  background: url("../images/rewards/disabled/silver-cup.png");
  width: 81px;
  height: 101px; }

.golden-mini-medal {
  background: url("../images/rewards/mini-medal.png");
  width: 47px;
  height: 60px; }

.opinion {
  padding-bottom: 50px; }
  .opinion .nav-tabs {
    border-bottom-color: #fff;
    font-size: 12px;
    margin-bottom: 0px; }
    .opinion .nav-tabs li a {
      border-radius: 2px;
      background: #f6f6f6;
      color: #b1b1b1;
      margin-right: 3px; }
    .opinion .nav-tabs li.active a {
      border: none;
      border-bottom: 1px solid #fff;
      -webkit-box-shadow: 0 4px 20px rgba(203, 203, 203, 0.41);
      -moz-box-shadow: 0 4px 20px rgba(203, 203, 203, 0.41);
      box-shadow: 0 4px 20px rgba(203, 203, 203, 0.41); }
    .opinion .nav-tabs li.active:hover a {
      border: none;
      border-bottom: 1px solid #fff; }
  .opinion .tab-content {
    background-color: #fff;
    z-index: 10;
    position: relative;
    margin: -1px -30px;
    padding: 0px 30px; }
  .opinion .opinion_item {
    padding-top: 35px; }
    .opinion .opinion_item .user-avatar {
      border-radius: 20px;
      vertical-align: top;
      margin-right: 25px; }
    .opinion .opinion_item .opinion_item_info {
      height: 100%;
      padding-top: 30px; }
    .opinion .opinion_item .opinion_item_text {
      border-left: 1px solid #f6f6f6; }

.opinion_paginator {
  text-align: center; }
  .opinion_paginator a {
    color: #b1b1b1; }
  .opinion_paginator .paginator_prev, .opinion_paginator .paginator_next {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    line-height: 1;
    text-align: center;
    font-size: 10px;
    font-weight: bold !important;
    color: #b1b1b1;
    padding-top: 6px;
    border: 1px solid #b1b1b1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
  .opinion_paginator .paginator_prev {
    margin-right: 30px; }
  .opinion_paginator .paginator_next {
    margin-left: 30px; }
  .opinion_paginator .page {
    display: inline-block;
    vertical-align: middle;
    width: 30px; }
  .opinion_paginator .page.active {
    color: #00c200; }

.status-good, .status-normal, .status-bad, .status-perfect {
  font-weight: bold; }

.status-good {color: #00c200;}

.status-normal {
  color: #ffa00a; }

.status-bad {
  color: red; }

.status-perfect {
  color: #35cd35; }

.order_info_blck {
  vertical-align: top;
  display: inline-block; }
  .order_info_blck table td {
    line-height: 1; }
  .order_info_blck table .p-b-20 td {
    padding-bottom: 20px; }
  .order_info_blck table td:nth-child(2) {
    padding-left: 30px;
    font-weight: bold; }

.check-map {
  float: right !important;
  text-align: right;
  text-decoration: underline; }

.order_type_table td {
  padding: 40px 5px; }
.order_type_table tr {
  border-bottom: 1px solid #f2f2f2; }
  .order_type_table tr td:nth-child(1) {
    width: 200px; }
    .order_type_table tr td:nth-child(1) .check-state {
      margin-bottom: 0px; }
      .order_type_table tr td:nth-child(1) .check-state p {
        padding-left: 52px; }
      .order_type_table tr td:nth-child(1) .check-state .c-check {
        top: 10px; }
  .order_type_table tr td:nth-child(2) {
    width: 170px; }
  .order_type_table tr td:nth-child(3) {
    width: 365px;
    text-align: justify;
    font-size: 12px; }
  .order_type_table tr td:nth-child(4) {
    width: 190px;
    color: #b1b1b1; }
  .order_type_table tr .additionl-check .c-check {
    top: 0px; }
.order_type_table tr:nth-child(4), .order_type_table tr:nth-child(5) {
  background-color: #f2f2f2;
  margin: 0px -38px;
  padding-left: 38px;
  padding-right: 38px; }

.order_info_h {
  font-weight: bold;
  color: #2e9df7;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2; }
  .order_info_h p {
    padding-left: 37px; }

.addtnl-text {
  font-style: italic;
  color: #b1b1b1; }

.order_info_main {
  border-left: 1px solid #f2f2f2; }
  .order_info_main .order_product_info {
    margin-left: -30px; }

.order_info_price {
  padding-top: 20px;
  line-height: 1;
  border-top: 1px solid #f2f2f2;
  font-size: 30px; }
  .order_info_price .price {
    color: #00c200;
    font-weight: bold;
    float: right;
    margin-right: 32px; }
    .order_info_price .price .currency {
      font-size: 14px; }
  .order_info_price .buy-btn {
    width: 100%;
    height: 55px;
    background-color: #00c200;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }

.security-ico {
  display: inline-block;
  background: url(../images/ico/blue/security.png) no-repeat;
  background-position: left center; }

.shipping-ico {
  display: inline-block;
  background: url(../images/ico/blue/shipping.png) no-repeat;
  background-position: left center; }

.form-horiz label, .form-horiz .pseudo_label {
  padding-top: 7px; }

.pay-modal {
  width: 535px !important; }
  .pay-modal .modal-header {
    border-bottom: 1px solid #efefef;
    text-align: center;
    padding: 24px; }
    .pay-modal .modal-header h4 {
      font-size: 20px;
      font-weight: bold;
      color: #2e9df7; }
    .pay-modal .modal-header button.close {
      width: 25px;
      height: 25px;
      color: #dedede;
      border: 1px solid #dedede !important;
      -webkit-border-radius: 13px;
      -moz-border-radius: 13px;
      border-radius: 13px;
      opacity: 1;
      font-size: 14px;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      top: auto !important;
      right: 25px; }
    .pay-modal .modal-header button.close:hover {
      color: #4c4c4c !important;
      border-color: #4c4c4c !important; }
  .pay-modal .modal-body {
    padding: 0px 54px; }
  .pay-modal .pay_order_info {
    margin: 0px -54px;
    padding: 30px 54px;
    background-color: #f6f6f6; }

.big-link {
  font-size: 30px;
  color: #b1b1b1;
  font-weight: bold; }

.big-link.right {
  float: right; }

.big-link:hover .big_arrow_left, .big-link:hover .big_arrow_right, .big-link:hover .big_arrow_right {
  background: url(../images/ico/blue/big_arrow.png) no-repeat; }

.big_arrow_left, .big_arrow_right {
  background: url(../images/ico/grey/big_arrow.png) no-repeat;
  background-position: center;
  display: inline-block;
  width: 36px;
  height: 24px;
  vertical-align: middle; }

.big_arrow_right {
  transform: rotate(180deg); }

.bottom-links {
  margin-top: 50px;
  padding-left: 38px;
  padding-right: 38px; }

@media (max-width: 1320px) {
  .container {
    padding: 0px 20px 20px !important; } }
@media (max-width: 1100px) {
  .container {
    padding: 0px 20px 20px !important; }

  #bottom #email {
    font-size: 25px; } }
@media (max-width: 900px) {
  .paginator {
    padding: 0px 10px !important; } }
@media (max-width: 768px) {
  #bottom {
    padding-top: 20px !important;
    padding-bottom: 20px !important; }

  .search-line {
    padding-left: 0px; }

  .paginator .page-list li {
    margin-left: 15px;
    margin-right: 15px; } }
@media (max-width: 600px) {
  .non-active {
    display: none !important; } }
@media (max-width: 420px) {
  .btn-get-more {
    width: 200px; }

  .container {
    padding: 0px 5px 20px !important; }

  .comment {
    margin-left: 0px;
    margin-right: 0px; } }

/*# sourceMappingURL=styles.css.map */
.topmenu{
	margin-top: 40px;
}
.topmenu_header {
    height: 55px !important;
    color: #00c200;
    font-size: 16px !important;
	font-weight:bold;
}

.topmenu_element {
    padding: 3px 20px !important;
    height: auto !important;
}
.mini-product .price {
    background: #b1b1b1;
}
.selldevice {
   background-color: #2e9df7;
    font-weight: bold;
    padding: 11px 4px 9px 0px;
}
.selldevicelink {color: antiquewhite;}
.selldevicelink:hover {color: #fff!important;}
.menu a {
    margin-right: 20px;
}

 .languages {
    font-size: 12px;
	margin-top: 17px!important;
    text-align: right;
}
 .languages .language {
    color: #b1b1b1;
    padding: 0px 6px;
}
.languages .language.active {
    text-decoration: underline;
}
.nmb {
   margin-bottom: 0px!important;
}
 .container {
    padding: 0!important;
}
.navbar-nav .blue {
    background-color: #2e9df7;
    color: #fff;
    font-weight: bold;
}
.navbar-nav .blue a, {color: #fff!important;}
.navbar-nav .blue a:hover, .col-xs-12 .f-22 a:hover, .col-xs-12 .f-22 a {color: #fff!important;}
div > .col-xs-8.advantage-text > div > p {color: #000!important;}
.m-b-10 {margin-bottom: 10px!important;}
.mr-ml25 {
    margin-right: 25px;
    margin-left: 25px;
}
.mr-ml0 {
    margin-right: 0!important;
    margin-left: 0!important;
}



.rating {   border: none;  float: left;}
.rating > input { display: none; } 
.rating > label:before {   margin: 5px;  font-size: 1.25em;  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label {   color: #ddd;  float: right; }
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85; } 



.baks {   border: none;  float: left;}
.baks > input { display: none; } 
.baks > label:before {   margin: 5px;  font-size: 1.25em;  font-family: FontAwesome;
  display: inline-block;
  content: "\f155";
}

.baks > label {   color: #ddd;  float: right; }
.baks > input:checked ~ label, /* show gold star when clicked */
.baks:not(:checked) > label:hover, /* hover current star */
.baks:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
.baks > input:checked + label:hover, /* hover current star when changing rating */
.baks > input:checked ~ label:hover,
.baks > label:hover ~ input:checked ~ label, /* lighten current selection */
.baks > input:checked ~ label:hover ~ label { color: #FFED85;  }
.description-title {
    text-transform: uppercase;
    font-size: 14px;
    color: #2e9df7;
    padding: 22px 0;
    font-weight: normal !important;
}
.sel-country-detail {
    vertical-align: top;
    outline: none;
    float: none !important;
    height: 35px;
    display: block;
    background-color: #f6f6f6;
    padding: 0px 15px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.07);
}
.price-history-header {
    color: #2e9df7;
    margin-bottom: 8px!important;
    font-size: 18px;
}
.period-btn-detail.active{
    color: #fff;
    background-color: #2e9df7;
}
.period-btn-detail {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #f6f6f6;
    border: none;
background-color: #ffffff;}
.middleprice {
    color: #00c200;
    font-size: 30px;
}
.mini_seller{
   position: initial;
}
.big_seller{
   position: absolute; 
    width: 100%;
    left: 0;
	padding: 30px 30px 20px 35px;
    top: 20px;
    background-color: #fff;
    display: none;
}
.mini_seller:hover .big_seller{
	display: block;
    position: absolute;
    z-index: 1;
}
.valid,.valid:hover{
	color: #a5a2a2!important;
}
.valid.active{
	color: #337ab7!important;
}
.chart {
  width: 100%; 
  min-height: 450px;
}
@media (min-width: 768px)
.modal-sm {
    width: 325px;
}

.ID-grey-field {
    margin: -15px -15px 0 -15px;
    padding: 15px 15px 15px 30px;
}
.input-group-addon {
    background-color: transparent!important;
}
.input-group-addon:first-child {
    border: 0;
}
.getcode-btn {
	background-color: #2e9df7;
    padding-left: 15px;
    padding-right: 15px;
    height: 34px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    border: none;
}
.normal-font{font-weight: normal!important;}
.table-splitline {border-top: 1px solid #555;}
.table-purchase-ico	{width: 36px; height: 36px; margin-right: 3px; border-radius: 18px;}
.table-purchase-model {height: 40px; margin-right: 3px;}
.table-purchase-name {display: inline-block; vertical-align: middle;}
.menu-item.active {color: #2e9df7!important;}
.purchase-number a{color:black;}
.nav>li>a:hover {background-color: transparent!important;}