@import "nice-select.css";
@import "monosocialiconsfont.css";
@import "lightslider.min.css";
@import "chosen.min.css";
@import "icheck_all.css";
@import "jquery.simplefileinput.css";
@import "slider.css";


$lightgrey-color: #f6f6f6;
$white-color: #ffffff;
$socialico-color: #b1b1b1;
$darkgrey-color: #464646;
$blue-color: #2e9df7;
$green-color: #00c200;

$topheader-height: 40px;
$bottomheader-height: 70px;
$bottom-color: #494949;

$i: 0;


@while $i < 86{

	.m-#{$i}{
		margin: 1px*$i !important;
	}
	.m-t-#{$i}{
		margin-top: 1px*$i !important;
	}
	.m-b-#{$i}{
		margin-bottom: 1px*$i !important;
	}
	.m-l-#{$i}{
		margin-left: 1px*$i !important;
	}
	.m-r-#{$i}{
		margin-right: 1px*$i !important;
	}

	.p-#{$i}{
		padding: 1px*$i !important;
	}
	.p-t-#{$i}{
		padding-top: 1px*$i !important;
	}
	.p-b-#{$i}{
		padding-bottom: 1px*$i !important;
	}
	.p-l-#{$i}{
		padding-left: 1px*$i !important;
	}
	.p-r-#{$i}{
		padding-right: 1px*$i !important;
	}

	$i: $i+5;
}

.p-r-38{
	padding-right: 38px !important;
}
$i: 8;
@while $i<=50{
	.f-#{$i}{
		font-size: 1px*$i !important;
	}

	$i: $i+2;
}


@mixin align-items($pos) {
    display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: $pos;
	-webkit-box-align: $pos;
	-ms-flex-align: $pos;
	align-items: $pos;
}

@mixin animation($time){
	-webkit-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin box-shadow($shadow){
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

*{
	margin: 0px;
	padding: 0px;
}


a:hover{
	color: $blue-color !important;
	text-decoration: none !important;
}


.center{
	text-align: center;
}

p{
	margin: 0px !important;
}

.text-justify::after{
	content: "";
	width: 100%;
}

.top-header{
	width: 100%;
	height: $topheader-height;
	background-color: $lightgrey-color;

	.wrap{
		width: 100%;
	}

	.languages, .chose-phone, .socials{
		height: $topheader-height;
		@include align-items(center);
	}
	.chose-phone{
		height: $topheader-height;
		text-align: center;
		.phone{
			font-weight: bold;
			cursor: pointer;
			font-size: 14px;
		}
	}

	.languages{
		font-size: 12px;
		text-align: right;
		.language{
			color: $socialico-color;
			padding: 0px 6px;
		}
		.language.active{
			text-decoration: underline;
		}
	}
}

.socials{
	font-size: 28px;
	color: $socialico-color;

	a{
		color: $socialico-color;
		text-decoration: none;
	}

	#twtr-ico:hover{
		color:#4ca6de;
	}

	#fb-ico:hover{
		color: #3e5b98;
	}

	#ggl-ico:hover{
		color: #e1422c;
	}

	#ytb-ico:hover{
		color: #e1422c;
	}
}


.menu{
	height: $topheader-height;
	@include align-items(center);
	a{
		color: $socialico-color;
		margin-right: 40px;
		font-size: 12px;
	}
	a:last-of-type{
		margin-right: 0px;
	}
	a:hover{
		text-decoration: none;
		color: inherit;
	}
}

.popover{
	border-radius: 2px !important;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 20px #cbcbcb;
	-moz-box-shadow: 0 4px 20px #cbcbcb;
	box-shadow: 0 4px 20px #cbcbcb;
	border: none !important;
	.popover-content{
		font-size: 12px;
	}
	.arrow{
		border-color: transparent !important;
	}
}

.prod-same-block{
	font-size: 0px;
}

.advantages_block{
	@include align-items(center);
	.row{
		width: 100%;
	}
	.col-xs-3:first-of-type{
		text-align: left;
	}
	.col-xs-3{
		text-align: center;
	}
	.col-xs-3:last-of-type{
		text-align: right;
	}
	.h_advant_text{
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		color: $blue-color;
		vertical-align:middle;
		line-height: 1.2;
		margin-left: 18px;
		text-align: left;
	}
}

.login{
	color: #79bef7;
	height: $topheader-height;
	@include align-items(center);
}

.control_elem-count{
	position: absolute;
	border-radius: 6px 7px 7px 6px/6px 6px 7px 7px;
	width: 13px;
	height: 13px;
	font-size: 8px;
	font-weight: bold;
	padding-top: 1px;
	z-index: 100;
	text-align: center;
}

.bottom-header{
	height: $bottomheader-height;
	background-color: $white-color;
	border-bottom: 3px solid $socialico-color;

	.logo, .support, .search{
		height: $bottomheader-height;
		@include align-items(center);
		.row{
			width: 100%;
		}
	}

	.logo{
		img{
			max-width: 274px;
			max-height: 45px;
			width: 100%
		}
	}


	.control_elem{
		display: inline-block;
		vertical-align: bottom;
		padding: 0px;
		.control_elem-img{
			display: inline-block;
			position: relative;
			.control_elem-count{
				background-color: $blue-color;
				top: 4px;
				right: -6px;
				color: #fff;
			}
		}
		.control_elem-text{
			margin-left: 10px;
			font-size: 14px;
		}
	}

}

.control_elem.favorite{
	.control_elem-count{
		top:0px !important;
	}
}

.nice-select.search-select{
	height: 36px;
	line-height: 34px;
	border-radius: 2px;
	padding-left: 10px;
	min-width: 85px;
	border-color: $socialico-color;
	color: $socialico-color;
}

.nice-select.search-select:after{
	margin-top: -2px;
	right: 10px;
	height: 6px;
	width: 6px;
	border-color: $socialico-color;
}

.search{
		width: 100%;
		.search-form{
			height: 36px;
			position: relative;
			border: 1px solid $socialico-color;
			border-radius: 2px;
			width: 100%;
			padding-right: 36px;
			margin-left: 5px;
			.search-btn, .search-inp{
				height: 100%;
				border:none;
				vertical-align: top;
				outline: none;
			}
			.search-btn{
				width: 36px;
				border-radius: 0px;
				position: absolute;
				right: 0;
				top: 0;
				border-left: 1px solid $socialico-color;
				background: transparent;
				@include animation(0.3s)
			}

			.search-btn:hover{
				background-color: $lightgrey-color;
			}
			.search-inp{
				color: $socialico-color;
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}


.btn{
	background: $blue-color !important;
	color:$white-color !important;
}

button.support-btn{
	height: 35px;
	border:1px solid $blue-color;
	border-radius: 3px;
	padding: 0px 20px;
	font-weight: bold;
}


.video{
	img{
		max-width: 540px;
		width: 100%;
		margin: auto;
	}
}

#part1, #part3, #part5{
	background-color: $lightgrey-color;
}

#part2, #part4{
	background-color: $white-color
}

#advantages{
	margin-top: 45px;
	height: 130px;
	.advantage{
		margin: auto;
		margin-bottom: 20px;
		max-width:270px;
		height: 130px;
		padding:0px 25px;
		border: 5px solid #aab0b5;
		color: #a8a9aa;
		@include animation(0.2s);
		.active-ico{
			display: none;
			@include animation(0.3s);
		}
		.static-ico{
			@include animation(0.1s);
		}
		.advantage-ico, .advantage-text{
			padding: 0px;
			height: 100%;
			@include align-items(center);
		}

		.advantage-text{
			padding-left: 5px;
		}

		h3{
			margin: 0px 0px 3px 0px;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: bold;
		}

		p{
			margin: 0px;
		}
	}

	.advantage:hover{
		border-color: $blue-color;
		color: $blue-color;
		.static-ico{
			display: none;
		}
		.active-ico{
			display: inline-block;
		}
	}
}

#carousel{
	margin-top: 40px;
}

.cont-h{
	font-weight: bold;
	margin-top: 45px;
	margin-bottom: 45px;
	text-align: center;
}

.mini-product{
	margin: auto;
	margin-bottom: 30px;
	max-width: 270px;
	width: 100%;
	background: $white-color;
	box-shadow: 0px 0px 15px 5px #dedede;
	position: relative;
	.price{
		z-index:98;
		padding: 15px 5px 15px 15px;
		color: $white-color;
		background: #b1b1b1;
		position: absolute;
		top: -5px;
		right: -5px;
		font-weight: bold;
		border-radius: 7px 7px 7px 0px;
		font-size: 14px;
	}
	.product-photo{
		width: 100%;
		height: 170px;
		text-align: center;
		position: relative;

		img{
			position: absolute;
			top:0;
			bottom: 0;
			left:0;
			right: 0;
			margin:auto;
			z-index: 1;
		}
	}

	.rating{
		font-size: 8px;
	}

	.product-title{
		color: $blue-color;
		font-weight: bold;
		margin-bottom: 20px !important;
		font-size: 12px !important;
	}

	.product-description{
		padding: 15px 15px 5px 15px;

		h4{
			margin: 0px 0px 5px 0px;
			font-size: 12pt;
		}
		p{
			margin: 0px;
		}
	}
	.product-about{
		font-size: 9px;
		table{
			td{
				padding-bottom: 10px;
			}
			td:last-of-type{
				padding-left: 10px;
				font-size: 10px;
				font-weight: bold;
			}
		}
	}
}

.answers{
	h4{
		font-size: 16px;
		margin-bottom: 0px;
		font-weight: bold;
	}
	p{
		font-size: 13px;
	}
}

.number, .answer{
	display: inline-block;
}

.number{
	font-size: 74px;
	font-weight: bold;
	color: $blue-color;
	@include align-items(center);
}

.model{
	background-color: $white-color;
	margin-bottom: 30px;

	.model-ico{
		width: 100%;
		height: 225px;
		border-bottom: 2px solid $socialico-color;
	}

	.model-title{
		text-align: center;
		width: 100%;
		color: $blue-color;
		height: 85px;
		@include align-items(center);
		font-size: 30px;
		font-weight: bold;
	}

	.inner{
		width: 100%;
	}
}

#part3{
	padding-top: 45px !important;
	padding-bottom: 0px !important;
	.btn-get-more{
		margin-top: 65px;
	}
}

.btn-get-more{
	width: 380px;
	height: 70px;
	border-radius: 3px 3px 0px 0px !important;
	font-size: 19px !important;
	font-weight: bold !important;
}


.user-info{
	.user-image{
		img{
			width: 40px;
			height: 40px;
			border-radius: 40px;
		}
	}

	.user-name{
		font-weight: bold;
		margin-bottom: 5px;
	}

	.user-type{
		font-style: italic;
		color: $socialico-color;	
		margin-bottom: 0px;
	}
}

.comment-text{
	font-size: 16px;
	margin-top: 35px;
}

#part5{
	padding-top: 45px !important;
}

.questions{
	padding: 45px 45px 45px 40px;

	ul{
		list-style-type: none;
	}

	h4{
		color: $blue-color;
	}

	.questions-block{
		display: flex;
		flex-direction: column;
		height: 100%;

		ul{
			flex: 1 0 auto;
			li{
				cursor: pointer;
			}
		}

		.wrapp-get-all{
			flex: 0 0 auto;
			a{
				font-style: italic !important;
				color: $socialico-color !important;
				.glyphicon{
					font-size: 11px !important;;
				}
			}

			a:hover{
				text-decoration: none;
				color: $socialico-color;
			}
		}
	}
}

.inln-blck{
	display: inline-block;
}

.graph-btn{
	color: #b1b2b3;
	padding: 10px 20px;
	font-weight: bold;
	cursor: pointer;
}

.graph-btn.active, .graph-btn:hover{
	color: $white-color;
	border-radius: 3px;
	background-color: $blue-color;
}

.question-ico, .questions{
	height: 310px;
	background-color: $white-color;
	box-shadow: 0px 0px 15px 5px #dedede;
}

.question-ico{
	line-height: 0px;
	font-size: 150px;
	text-align: center;
	@include align-items(center);
	.inner{
		width:100%;
	}
}

#bottom{
	padding-top: 45px !important;
	background-color: #494949;

	.logo{
		img{
			max-width: 286px;
			width: 100%;
		}
	}
	ul{
		color: $white-color;
		list-style-type: none;
		li{
			cursor: pointer;
		}
	}

	#email{
		font-size: 30px;
		color:$blue-color;
		font-weight: bold;
	}
}

.grey{
	color: $socialico-color;
}

.shadow{
	-webkit-box-shadow: 0 4px 20px #cbcbcb;
	-moz-box-shadow: 0 4px 20px #cbcbcb;
	box-shadow: 0 4px 20px #cbcbcb;;
}

.search-line{
	padding-left: 35px;
	margin-top: 30px;
	margin-bottom: 45px;
	background-color: $white-color;
	box-shadow: 0px 0px 15px 5px #dedede;
	height: 75px;
	.row{
		@include align-items(center);
		height: 100%;
		margin: 0px !important;
	}

	.clear-inp{
		color: $socialico-color;
		font-size: 16px;
	}

	.sort{
		font-weight: bold;
	}
}

.sortbar{
	font-size: 13px;
	.sort-block{
		background-color: $white-color;
		margin-bottom: 30px;
		padding-bottom: 8px;
		.sort-line:last-of-type{
			.sort-title{
				border-bottom: none !important;
			}
		}
	}

	.sort-title.catalog{
		height: 55px !important;
		color: $green-color;
		background-color: $lightgrey-color;
		font-size: 14px !important;
		.dropdown-menu{
			top: 40px;
			left:0;
			right: 0;
			width: 90%;
			margin: auto;
		}
	}

	.sort-line{
		.sort-title.row{
			margin: 0px;
		}
		.sort-title, .option{
			padding: 0px 20px;
			height: 42px;
			font-weight: bold;
			@include align-items(center);
			p{
				margin: 0px;

			}
		}

		.filter-check{
			margin-right: 15px;
		}

		.option{
			input{
				margin-right: 10px;
			}
			label{
				font-weight: bold;
			}
		}
		.sort-title{
			border-top: 1px solid $lightgrey-color;
			border-bottom: 1px solid $lightgrey-color;	
		}

		.product-num{
			text-align: right;
			font-size: 12px;
			color: $socialico-color;
		}

		.price-inp{
			outline: none;
			color: $socialico-color;
			border: 1px solid $socialico-color;
			height: 22px;
			border-radius: 2px;
			padding: 0px 5px;
			width: 70px;
			font-weight: normal;
		}

		.price-inp:first-of-type{
			margin-right: 15px;
		}
	}
}

.paginator{
	.row{
		height: 100%;
		@include align-items(center);
	}
	padding: 0px 100px;
	height: 95px;
	background-color: $white-color;


	.page-list{
		
		list-style-type: none;
		li{
			display: inline-block;
			margin-left: 25px;
			margin-right: 25px;
			font-weight: bold;
			a{
				color: #000;
			}

			a:hover{
				text-decoration: none;
			}
		}
		
		li.active{
			display: inline-table;
			width: 50px;
			height: 50px;
			border-radius: 100px;
			box-shadow: 0px 10px 20px 5px #e0e2e6;
			vertical-align: middle;
			a{
				display: table-cell;
				vertical-align: middle;
				color: $blue-color !important;;
			}

		}
	}
}

.breadcrumb{
	color: #2d9af7;
	margin-top: 35px;
	font-size: 12px !important;
	a{
		color: #2d9af7;
		text-decoration: underline;
	}
}


ul{
	list-style-type: none;
}

.buy-seller, .buy-garant{
	padding: 20px 35px;
	background-color: $lightgrey-color;
	.col-xs-6{padding: 0px;}
	.price{
		font-size: 30px;
	}
	.currency{
		font-size: 14px;
	}
	.buy-text{
		font-size: 14px;
		font-weight: bold;
		color: #464646
	}
}

.buy-btn{
	padding-left: 25px;
	padding-right: 25px;
	height: 44px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	border: none;
}

.buy-seller{
	.price, .currency{
		color: $green-color;
	}
	.buy-btn{
		background-color: $green-color;
	}
}

.buy-garant{
	.price, .currency{
		color: $blue-color;
	}
	.buy-btn{
		background-color: $blue-color;
	}
}

#product-gallery{
	padding-right: 10px;
}

#product-short-info{
	padding: 0px !important;
	padding-right: 10px !important;
}

.buy-block{
	padding: 10px 10px;
}

.follow-price{
	padding: 10px;
}

.follow-price a{
	margin-right: 10px;
}

.product-charact{
	padding: 10px;
	margin-top: 10px;
	ul{
		li{
			font-size: 13px;
		}
	}
}

.prcnt-20{
	width: 20%;
	padding-left: 10px;
	padding-right: 10px;
}

.chat{
	height: 520px;
	padding-top: 25px;
	.msg{
		position: relative;
		margin-bottom: 20px;
		.user-avatar{
			position: absolute;
			display: inline-block;
			width: 30px;
			height: 30px;
			img{
				border-radius: 30px;
				width: 30px;
				height: 30px;
			}
		}
		.msg-text, span{
			position: relative;
			display: inline-block;
			padding: 7px;
			font-size: 12px;
		}
		.msg-text:after{
			top:12px;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-width: 7px;
		}
		.msg-date{
			font-size: 10px;
			color: $socialico-color;
			position: absolute;
			top: 0px;
			bottom: 0px;
			margin: auto;
			line-height: 1;
			height: 20px;
		}
	}

	.my_msg{
		padding-left: 40px;
		.user-avatar{
			left: 0;
			top:0;

		}
		.msg-date{
			left: 100%;
			padding-left: 8px;
		}
		.msg-text{
			background-color: $lightgrey-color;
			margin-right: 55px;
		}
		.msg-text:after{
			right: 100%;
			border: solid transparent;
			border-color: rgba(246, 246, 246, 0);
			border-right-color: #f6f6f6;
		}
	}
	.oponent_msg{
		padding-right: 40px;
		.user-avatar{
			right: 0;
			top:0;
		}
		.msg-date{
			text-align: right;
			right: 100%;
			padding-right: 8px;
		}
		.msg-text{
			background-color: $blue-color;
			color: #fff;
			margin-left: 55px;

		}
		.msg-text:after{
			left: 100%;
			border: solid transparent;
			border-color: rgba(246, 246, 246, 0);
			border-left-color: $blue-color;
		}
	}
}

.send-msg{
	border-top:2px solid $socialico-color;
	height: 50px;
	margin-left: -30px;
	margin-right: -30px;
	.attach-btn, .emoji-btn, .send-msg-btn{
		border: none;
	}
	.attach-btn, .emoji-btn{
		background-color: transparent;
	}
	.send-msg-btn{
		height: 23px;
		width: 23px;
		background-color: $green-color;
		border-radius: 20px;
		img{
			margin-left: 2px;
			margin-bottom: 2px;
		}
	}
	.send-msg-form{
		input{
			width: 100%;
			border: none;
			font-size: 12px;
			padding: 0px 10px;
			outline: none;
		}
	}
	.vertical-center{
		height: 50px;
	}
}

.vertical-center{
	@include align-items(center);
}

.mini-colors{
	border-bottom: 1px solid $socialico-color;
	.mini-color{
		display: inline-block;
		width: 32px;
		height: 32px;
		padding: 1px;
		border: 2px solid transparent;
		img{
			width: 100%;
			height: 100%;
		}

	}

	.mini-color.active{
		border: 2px solid #e11936;
	}
}


#gallery{
	img{

		width: 100%;
	}
}
.product-gallery{
	padding: 10px;
	.row{
		@include align-items(center);
		margin: 0px;
		div{
			padding: 0px !important;
		}
	}

}

.dscrptn-ph{
	color: $socialico-color;
	padding-right: 40px;
}

.good{
		color: #31b55a;
}
.product-state{
	font-weight: bold;
	font-size: 16px;
}

.product-state.good{
		color: #31cc31;
	}

.product-state.normal{
		color: yellow;
	}
.product-state.bad{
		color: red;
	}

.product-status{
	margin-bottom: 10px !important;
}

.product-capacity{
	.capacity{
		border: 1px solid #e11936;
		color: #e11936;
		padding: 3px;
		font-weight: bold;
	}

	.capacity.active, .capacity:hover{
		background-color: #e11936;
		color: #fff;
	}
}

.seller-info{
	padding: 30px;

	.row{
		@include align-items(center);
	}
	.seller-img{
		text-align: center;
	}

	.seller-img img{
		height: 75px;
		width: 75px;
		border-radius: 75px;
	}



	.seller-rating{
		color: $socialico-color;
		font-size: 15px;
		.active{
			color: #fdd600;
		}

	}
	p{
		margin: 0px;
	}


}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.seller-name{
	font-weight: bold;
	color: #44a6f7;
}

.seller-checked{
	text-align: right;
}

.btn-act{
	border-radius: 3px;
	background-color: rgb(177, 178, 179);
	width: 109px;
	color: $white-color;
	border: 0px;
	padding: 9px 0px;
	margin-right: 10px;
	font-size: 14px;
	img{
		vertical-align: middle;
	}
}

.personal-data{
	input, select{
		width: 100%;
		border-radius: 5px;
		border: 1px solid #4e4e4e;
		padding: 0px 5px;
	}

	li{
		margin-bottom: 10px;
	}
}

.btns-acts{
	font-size: 0px;
}

.btn-torg{ 
	background-color: #db5c4c;
	border-bottom-color: #bf5a4e;
}
.btn-exchng{
	background-color: #dfe3e4;
	border-bottom-color:  #bcbdbd;
}
.btn-question{
	background-color: #219be7;
	border-bottom-color: #2273a9;
}

.btn-torg:active{
	border-top-color: #bf5a4e;
	border-right: 3px solid #bf5a4e;
}

.btn-exchng:active{
	border-top-color: #bcbdbd !important;
	border-right: 3px solid #bcbdbd;
}
.btn-question:active{
	border-top-color: #2273a9;
	border-right: 3px solid #2273a9;
}

.descrp-wrap{
	margin-top: 10px;
}
.product-descrp-text{
	background-color: $white-color;
	padding: 10px;
}

.product-cond, .product-equip{
	padding: 25px;
	background-color: $white-color;
}

.product-discus{
	background-color: $white-color;
}

.product-discus{
	padding: 10px 5px;
}

.predlozh{
	@include align-items(center);
	padding: 10px 0px;
	border: 1px solid $socialico-color;
	border-radius: 5px;
}

.comments-bl{
	border: 1px solid $socialico-color;
	border-radius: 5px;
}

.comments-bl-h{
	background-color: #eff2f3;
	padding: 15px 0px;
	border-radius: 5px;
}

.comment-img{
	img{
		width: 28px;
		height: 28px;
	}
}

.comment{
	margin: 25px 15px 20px 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid $socialico-color;
}

.comment:last-of-type{
	border-bottom-width: 0px;
}

.comment-h{
	color: #b3babd;
}

.comment-author{
	color:#477ea9;
}

.delivery, .reklama-bl{
	background-color: $white-color;
	padding: 10px 25px;
	margin: 0px 0px 10px 15px;
	border: 1px solid #b1b1b1;

	ul{
		margin-bottom: 0px !important;
		li{
			font-size: 12px;
		}
	}
}

.reklama-bl{
	img{
		height: 100%;
		width: 100%;
	}
}
.btn-more-com{
	border: 1px solid #256799;
	background-color: #fff;
	color: #256799;
	padding: 5px 10px;
	border-radius: 5px;
}

.btn-more-com:hover{
	background-color: #256799;
	color: #fff;
}

.same-prod-wrap{
	width: 90%;
	margin: 0 auto;
}

#description{
	margin: 0px !important;
	padding-top: 20px;
}

.brdr-def{
	border: 1px solid $socialico-color;
}

.brdr-b-def{
	border-bottom: 1px solid $socialico-color;
}

.user-manip{
	@include align-items(center);
}

.user-mini, .sel-h{
	display: inline-block;
	img{
		width: 35px;
		height: 35px;
		border-radius: 35px;
	}
}


.modal-g{
	color: #fff;
	background-color: #00c201;
	padding: 5px 12px;
	font-weight: bold;
	border-radius: 5px;
	font-size: 23px;
}

.owl-prev, .owl-next{
	position: absolute;
	font-size: 16px !important;
	width: 40px;
	height: 40px;
	@include align-items(center);
	top: 0;
	bottom: 0px;
	margin: auto !important;
	border-radius: 40px;
	.glyphicon{
		margin-top: 8px
	}
}

.sbmt-price{
	font-size: 27px;
	color: #d30d37;
	font-weight: bold;
	font-style: italic;
}

#garant-inps{
	li{
		font-size: 12px;
	}
}

#block-form{
	.imprtnt-f{
		width: 308px;
		border: 1px solid #000;
		height: 25px;
		border-radius: 5px;
	}

	textarea{
		width: 100%;
		border-color:#c4c4c4;
		height: 200px;
	}

	input[type="text"], textarea{
		border-radius: 5px;
	}
}
.small-textarea{
	width: 100%;
	height: 130px;
	border-color:#c4c4c4;
	border-radius: 5px;
}

#condition-bl, #compl-bl, #chosen-phone, #table-chrct{
	border: 1px solid $socialico-color;
}

#condition-bl, #compl-bl{
	padding: 20px 20px 20px 10px;
	select{
		width: 80%;
	}
	label{
		span{
			margin-left: 8px;
		}
	}
	input[type="checkbox"]{
		margin-right: 8px !important;
	}
}

#chosen-phone{
	padding: 10px 20px 30px 10px;
	h3{
		font-weight: normal;
		margin-bottom: 20px;
	}
}

#table-chrct{
	tbody{
		td{
			font-size: 12px;
		}
	}
}

.products-place{
	.col-md-1, .col-md-10, .col-md-11,
	.col-md-12, .col-md-2, .col-md-3,
	.col-md-4, .col-md-5, .col-md-6,
	.col-md-7, .col-md-8, .col-md-9,

	.col-xs-1, .col-xs-10, .col-xs-11,
	.col-xs-12, .col-xs-2, .col-xs-3,
	.col-xs-4, .col-xs-5, .col-xs-6,
	.col-xs-7, .col-xs-8, .col-xs-9,

	.col-lg-1, .col-lg-10, .col-lg-11,
	.col-lg-12, .col-lg-2, .col-lg-3,
	.col-lg-4, .col-lg-5, .col-lg-6,
	.col-lg-7, .col-lg-8, .col-lg-9
	{
		padding-left: 10px;
		padding-right: 10px;
	}
}

input, select, textarea{
	padding: 0px 10px;
}
.owl-prev{
	left: -50px;
}
.owl-next{
	right: -50px;
}

.close{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 100;
}

.menu-button{
	height: $topheader-height;
	font-size: 30px;
	cursor: pointer;
	@include align-items(center);
}

.mobile-menu{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	padding: 40px 20px 20px 20px;
	background-color: $white-color;
	ul{
		li{
			font-size: 18px;
			margin-bottom: 10px;
		}
	}
	#mobile-close{
		cursor: pointer;
		position: absolute;
		font-size: 25px;
		left: 5px;
		top: 5px;
	}
}

.middle{
	@include align-items(center);
}

.info{
	height: $bottomheader-height;
}

.green-color{
	color: #00c200 !important;
}

.dark_green-color{
	color: #00c200 !important;
}

.blue-color{
	color: $blue-color !important;
}

.grey-color{
	color: $socialico-color !important;
}

.black-color{
	color: #000000 !important;
}

.golden-color{
  color: #f2ba49;
}

.silver-color{
  color: #bfc2c5;
}

.white-color{
	color: #fff;
}

.green-background{
	background: #00c200 !important;
}

.blue-background{
	background: $blue-color !important;
}

.grey-background{
	background: $socialico-color !important;
}

.lgrey-background{
	background: $lightgrey-color !important;
}

.white-background{
	background: #fff !important;
}

.favorite-link{
	color: #767676;
}

.simple-btn{
	height: 35px;
	@include border-radius(2px);
	font-size: 16px;
	padding: 0px 25px;
	font-weight: bold;
	border: none;

}

.mini_user_header{
	position: relative;
	height: $bottomheader-height;
	@include align-items(center);
	p{
		margin:0px;
	}
	.mini_user-avatar{
		width: 36px;
		height: 36px;
		margin-right: 3px;
		border-radius: 18px;
	}
	.mini_user-info{
		display: inline-block;
		vertical-align: middle;
		.mini_user-name{
			color: $darkgrey-color;
		}
		.mini_user-city{
			color:#767676;
		}
		.mini_user-rating{
			color:#b1b2b3;

			.active.glyphicon{
				color:#ffd905;
			}
		}
	}
}

.rating{
	color:#b1b2b3;

	.active.glyphicon{
		color:#ffd905;
	}
}

.seller-price{
	border-left: 1px solid $lightgrey-color;
	h5{
		margin: 0px;
	}
}

.mini_seller{
	width: 100%;
	position: relative;
	overflow: hidden;
	@include animation(0.3s);
	.mini_seller-avatar{
		width: 58px;
		height: 58px;
		border-radius: 58px;
		position: absolute;
	}
	.mini_seller-info{
		color: $socialico-color;
		vertical-align: middle;
		display: inline-block;
		margin-left: 88px;
	}

	.mini_seller-name{
		color: $green-color;
		text-decoration: underline;
		font-weight: bold;
		margin-left: 9px;
	}

	.mini_seller-rating{
		.active{
			color: #fdd600;
		}
	}

	.mini_seller-btn{
		width: 100%;
		color: #c1c1c1;
		border: 1px solid #c1c1c1;
		border-radius: 2px;
		background-color: #fff;
		font-weight: bold;
		height: 32px;
	}
}

.mini_seller.active{
	height: auto;
	position: absolute !important;
	top: 0;
	padding-top:25px;
	margin-top: -25px;
	z-index: 1000;
	@extend .shadow;
	background-color: #fff;
}

.navigation-line{
	position: relative;
	border-bottom: 2px solid #f2f2f2;
	height: 74px;
	padding: 0px 35px;
	background-color: $white-color;
	.row{
		height: 74px;
		@include align-items(center);
	}

	.breadcrmb{
		font-size: 12px;
		color: #b1b2b3;
		a{
			color: #b1b2b3;
		}
	}

	.declaretion-info{
		float: right;
		font-size: 10px;
		line-height: 2;
		color: $socialico-color;
		.seen-count{
			margin-right: 45px;
		}
	}
}

.product_base_info{
	.c-title{
		color: #c4c4c4;
	}
	td{
		padding: 15px;
		vertical-align: top;
	}
}

.buy_info{
	p{margin: 0px}
	td{
		padding: 20px;
	}

	.price{
		font-size: 36px;
	}
	.btn-buy{
		padding: 20px 35px !important;
		-webkit-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
	}

	.price_per-month{
		line-height: 1;
		display: inline-block;
	}

	.text{
		display:inline-block;
		vertical-align: top;
		margin-left: 15px;
	}

	.text, .price_per-month{
		color: #b1b1b1;
		font-weight: bold;
	}
}

.main-block{
	background-color: $white-color;
}

.nav-tabs-s{
	padding-left: 60px !important;
	border-bottom: 1px solid #959595;
	li{
		display: inline-block !important;
		a{
			padding-top: 25px !important;
			padding-bottom: 25px !important;
			font-size: 14px;
			font-weight: bold;
			color: #000;
		}
	}
	li.active{
		a{
			color: #2e9df7;
		}
	}
}

.price-elems, .about-check-product{
	padding: 20px 35px;
}

.price-elem{
	border-right: 1px solid $lightgrey-color;
	height: 83px;
	@include align-items(center);
	.price-inf-blck{
		margin-bottom: 25px;
	}
	.price-inf-blck:last-of-type{
		margin-bottom: 0px;
	}
	.wrap{
		width: 100%;
	}
}

.price-elem:last-of-type{
	border-right: none;
}

.price-inf-blck{
	text-align: center;
	.text{
		display: inline-block;
		vertical-align: middle;
		margin-left: 8px;
		text-align: left;
	}
	.credit{
		display: inline-block;
		vertical-align: middle;
	}
}

.arrow-down{
	font-weight: bold !important;
	font-size: 10px;
	cursor: pointer;
}

.table.table-phone-charact{
	.charact-title{
		text-transform: uppercase;
		font-size: 14px;
		color: $blue-color;
		padding: 22px 8px;
		font-weight: normal !important;
	}
	tr{

		td{
			border:none;
			color: #464646;
		}

		td:first-of-type{
			width: 40%;
			font-weight: bold;
		}

	}

	tr:nth-child(1), tr:nth-child(2){
		td{
			border: none;
		}
	}
}

.make-check{
	width: 234px;
	font-size: 14px;
	color: $green-color;
	border-radius: 2px;
	border: 1px solid $green-color;
	background-color: #fff;
	height: 44px;
	display: inline-block;
}

.pasive-tabs{
	.p-tab{
		padding-left: 3px;
		padding-right: 3px;
		margin-top: 5px;
		.tab-content{
			padding: 20px 0px;
			background-color: #d3d3d3;
			color: #fff;
			text-align: center;
			font-size: 16px;
			font-weight: bold;
		}
	}

	.p-tab:first-of-type{
		padding-left: 0px;
	}

	.p-tab.active{
		margin-top: 0px;
		.tab-content{
			padding-top: 25px;
			background-color: #fff;
			color:#000;
		}
	}

	.p-tab.success{
		.tab-content{
			background-color: $green-color;
		}
	}
}

.bottom-create-block{
	margin: 0px -38px;
	border-top: 1px solid #d8d8d8;
	height: 120px;
	padding: 40px 38px;
}

.create-tab-content{
	padding: 55px 38px 0px 38px;
	background-color: #fff;
}

.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}

.underline{
	text-decoration: underline;
}

.create-prod-descrp{
	width: 100%;
	max-width: 100%;
	height: 250px;
	max-height: 250px;
	background-color: $lightgrey-color;
	border: 0px;
	border-top:1px solid #e6e6e6;
	outline: none;
	@include border-radius(2px);
}

.phone-cheract{
	vertical-align: top;
	outline: none;
	float: none !important;
	height: 35px;
	display: inline-block;
	background-color: $lightgrey-color;
	padding: 0px 15px;
	border: none;
	@include border-radius(2px);
	@include box-shadow(inset 0 1px rgba(0,0,0,.07));

	.list{
		width: 100%;
		background-color: #fff;
	}
}

div.phone-cheract{
	padding-top: 8px;
}

.nice-select.phone-cheract{
	padding-top: 0px;
}

.phone-cheract.social{
	position: relative;
	padding-left: 38px;
	img{
		float: left;
		position: absolute;
		left: 7px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}

.addtnl-ch{
	font-style: italic;
	color: #bababa;
}
.chose-phone-cheract{
	margin-bottom: 0px !important;
	padding: 18px 0px;
	.cheract-label{
		display: inline-block;
		width: 160px;
	}

	.model-ch{
		font-weight: bold;
		color: $blue-color;
	}


	.phone-cheract{

		width: 230px;

		.list{
			width: 100%;
			background-color: #fff;
		}
	}

	.phone-cheract:after{
		height: 7px;
		width: 7px;
	}


	.small{
		width: auto !important;
	}
}

.chose-phone-cheract:last-of-type{
	margin-bottom: 0px !important;
}


.prev-disp{
	@extend .p-l-30;
	@extend .p-r-0;
	border-left: 1px solid #d8d8d8;
}

.prev-ad-prod{
	position: relative;
	height: 437px;
	overflow: hidden;
	@include animation(0.3s);
}

.prev-ad-prod.full{
	height: auto;
}

.prev-ad-prod.full:after{
	box-shadow: none !important;
}

.prev-ad-prod:after{
	width: 100%;
	content: "";
	box-shadow: 0px 0px 15px 15px #000;
	position: absolute;
	bottom: 0;
	left: 0;
	@include box-shadow(0px 0px 16px 19px #fff);
}

.prev-table-cheract{
	width: 100%;
	tr{
		td{
			padding-top: 6px;
			padding-bottom: 6px;
		}
		td:first-of-type{
			width: 60%;
			font-weight: bold;
		}
	}
}
.full-info{
	color: $blue-color;
}

.cat-c-h, .cat-c-p{
	height: 65px;
	@include align-items(center);

	.row{
		width: 100%;
	}
}

.cat-c-h{
	margin: 0px -38px 38px -38px;
	padding: 0px 38px;
	background-color: $lightgrey-color;
}

.cat-c-p{
	margin: -0px -38px 0px -30px;
	background-color: $green-color;
	color: #fff;
	padding: 0px 30px 0px 30px;
}

.check-state{
	color: #b1b1b1;
	margin-bottom: 44px;
	position: relative;
	.inln-blck{
		padding-left: 37px;
	}
	.main-text{
		font-weight: bold;
	}

	.c-check{
		position: absolute;
	}
	input[type=text]{
		@include border-radius(2px);
		padding: 0px 20px;
		width: 100%;
		font-style: italic;
		border: none;
		height: 35px;
		background: $lightgrey-color;
		outline: none;
	}
}

.check-state:hover{
	color: #464646;
	.main-text{
		color: $blue-color;
	}
}

.check-state.active{
	color: #464646;
	.main-text{
		color: $blue-color;
	}
}

.adv-blck{
	background: #fff;
	padding: 25px 38px !important;
	border-left: 1px solid $socialico-color;
}
.adv-blck:first-of-type{
	border: none;
}
.photos-uploaders{
	margin-bottom: 100px;
	position: relative;
	.uploader{
		position: absolute;
		z-index: 98;
		height: 33px;
		width: 33px;
	}
	#uploader1{
		top:0;
		left: 280px;
	}
	#uploader2{
		bottom: 0;
		left: 100px;
	}

	#uploader3{
		left: 0;
		top: 0;
	}
	#uploader4{
		top:111px;
		left: 0;
	}
	#uploader5{
		top:111px;
		right: 0;
	}
	#uploader6{
		right:0;
		bottom: 0;
	}

	.left, .right{
		width: 130px;
		position: absolute;
		top:0px;
		bottom: 0px;
		margin: auto;
		display: block;
		color: $socialico-color;
	}
	.left{
		right: 100%;
		text-align: right;
		padding-right: 10px;
	}
	.right{
		left: 100%;
		text-align: left;
		padding-left: 10px;
	}

	.req{
		.left, .right{
			color: #000;
		}
	}

}

.opacity-1{
	opacity: 1;
}

.opacity-0{
	opacity: 0;
}

.expert-info{
	display: flex;
}

.justify-between{
	display: flex;
	justify-content: space-between;
}

.thumb-blck-100{
	width: 100px;
	height: 100px;
	position: relative;
	overflow: hidden;
	@include box-shadow(0 4px 20px #cbcbcb);
	img{
		top:0;
		bottom: 0;
		margin: auto;
		right: 0;
		left: 0;
		position: absolute;
		@include animation(0.3s)
	}
}

.additional-photos{

	padding: 100px 0px;
}

.textarea{
	position: relative;
	.l-count{
		position: absolute;
		bottom: 10px;
		right: 5px;
		font-style: italic;
		color: $socialico-color;
		font-size: 10px;
	}
}

.flex{
	display: flex;
}

.progresses-info{
	border-left: 1px solid #d8d8d8;
}

.circle-progress{
	display: inline-block;
	position: relative;
	.percent{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		margin: auto;
		top: 0px;
		right: 0px;
		font-size: 12px;
		height: 20px;
		text-align: center;
	}
}

.button-cr-ad{
	height: 42px;
	color: #fff;
	background-color: $socialico-color;
	padding: 0px 10px;
	width: 175px;
	border: none;
	font-weight: bold;
	vertical-align: top;
}

.button-cr-ad.mini{
	width: auto;
}

.bottom-create-block{
	font-size: 0px;
	.button-cr-ad:first-of-type{
		margin-left: 0px;
	}
	.button-cr-ad:last-of-type{
		margin-right: 0px;
	}
	.button-cr-ad{
		font-size: 14px;
		margin: 0px 5px;
	}
}

.advert-button{
	border: 2px solid $blue-color;
	text-align: center;
	padding: 5px 0px;
	color: $blue-color;
	background-color: #fff;
	width: 160px;
	font-size: 18px;
	display: inline-block;
	font-weight: bold;
}

#ModalExprAd{

	.close{
		height: 22px;
		width: 22px;
		color: $socialico-color;
		border: 1px solid $socialico-color;
		border-radius: 11px;
		position: absolute;
		right: 25px;
		top:0;
		bottom: 0;
		margin: auto;
		font-size: 14px;
	}
	.modal-dialog{
		width: 670px;

		.chose-phone-cheract{
			padding-left: 35px;
			.phone-cheract{
				width: 170px;
			}
		}

		.modal-header{
			position: relative;
			padding: 25px;
		}

		.modal-title{
			text-align: center;
			font-weight: bold;
			font-size: 20px;
			color:$blue-color;
		}
		.modal-body{
			position: relative;
			padding: 10px 0px 35px 0px;
		}

		.model-content{
			border-radius: 2px;
		}

		.decorate-img{
			position: absolute;
			right: 25px;
			top: 90px;
		}
	}
}

.mini_user_header.active{

}

.account{
	position: absolute;
	right: 15px;
	width: 155px;
	padding:0px 20px;
	float: right;
	height: 100%;
	cursor: pointer;
	@include align-items(center);
	@include animation(0.3s);
	.arrow{
		@include animation(0.3s);
		color: #bebebe;
		font-weight: bold;
		position: absolute;
		right: 10px;
		top:0;
		bottom: 0;
		height: 10px;
		margin: auto;
	}
}

.account-blck.active{
	.account:after{
		position: absolute;
		content: "";
		width: 100%;
		height: 20px;
		bottom: 0px;
		background-color: #fff;
		left: 0;
		z-index: 1000;
	}

	.account{
		@include box-shadow(0 4px 20px #cbcbcb);
		.arrow{
			transform: rotate(180deg);
		}
	}

	.dropdown-login{
		opacity: 1;
		z-index: 100;
	}

}

.input-wrap:before{
	content: "";
	position: absolute;
	left: 10px;
	top:0;
	bottom: 0;
	margin: auto;
}

.input-email:before{
	width: 14px;
	height: 10px;
	background: url(../images/email-input-ico.png);
}

.input-pass:before{
	background: url(../images/pass-input-ico.png);
	width: 12px;
	height: 16px;
}

.input-username:before{
	background: url(../images/user-input-ico.png);
	width: 14px;
	height: 16px;
}

a.forgot-pass{
	text-decoration: underline;
	color: #000;
}

a.forgot-pass:hover{
	color:#000 !important;
}

.dropdown-login{
	z-index: -1;
	opacity: 0;
	margin-top: -3px;
	position: absolute;
	right: 15px;
	padding: 35px 55px;
	top:100%;
	width: 470px;
	background-color: #fff;
	@include animation(0.3s);

	.window-disp{
		display: none;
		opacity: 0;
		@include animation(0.3s);
	}
	.window-disp.active{
		display: block !important;
		opacity: 1;
	}
	.input-wrap{
		position: relative;
		padding-left: 40px;
		padding-right: 10px;
		height: 40px;
		background-color: $lightgrey-color;
		border-top: 1px solid #f4f4f4;
		@include border-radius(2px);
		margin-bottom: 17px;
	}

	.input-wrap:last-of-type{
		margin-bottom: 35px;
	}

	input{
		outline: none;
		width: 100%;
		height: 100%;
		background: transparent;
		border: none;
	}

	.login-btn, .signup-btn{
		border-radius: 2px;
		border: 1px solid $green-color;
		color: $green-color;
		font-size: 16px;
		font-weight: bold;
		height: 45px;
		background: #fff;
		@include animation(0.3s);
	}

	.login-btn:hover, .signup-btn:hover{
		background-color: $green-color;
		color: #fff;
	}

	.login-btn{
		width: 130px;
	}

	.signup-btn{
		width: 100%;
	}

	.login-blck{
		@include align-items(center);
		justify-content: space-between;
		text-align: justify;
	}

	.registr-blck{
		line-height: 1;
		a{
			color: $blue-color;
		}
	}


	.social-login{
		@include align-items(center);
		justify-content: space-between;
	}
	.razdelitel{
		text-align: center;
		width: 100%;
		color: #d1d1d1;
		font-style: italic;
		@include align-items(center);

		hr{
			width: 152px;
			display: inline-block;
			margin: 0px !important;
		}

		span{
			width: 55px;
			display: inline-block;
		}
	}
}

.expert-prices-info{
	padding: 20px 0px;
	margin-left: -60px;
	margin-right: -60px;
}

.expert-price-blck{
	vertical-align: top;
	display: inline-block;
	height: 45px;
	padding: 0px 20px;
	border-right: 1px solid #fff;
	line-height: 1.1;
}


.cabinet_sidebar{
	width: 163px;
	background-color: $lightgrey-color;
	float: left;
	line-height: 1.7;
	.sidebar_personal_info{
		text-align: center;
		padding-top: 15px;
		padding-bottom: 20px;
	}

	.personal_username{
		font-weight: bold;
	}

	.personal_add-info{
		font-size: 10px;
		color: #b1b2b3;
	}

	.sidebar_menu{
		.menu-item{
			display: block;
			padding: 15px 10px;
			color: #b1b2b3;
			font-size: 12px;
			border-top: 1px solid #fff;

			.menu-item-ico{
				margin-right: 8px;
				vertical-align: middle;
			}
		}

		.menu-item.blue{
			background-color: $blue-color;
			color: #fff;
			font-weight: bold;
		}

		.menu-item.blue:hover{
			color: #fff !important;
		}


		.menu-item:last-of-type{
			border-bottom: 1px solid #fff;
		}
	}
}

.personal_cabinet_body{
	margin-left: 163px;
	min-height: 600px;
	background-color: #fff;

	.collapse_line{
		margin-left: -34px;
		margin-right: -35px;
	}
}

.personal_cabinet_header{
	@include align-items(center);

	background-color: $blue-color;
	color: #fff;
	height: 45px;

	h3{
		margin: 0px;
	}

	a{
		color: #fff;
	}
	a:hover{
		color: #fff !important;
	}
	.control_panel{
		padding-left: 10px;
		padding-right: 40px;

		.control_elem{
			position: relative;
		}
	}

	.control_elem-count{
		top:-4px;
		right: -4px;
		background: #fff;
		color: $blue-color;
	}
}

.cabinet_content_main{
	padding: 35px 35px 0px 35px !important;
	border-right: 1px solid #f2f2f2;
}

.expert-price-blck:last-of-type{
	border-right: none;
}

.btn-action{
	@include border-radius(2px);
	display: block;
	width: 100%;
	padding: 10px;
	border: 1px solid $blue-color;
	font-weight: bold;
	color: $blue-color;
}

.btn-action.grey{
	color: $socialico-color;
	border-color: $socialico-color;
}

.collapse_line{
	padding: 15px 35px;
	font-weight: bold;
	background-color: $lightgrey-color;
	margin-bottom: 1px;
}

.collapse_line_content{
	text-align:center;
	padding: 60px 35px;
}

.collapse_line:last-of-type{
	margin-bottom: 0px;
}

.infograph{
	max-width: 600px;
}

.imptnt-blck{
	background-color: $lightgrey-color;
	padding: 15px 25px;
}

.data_to_verified{

	.msg_b, .phone_b, .social_b, .user_b, .pay_b{
		background-position:left center !important;
		background-repeat: no-repeat !important;
	}
	.msg_b{
		background: url("../images/ico/grey/msg.png");
	}
	.phone_b{
		background: url("../images/ico/grey/phone.png");
	}
	.social_b{
		background: url("../images/ico/grey/social.png");
	}
	.user_b{
		background: url("../images/ico/grey/user.png");
	}
	.pay_b{
		background: url("../images/ico/grey/card.png");
	}

	li{
		padding: 15px 0px 15px 32px;
		border-bottom: 2px dashed #f5f5f5;
		line-height: 1;
		.status{
			float: right;
		}

	}

	li:last-of-type{
		border-bottom: none;
	}
}

.verify, .unverify{
	display: inline-block;
	background-repeat: no-repeat;
}

.verify{
	width: 18px;
	height: 12px;
	background: url("../images/user_status/verify.png");
}

.unverify{
	height: 12px;
	width: 12px;
	background: url("../images/user_status/unverify.png");
}

.help-text{
	font-size: 10px;
	color: $socialico-color;
}

.form-table{
	tr{
		td:first-of-type{
			padding-top: 8px;
		}

		td{
			vertical-align: top;
			padding-bottom: 30px;

			.phone-cheract:nth-child(2n){
				margin-left: 10px;
			}
		}

	}

	tr:last-of-type{
		td{
			padding-top: 0px;
		}
	}
}

.line-h{
	margin-top: 50px;
	margin-bottom: 40px;
	color: $blue-color;
	@include align-items(center);

	hr{
		margin: 0px;
		margin-left: 15px;
		width: 100%;
	}

}




.person_rating_item{
	li{
		background-repeat: no-repeat !important;
		background-position: left center !important;
		padding-left: 50px;
		width: 100% !important;
		height: 45px !important;
		@include align-items(center);
	}

}

.sdelka-ico{
	background: url(../images/ico/grey/sdelka.png);
	width: 26px;
	height: 20px;
}

.descrp-ico{
	background: url(../images/ico/grey/descrp.png);
	width: 19px;
	height: 24px;
}

.talk-ico{
	background: url(../images/ico/grey/talk.png);
	width: 26px;
	height: 23px;
}

.speed-ico{
	background: url(../images/ico/grey/speed.png);
	width: 23px;
	height: 25px;
}

.sdelka-ico.blue{
	background: url(../images/ico/blue/sdelka.png);
}

.descrp-ico.blue{
	background: url(../images/ico/blue/descrp.png);
}

.talk-ico.blue{
	background: url(../images/ico/blue/talk.png);
}

.speed-ico.blue{
	background: url(../images/ico/blue/speed.png);
}

.border-right{
  border-right: 1px solid $lightgrey-color;
}

.rating-table{
	tr{
        td:nth-child(2){
          padding-left: 20px;
        }
	}
}

.personal_rewards{
  margin-top: 30px;
  .reward{
    display:inline-block;
    margin-bottom: 15px;
  }
}

.golden-second, .golden-medal, .silver-cup{
	background-size: 100% 100% !important;
}

.golden-second{
  background: url("../images/rewards/active/golden-second.png") no-repeat;
  width: 72px;
  height: 98px;
}

.golden-medal{
  background: url("../images/rewards/active/golden-medal.png");
  width: 70px;
  height: 98px;
}

.silver-cup{
  background: url("../images/rewards/disabled/silver-cup.png");
  width: 81px;
  height: 101px;
}

.golden-mini-medal{
	background: url("../images/rewards/mini-medal.png");
	width: 47px;
	height: 60px;
}

.opinion{
  padding-bottom: 50px;
  .nav-tabs{
    border-bottom-color: #fff;
    font-size: 12px;
    margin-bottom: 0px;
    li{
      a{
        border-radius: 2px;
        background: $lightgrey-color;
        color: $socialico-color;
        margin-right: 3px;
      }
    }

    li.active{
      a{
        border: none;
        border-bottom: 1px solid #fff;
        @include box-shadow(0 4px 20px rgba(203,203,203,.41));
      }
    }

    li.active:hover{
      a{
        border: none;
        border-bottom: 1px solid #fff;
      }
    }
  }

  .tab-content{
    background-color: #fff;
    z-index: 10;
    position: relative;
    margin: -1px -30px;
    padding: 0px 30px;
  }

  .opinion_item{
    padding-top: 35px;
    .user-avatar{
      border-radius: 20px;
      vertical-align: top;
      margin-right: 25px;
    }

    .opinion_item_info{
      height: 100%;
      padding-top: 30px;
    }

    .opinion_item_text{
      border-left: 1px solid $lightgrey-color;
    }
  }
}

.opinion_paginator{
  text-align: center;
  a{
    color: $socialico-color;
  }
  .paginator_prev, .paginator_next{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    line-height: 1;
    text-align: center;
    font-size: 10px;
    font-weight: bold !important;
    color: $socialico-color;
    padding-top: 6px;
    border: 1px solid $socialico-color;
    @include border-radius(2px);
  }
  .paginator_prev{
    margin-right: 30px;
  }
  .paginator_next{
    margin-left: 30px;
  }
  .page{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
  }

  .page.active{
    color: $green-color;
  }
}

.status-good, .status-normal, .status-bad, .status-perfect{
	font-weight: bold;
}

.status-good{
	color: $green-color;
}

.status-normal{
	color: #ffa00a;
}

.status-bad{
	color: red;
}

.status-perfect{
  color: #35cd35;
}

.order_info_blck{
	vertical-align: top;
	display: inline-block;

	table{
		td{
			line-height: 1;
		}
		.p-b-20{
			td{
				padding-bottom: 20px;
			}
		}
		td:nth-child(2){
			padding-left: 30px;
			font-weight: bold;
		}
	}
}

.check-map{
	float: right !important;
	text-align: right;
	text-decoration: underline;
}

.order_type_table{
    td{
      padding: 40px 5px;
    }
    tr{
		@extend .justify-between;
		border-bottom: 1px solid #f2f2f2;
		td:nth-child(1){
			width: 200px;
			.check-state{
				margin-bottom: 0px;
				p{
					padding-left: 52px;
				}
				.c-check{
					top: 10px;
				}
			}
		}
		td:nth-child(2){
			width: 170px;
		}
        td:nth-child(3){
            width: 365px;
            text-align: justify;
			font-size: 12px;
        }

        td:nth-child(4){
            width: 190px;
            color: $socialico-color;
        }
        .additionl-check{
            .c-check{
                top: 0px;
            }
        }
    }

	tr:nth-child(4), tr:nth-child(5){
		background-color: #f2f2f2;
		margin: 0px -38px;
		padding-left: 38px;
		padding-right: 38px;
	}
}

 .order_info_h{
	 font-weight: bold;
	 color: $blue-color;
	 padding-bottom: 10px;
	 border-bottom: 1px solid #f2f2f2;

	 p{
		 padding-left: 37px;
	 }
 }

 .addtnl-text{
	 font-style: italic;
	 color: $socialico-color;
 }

 .order_info_main{
	 @extend .p-l-30;
	 @extend .p-r-0;

	 border-left: 1px solid #f2f2f2;

	 .order_product_info{
		 margin-left: -30px;
	 }
 }
 .order_info_price{
	 padding-top: 20px;
	 line-height: 1;
	 border-top: 1px solid #f2f2f2;
	 font-size: 30px;
	 .price{
		 color: $green-color;
		 font-weight: bold;
		 float: right;
		 margin-right: 32px;

		 .currency{
			 font-size: 14px;
		 }
	 }

	 .buy-btn{
		 width: 100%;
		 height: 55px;
		 background-color: $green-color;
		 @include border-radius(3px);
	 }
 }

 .security-ico{
	 display: inline-block;
	 background: url(../images/ico/blue/security.png) no-repeat;
	 background-position: left center;
 }

 .shipping-ico{
	 display: inline-block;
	 background: url(../images/ico/blue/shipping.png) no-repeat;
	 background-position: left center;
 }

 .form-horiz{
	 label, .pseudo_label{
		 padding-top: 7px;
	 }
 }

 .pay-modal{
	 width: 535px !important;
	 .modal-header{
		 border-bottom: 1px solid #efefef;
		 text-align: center;
		 padding: 24px;
		 h4{
			 font-size: 20px;
			 font-weight: bold;
			 color: $blue-color;
		 }
		 button.close{
			 width: 25px;
			 height: 25px;
			 color: #dedede;
			 border: 1px solid #dedede !important;
			 @include border-radius(13px);
			 opacity: 1;
			 font-size: 14px;
			 @include animation(0.5s);
			 top: auto !important;
			 right: 25px;
		 }


		 button.close:hover{
			 color: #4c4c4c !important;
			 border-color: #4c4c4c !important;
		 }
	 }

	 .modal-body{
		 padding: 0px 54px;
	 }

	 .pay_order_info{
		 margin: 0px -54px;
		 padding: 30px 54px;
		 background-color: $lightgrey-color;
	 }
 }

 .big-link{
	 font-size: 30px;
	 color: $socialico-color;
	 font-weight: bold;
 }

 .big-link.right{
	 float: right;
 }

.big-link:hover{
	.big_arrow_left, .big_arrow_right{
		background: url(../images/ico/blue/big_arrow.png) no-repeat;
	}
}

.big_arrow_left{
	background: url(../images/ico/grey/big_arrow.png) no-repeat;
	background-position: center;
	display: inline-block;
	width: 36px;
	height: 24px;
	vertical-align: middle;

}

.big_arrow_right{
	@extend .big_arrow_left;
	transform: rotate(180deg);
}

 .bottom-links{
	 margin-top: 50px;
	 padding-left: 38px;
	 padding-right: 38px;
 }

@media (max-width: 1320px){
	.container{
		padding: 0px 20px 20px !important;
	}
}

@media (max-width: 1100px){
	.container{
		padding: 0px 20px 20px !important;
	}
	#bottom{
		#email{
			font-size: 25px;
		}
	}
}

@media (max-width: 900px){
	.paginator{
		padding: 0px 10px !important;
	}
}

@media (max-width: 768px){
	#bottom{
		padding-top: 20px !important;
		padding-bottom: 20px !important;
	}

	.search-line{
		padding-left: 0px;
	}

	.paginator{
		.page-list{
			li{
				margin-left: 15px;
				margin-right: 15px;
			}
		}
	}

}

@media (max-width: 600px){
	
	.non-active{
		display: none !important;
	}
		
}

@media (max-width: 420px){
	.btn-get-more{
		width: 200px;
	}

	.container{
		padding: 0px 5px 20px !important;
	}

	.comment{
		margin-left: 0px;
		margin-right: 0px;
	}
}

//----------NEW ELEMENTS----------------------------------------



