{% load staticfiles %}

<div class="advantages_block" style="height: 115px;">
    <div class="row m-0">
        <div class="col-xs-3">
            <div class="header_advantages">
                <img src="{% static "images/advantages/garanty.png" %}">
                <div class="h_advant_text">
                    Гарантия <img  src="{% static "images/advantages/advant-inf.png" %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content=" Услуга от компании sellFone, которая позволяет проверить устройство перед покупкой и получить гарантию">
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="header_advantages">
                <img src="{% static "images/advantages/shield.png" %}">
                <div class="h_advant_text">
                    Безопасность<br>сделки <img src="{% static "images/advantages/advant-inf.png" %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content=" Услуга от компании sellFone, которая позволяет проверить устройство перед покупкой и получить гарантию">
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="header_advantages">
                <img src="{% static "images/advantages/pig.png" %}">
                <div class="h_advant_text">
                    Честная<br>цена <img src="{% static "images/advantages/advant-inf.png" %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content=" Услуга от компании sellFone, которая позволяет проверить устройство перед покупкой и получить гарантию">
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="header_advantages">
                <img src="{% static "images/advantages/phone.png" %}">
                <div class="h_advant_text">
                    Выкуп<br>и трейд-ин <img src="{% static "images/advantages/advant-inf.png" %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content=" Услуга от компании sellFone, которая позволяет проверить устройство перед покупкой и получить гарантию">
                </div>
            </div>
        </div>
    </div>
</div>