{% load staticfiles i18n %}

<div class="col-xs-2 mini_user_header account-blck">
    <div class="f-14 account right">
        <img class="m-r-10" src="{% static 'images/user_ico.png' %}">{% trans 'Аккаунт' %}  <span class="arrow f-10 glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </div>  
    <div class="dropdown-login shadow">
        <div id="login" class="window-disp active">
        <h2 class="m-b-30 f-18 green-color text-center">{% trans 'Вход в sellFone' %}</h2>
        <form method="post" action="{% url 'account_login' %}" >{% csrf_token %}
            <div class="input-email input-wrap">
                {{ login_form.login }}
            </div>
            <div class="input-pass input-wrap">
                {{ login_form.password }}
            </div>
            <div class="login-blck m-b-35">
                <a class="f-10 forgot-pass" href="#">Забыли пароль?</a>
                <button class="login-btn">ВОЙТИ</button>
                <div class="inln-blck registr-blck">
                    <p class="f-10">Нет аккаунта?</p>
                    <a href="#signup" class="f-12 next-window-disp">Регистрация</a>
                </div>
            </div>
            <div class="razdelitel m-b-35"><hr><span class="text-center" style="width: 55px; display: inline-block">или</span><hr></div>
            <div class="social-login">
                <div class="inln-blck f-12">
                     <p>Войти через <br> социальные сети</p>
                </div>
                <a href="{% url 'vk_login' %}"><img src="{% static 'images/social/vk.png' %}"></a>
                <a href="{% url 'odnoklassniki_login' %}"><img src="{% static 'images/social/odnoklasniki.png' %}"></a>
                <a href="{% url 'facebook_login' %}"><img src="{% static 'images/social/fb.png' %}"></a>
            </div>
        </form>
        </div>
        <!-------------------->
        {% include 'includes/registration_window.html' %}
    </div>
    <!------------------>
</div>
