{% load staticfiles account %}
{% load thumbnail %}

<div class="col-xs-2 mini_user_header">
    <div style="width: 100%" class="wrap text-right">
        <div class="inln-blck" style="position: relative">
            {% if request.user.photo %}
                <img class="mini_user-avatar" src="{{ request.user.photo|thumbnail_url:'avatar_60' }}">
            {% else %}
                <img class="m-r-10" src="{% static 'images/user_ico.png' %}">
            {% endif %}
            <div class="mini_user-info text-left">
                <p class="mini_user-name">{% user_display user %}</p>
            </div>
            <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="arrow-down glyphicon glyphicon-menu-down"></span>
        </span>
            <ul class="dropdown-menu">
                <li><a href="{% url 'profile:cabinet' %}">Профиль</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'account_logout' %}">Выход</a></li>
            </ul>
        </div>
    </div>
</div>