{% load staticfiles %}
{% load thumbnail %}
<div class="row m-0 personal_cabinet_header">
    <div class="col-xs-8"><h3 class="f-16">{{ title }}</h3></div>
    <div class="control_panel col-xs-4 justify-between">
        <div class="control_elem">
            <img src="{% static 'images/ico/white/msg.png' %}">
            <div class="control_elem-count">
                <p>2</p>
            </div>
        </div>
        <div class="control_elem">
            <img src="{% static 'images/ico/white/bell.png' %}">
        </div>
        <div class="control_elem">
            <a href="{% url 'profile:settings' %}">
                <img src="{% static 'images/ico/white/settings.png' %}">
            </a>
        </div>
        <div class="control_elem">
            <a href="{% url 'account_logout' %}" class="f-10 exit">Выйти</a>
        </div>
    </div>
</div>