{% load staticfiles %}
{% load thumbnail %}
{% load user_tag %}

<div class="col-xs-4 p-t-35">
    <p><b>ПРОФИЛЬ</b></p>
    <div class="m-b-25 m-t-25">
        <div class="flex">
            <div class="m-r-15">
                <div class="circle-progress" id="circle" data-value="{% user_progress request.user float=True %}" data-size="60" data-thickness="4" data-reverse="true">
                    <strong class="percent"></strong>
                </div>
            </div>
            <div class="inln-blck f-12">
                <p class="bold">Ваш профиль заполнен на {% user_progress request.user %}%</p>
                <p>Совет для улучшения профиля: подтвердите номер телефона</p>
                <br>
                <a class="f-14 bold underline blue-color" href="{% url 'profile:update' %}">УЛУЧШИТЬ!</a>
            </div>
        </div>
    </div>
    <!-- -->
    <div class="row imptnt-blck flex">
        <div class="m-r-15">
            <img src="{% static 'images/rewards/verfied.png' %}">
        </div>
        <div class="f-12">
            <p class="green-color m-b-15 bold">Повысте уровень доверия!</p>
            <p>
                Подтвердите данные
                и получите первую награду
                “Проверенный пользователь”!
            </p>
            <br>
            <a class="f-14 bold underline blue-color" href="{% url 'profile:update' %}">ПОДТВЕРДИТЬ!</a>
        </div>
    </div>
    <!-- -->
    <p class="bold m-t-35 m-b-40">ПОДТВЕРЖДЕНИЕ ДАННЫХ</p>
    <ul class="data_to_verified">
        <li class="msg_b">E-mail <span class="status verify"></span></li>
        <li class="phone_b">Телефон <span class="status unverify"></span></li>
        <li class="social_b">Социальные сети <span class="status verify"></span></li>
        <li class="user_b">Личность <span class="status unverify"></span></li>
        <li class="pay_b">Платежные данные <span class="status verify"></span></li>
    </ul>
</div>