{% load staticfiles %}
{% load thumbnail %}
<aside class="cabinet_sidebar">
    <div class="sidebar_personal_info">
        <img class="m-b-15" src="{{ request.user.photo|thumbnail_url:'avatar_60' }}">
        <a href="{% url 'profile:cabinet' %}">
            <p class="personal_username">{{ request.user.get_full_name }}</p>
        </a>
        <p class="personal_add-info">{{ request.user.place }}, {{ request.user.date_joined|timesince }} на портале</p>
        <p class="rating f-12" style="float: none;">
            <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </p>
    </div>
    <div class="sidebar_menu">
        <a class="menu-item {% if 'update' in request.path %} active {% endif %} " href="{% url 'profile:update' %}">
            <img class="menu-item-ico" src="{% static 'images/ico/grey/user.png' %}">
            <span style="vertical-align: middle">Личные данные </span>
        </a>
        <a class="menu-item{% if 'rating' in request.path %} active {% endif %}" href="{% url 'profile:rating' %}">
            <img class="menu-item-ico" src="{% static 'images/ico/grey/cup.png' %}">
            <span style="vertical-align: middle">Рейтинг и награды</span>
        </a>
        <a class="menu-item" href="#">
            <img class="menu-item-ico" src="{% static 'images/ico/grey/wallet.png' %}">
            <span style="vertical-align: middle">Доставка и оплата</span>
        </a>
        <a class="menu-item {% if 'sales' in request.path %} active {% endif %}" href="{% url 'profile:sales' %}">
            <img class="menu-item-ico" src="{% static 'images/ico/grey/tag.png' %}">
            <span style="vertical-align: middle">Продажи</span>
        </a>
        <a class="menu-item {% if 'purchases' in request.path %} active {% endif %}" href="{% url 'profile:purchases' %}">
            <img class="menu-item-ico" src="{% static 'images/ico/grey/cart.png' %}">
            <span style="vertical-align: middle">Покупки</span>
        </a>
        <a class="menu-item" href="#">
            <img class="menu-item-ico" src="{% static 'images/ico/grey/stats.png' %}">
            <span style="vertical-align: middle">Мониторинг цен</span>
        </a>
        <a class="menu-item" href="#">
            <img class="menu-item-ico" src="{% static 'images/ico/grey/help.png' %}">
            <span style="vertical-align: middle">Помощь</span>
        </a>
        <a class="menu-item blue" href="{% url 'products:add' %}">
            <span style="vertical-align: middle">Продать устройство</span>
        </a>
    </div>
</aside>