{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} КАБИНЕТ ПОЛЬЗОВАТЕЛЯ {% endblock title %}

{% block content %}
    <div class="content container" id="part1">
        <div class="shadow row m-0 m-t-50">
            {% include 'users/cabinet_sidebar.html' %}
            <div class="personal_cabinet_body">
                {% include 'users/cabinet_header.html' with title='КАБИНЕТ ПОЛЬЗОВАТЕЛЯ' %}
                <div class="row m-0 personal_cabinet_content">
                    <div class="col-xs-8 cabinet_content_main">
                        <div class="f-12">
                            {{ request.user.first_name }}, добро пожаловать в Ваш личный кабинет!
                            <br><br>
                            В личном кабинете собраны инструменты, необходимые для удобной работы в сервисе sellFone: Вы можете редактировать личную информацию, следить за рейтингом и наградами, проверять ход выполнения заказов, просматривать историю сделок, писать отзывы о продавцах, создавать и редактировать объявления о продаже своего устройства.
                        </div>
                        <h5 class="m-t-50"><b>ВАШИ СДЕЛКИ</b></h5>
                        <div class="text-center grey-color">
                            <img class="m-b-15" src="{% static 'images/personal_cab/line.png' %}">
                            <p>У вас нет сделок</p>
                            <p class="f-16"><b>Совершите свою первую сделку</b></p>

                            <div class="m-t-40 m-b-40 row">
                                <div class="col-xs-3 p-10 p-r-10">
                                    <a href="{% url 'products:add' %}" class="btn-action">Продать<br> на sellFone</a>
                                </div>
                                <div class="col-xs-3 p-10 p-r-10">
                                    <a href="#" class="btn-action">Выкуп<br> устройства</a>
                                </div>
                                <div class="col-xs-3 p-10 p-r-10">
                                    <a href="#" class="btn-action">Обмен<br> на новый</a>
                                </div>
                                <div class="col-xs-3 p-10 p-r-10">
                                    <a href="{% url 'products:products' %}" class="btn-action">Купить<br> на sellFone</a>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div role="button" class="collapse_line row" data-toggle="collapse" data-target="#howSell" aria-expanded="false" aria-controls="howSell">
                                <div class="">
                                    КАК ПРОДАТЬ?
                                    <span style="float: right;" class="f-12 m-t-5 bold grey-color glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="collapse collapse_line_content" id="howSell" aria-expanded="true" style="">
                                <img class="infograph" style="width: 100%" src="{% static 'images/infograph1.png' %}">
                            </div>
                        </div>
                        <div>
                            <div role="button" class="collapse_line row" data-toggle="collapse" data-target="#howBuy" aria-expanded="false" aria-controls="howBuy">
                                <div class="">
                                    КАК КУПИТЬ?
                                    <span style="float: right;" class="f-12 m-t-5 bold grey-color glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="collapse collapse_line_content" id="howBuy" aria-expanded="true" style="">
                                <img class="infograph" style="width: 100%" src="{% static 'images/infograph2.png' %}">
                            </div>
                        </div>
                        <div class="row m-t-40 p-b-65">
                            <div class="col-xs-6 p-r-10">
                                <iframe width="100%" height="175" src="https://www.youtube.com/embed/wJdeVtnUxuk" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="col-xs-6 p-l-10">
                                <iframe width="100%" height="175" src="https://www.youtube.com/embed/wJdeVtnUxuk" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    {% include 'users/cabinet_sidebar_right.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrajs %}
    <script src="{% static 'js/icheck.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/circle-progress.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('select').niceSelect();

            $("input[type='checkbox']").iCheck({
                checkboxClass: 'icheckbox_minimal',
                radioClass: 'iradio_minimal',
                increaseArea: '10%'
            });

            $('.circle-progress').circleProgress({
                fill: {
                    gradient: ["#2e9df7", "#0f7ed8"]
                }
            }).on('circle-animation-progress', function(event, progress, stepValue) {

                $(this).find('strong').text((stepValue.toFixed(2).substr(2))+'%');
            });

        })
    </script>
{% endblock %}