{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} Продажи {% endblock title %}

{% block content %}
    <div class="content container" id="part1">
        <div class="shadow row m-0 m-t-50">
            {% include 'users/cabinet_sidebar.html' %}
                <div class="personal_cabinet_body">
                {% include 'users/cabinet_header.html' with title='НАСТРОЙКИ ПРОФИЛЯ' %}
                <div class="row m-0 personal_cabinet_content">
                    <div class="col-xs-8 cabinet_content_main">
                        <div class="f-12">
                            В этом разделе Вы можете подтвердить, улучшить или изменить свои личные данные, которые необходимы для совершения сделки.
                        </div>
                        <h5 class="line-h"><nobr>Изменение пароля</nobr><hr></h5>

                        <table class="form-table">
                            <tr class="chose-phone-cheract">
                                <td>
                                    <p class="cheract-label">Текущий пароль</p>
                                </td>
                                <td>
                                    <input type="password" placeholder="*****" class="phone-cheract">
                                </td>
                            </tr>

                            <tr class="chose-phone-cheract">
                                <td>
                                    <p class="cheract-label">Новый пароль</p>
                                </td>
                                <td>
                                    <input type="password" placeholder="*****" class="phone-cheract">
                                </td>
                            </tr>
                            <tr class="chose-phone-cheract">
                                <td>
                                    <p class="cheract-label">Повторите пароль</p>
                                </td>
                                <td>
                                    <input type="password" placeholder="*****" class="phone-cheract">
                                </td>
                            </tr>
                            <tr class="chose-phone-cheract">
                                <td>

                                </td>
                                <td>
                                    <button class="confirm-mail" style="padding: 0px 8px;">Сохранить пароль</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% include 'users/cabinet_sidebar_right.html' %}
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrajs %}
    <script src="{% static 'js/icheck.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/circle-progress.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="popover"]').hover(
                function () {
                    $(this).popover('show');
                },
                function () {
                    $(this).popover('hide');
                }
            );

            $('select').niceSelect();
            $(".add-photo input[type='file']").simpleFileInput({
                placeholder : '<b>Загрузить копию</b>',
                allowedExts : ['png', 'gif', 'jpg', 'jpeg'],
                wrapperClass : 'addtnl-file-input',
                width: false,
                uploadPlace: '#upload-place',
                uploadImg: true
            });

            $("input[type='checkbox'], input[type='radio']").iCheck({
                checkboxClass: 'iradio_square-blue c-check',
                radioClass: 'iradio_square-blue c-check',
            });

            $('.circle-progress').circleProgress({
                fill: {
                    gradient: ["#2e9df7", "#0f7ed8"]
                }
            }).on('circle-animation-progress', function(event, progress, stepValue) {

                $(this).find('strong').text((stepValue.toFixed(2).substr(2))+'%');
            });
        })
    </script>
    <style>
        .sfi-js .addtnl-file-input .sfi-filename {border: 2px solid #2e9df7;}
        .sfi-js .sfi-wrapper .sfi-filename {color: #2e9df7;}
    </style>
    {% endblock extrajs %}