{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} Личные данные {% endblock title %}

{% block content %}
    <div class="content container" id="part1">
        <div class="shadow row m-0 m-t-50">
            {% include 'users/cabinet_sidebar.html' %}
            <div class="personal_cabinet_body">
                {% include 'users/cabinet_header.html' with title='КАБИНЕТ ПОЛЬЗОВАТЕЛЯ' %}
                <div class="row m-0 personal_cabinet_content">
                    <div class="col-xs-8 cabinet_content_main">
                        <div class="f-12">
                            В этом разделе Вы можете подтвердить, улучшить или изменить свои личные данные, которые необходимы для совершения сделки.
                        </div>
                        <h5 class="line-h"><nobr>Основная информация</nobr><hr></h5>

                        <table class="form-table">
                            <tr class="chose-phone-cheract">
                                <td>
                                    <p class="cheract-label">Категория</p>
                                </td>
                                <td>
                                    <input type="text" value="{{ request.user.first_name }}" class="phone-cheract bold ">
                                </td>
                            </tr>

                            <tr class="chose-phone-cheract">
                                <td>
                                    <p class="cheract-label">Фамилия</p>
                                </td>
                                <td>
                                    <input type="text" value="{{ request.user.last_name }}" class="phone-cheract bold ">
                                </td>
                            </tr>
                            <tr class="chose-phone-cheract">
                                <td>
                                    <p class="cheract-label">Город</p>
                                </td>
                                <td>
                                    <input type="text" value="{{ request.user.place }}" class="phone-cheract bold ">
                                </td>
                            </tr>
                            <tr class="chose-phone-cheract">
                                <td>
                                    <p class="cheract-label">Паспортные данные</p>
                                </td>
                                <td>
                                    <div data-toggle="modal" data-target="#confirmIDdata" class="phone-cheract bold small green-color pointer">Подтвердить</div>
                                    <p class="help-text">Ваши паспортные данные надежно защищены. Мы обязуемся не передавать их третьим лицам или покупателям сервиса.</p>
                                </td>
                            </tr>
                        </table>


                        <h5 class="line-h"><nobr>Контактная информация</nobr><hr></h5>

                        <table class="form-table">
                            <tr class="chose-phone-cheract">
                                <td>
                                    <p class="cheract-label">E-mail</p>
                                </td>
                                <td>
                                    <input type="email" value="{{ request.user.email }}" class="phone-cheract bold ">
                                    <div class="phone-cheract small"><span class="verify"></span></div>
                                </td>
                            </tr>

                            <tr class="chose-phone-cheract">
                                <td>
                                    <p class="cheract-label">Телефон</p>
                                </td>
                                <td>
                                    <div data-toggle="modal" data-target="#confirm-phone" class="phone-cheract bold small green-color pointer">Подтвердить</div>
                                </td>
                            </tr>
                            <tr class="chose-phone-cheract">
                                <td>
                                    <p class="cheract-label">Социальные сети</p>
                                </td>
                                <td>
                                    <div>
                                        <div class="phone-cheract social bold m-b-10"><img src="{% static 'images/ico/social/vk.png' %}">Вконтакте</div>
                                        <div class="phone-cheract small"><span class="verify"></span></div>
                                    </div>
                                    <div>
                                        <div class="phone-cheract social bold m-b-10"><img src="{% static 'images/ico/social/fb.png' %}">Facebook</div>
                                        <div class="phone-cheract small"><span class="verify"></span></div>
                                    </div>
                                    <div>
                                        <div class="phone-cheract social bold m-b-10"><img src="{% static 'images/ico/social/ok.png' %}">Однаклассники</div>
                                        <div class="phone-cheract bold small green-color">Подтвердить</div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <h5 class="line-h"><nobr>Доставка и оплата</nobr><hr></h5>
                        <div class="f-12">
                            Заполните поля и при покупке на сервисе Ваши данные о доставке и оплате будут автоматически подтягиваться. При заключении сделки у Вас будет возможность выбрать наиболее приемлемый вариант в случае  изменения данных о доставке или выбора другого способа оплаты.
                            При заключении конкретной  сделки у Вас будет возможнсть выбрать наиболее приемлемый вариант в зависимости от потребности
                        </div>

                        <table class="form-table m-t-30">
                            <tr class="chose-phone-cheract">
                                <td>
                                    <p class="cheract-label">Служба доставки</p>
                                </td>
                                <td>
                                    <select class="m-l-0 phone-cheract bold"><option>Apple</option></select>
                                </td>
                            </tr>

                            <tr class="chose-phone-cheract">
                                <td>
                                    <p class="cheract-label">Отделение</p>
                                </td>
                                <td>
                                    <select class="m-l-0 phone-cheract addtnl-ch"><option>Apple</option></select>
                                </td>
                            </tr>
                            <tr class="chose-phone-cheract">
                                <td>
                                    <p class="cheract-label">Способ оплаты</p>
                                </td>
                                <td>

                                    <div class="m-b-25 check-state">
                                        <input type="checkbox" value="1" name="group1">
                                        <p class="inln-blck" style="vertical-align: top"><span class="main-text">Наличный расчет</span><br></p>
                                    </div>
                                    <div class="check-state">
                                        <input type="checkbox" value="1" name="group1">
                                        <p class="inln-blck" style="vertical-align: top"><span class="main-text">Банковская карта</span><br></p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% include 'users/cabinet_sidebar_right.html' %}
                </div>
            </div>
        </div>
    </div>
    {% include 'users/include/modal_passport_confirm.html' %}
    {% include 'users/include/modal_phone_confirm.html' %}
{% endblock content %}
{% block extrajs %}
    <script src="{% static 'js/icheck.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/circle-progress.min.js' %}"></script>
    <script src="{% static 'js/jquery.simplefileinput.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="popover"]').hover(
                function () {
                    $(this).popover('show');
                },
                function () {
                    $(this).popover('hide');
                }
            );

            $('select').niceSelect();
            $(".add-photo input[type='file']").simpleFileInput({
                placeholder : '<b>Загрузить копию</b>',
                allowedExts : ['png', 'gif', 'jpg', 'jpeg'],
                wrapperClass : 'addtnl-file-input',
                width: false,
                uploadPlace: '#upload-place',
                uploadImg: true
            });

            $("input[type='checkbox'], input[type='radio']").iCheck({
                checkboxClass: 'iradio_square-blue c-check',
                radioClass: 'iradio_square-blue c-check',
            });

            $('.circle-progress').circleProgress({
                fill: {
                    gradient: ["#2e9df7", "#0f7ed8"]
                }
            }).on('circle-animation-progress', function(event, progress, stepValue) {

                $(this).find('strong').text((stepValue.toFixed(2).substr(2))+'%');
            });
        })
    </script>
    <style>
        .sfi-js .addtnl-file-input .sfi-filename {border: 2px solid #2e9df7;}
        .sfi-js .sfi-wrapper .sfi-filename {color: #2e9df7;}
    </style>
{% endblock extrajs %}