{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} Рейтинг и награды {% endblock title %}

{% block content %}
    <div class="content container" id="part1">
        <div class="shadow row m-0 m-t-50">
            {% include 'users/cabinet_sidebar.html' %}
            <div class="personal_cabinet_body">
                {% include 'users/cabinet_header.html' with title='КАБИНЕТ ПОЛЬЗОВАТЕЛЯ' %}
                <div class="row m-0 personal_cabinet_content">
                <div class="col-xs-8 cabinet_content_main">
                    <div class="f-12">
                        В этом разделе Вы можете отслеживать статистику своего рейтинга, мониторить отзывы
                        о Ваших сделках, получать информацию о существующих и будущих наградах.
                    </div>
                    <table class="rating-table m-t-60" style="width: 100%">
                            <tr class="bold">
                                <td class="border-right">Общий рейтинг</td>
                                <td>Показатели обслуживания</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="border-right">
                                    <div class="grey-color" style="line-height: 1;">
                                        <span class="blue-color f-48">4.0</span><span class="f-24">/5</span>
                                    </div>
                                    <p class="rating f-16">
                                            <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    </p>
                                    <table class="m-t-45">
                                        <tr>
                                            <td>Всего отзывов:</td>
                                            <td class="p-l-20">70</td>
                                        </tr>
                                        <tr>
                                            <td>Положительных:</td>
                                            <td class="green-color p-l-20">80%</td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="">
                                    <ul class="person_rating_item">
                                        <li class="sdelka-ico blue">Общие впечатления от сделки</li>
                                        <li class="descrp-ico blue">Товары соответсвуют описанию</li>
                                        <li class="talk-ico blue">Общение с продавцом</li>
                                        <li class="speed-ico blue">Оперативность продавца</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="person_rating_item">
                                        <li>
                                            <div class="rating">
                                                <span class="f-16">4.0</span>&nbsp;
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="rating">
                                                <span class="f-16">3.2</span>&nbsp;
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="rating">
                                                <span class="f-16">4.9</span>&nbsp;
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="rating">
                                                <span class="f-16">5.0</span>&nbsp;
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                    </table>
                    <h5 class="bold">Ваши награды</h5>

                    <!--REWARDS_BEGIN-->
                    <div class="personal_rewards text-center">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="reward golden-second"></div>
                                <p class="bold golden-color">Золотой секундомер</p>
                            </div>
                            <div class="col-xs-4">
                                <div class="reward silver-cup"></div>
                                <p class="bold silver-color">Серебрянный кубок активности</p>
                            </div>
                            <div class="col-xs-4">
                                <div class="reward golden-medal"></div>
                                <p class="bold golden-color">Золотая медаль вежливости</p>
                            </div>
                        </div>
                    </div>
                    <!--REWARDS_END-->

                    <h5 class="bold m-t-50">Отзывы</h5>
                    <!--OPINION_BEGIN-->
                    <div class="opinion">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#all_opinion" aria-controls="all_opinion" role="tab" data-toggle="tab">
                                    Все отзывы({{ request.user.purchases.count }})
                                </a>
                            </li>
                            <li role="presentation"><a href="#positive_opinion" aria-controls="positive_opinion" role="tab" data-toggle="tab">Позитивные(50)</a></li>
                            <li role="presentation"><a href="#negative_opinion" aria-controls="negative_opinion" role="tab" data-toggle="tab">Негативные(20)</a></li>
                            <span style="float: right" class="grey-color f-12">Сортировка: <span class="bold">по дате <span class="glyphicon f-10 bold glyphicon-menu-down" aria-hidden="true"></span></span></span>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="all_opinion">

                                {% for purchase in request.user.purchases.all %}
                                    <!--OPINION_ITEM_BEGIN-->
                                    <div class="opinion_item row">
                                        <div class="col-xs-3 opinion_item_info">
                                            <div class="m-b-25">
                                                <img class="user-avatar" src="#">
                                                <div class="inln-blck">
                                                    <p class="bold">{{ purchase.purchaser }}</p>
                                                    <p class="f-12">15.10.16</p>
                                                </div>
                                            </div>

                                            <a href="#" class="f-12 grey-color">
                                                <span class="glyphicon m-r-10 glyphicon-eye-open" aria-hidden="true"></span>
                                                <span class="underline">поссмотреть сделку</span>
                                            </a>

                                        </div>
                                        <div class="col-xs-9 opinion_item_text">
                                            <div class="rating">
                                                <span>Оценка сделки:</span> 4.1
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                            </div>
                                            <div>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tortor nisl, hendrerit a condimentum non, elementum at est. Nunc elementum turpis auctor turpis feugiat pretium nec vel enim. Etiam auctor magna mauris, a condimentum risus tincidunt in.
                                            </div>
                                            <table class="grey-color" style="width: 100%">
                                                <tr>
                                                    <td class="">
                                                        <ul class="person_rating_item">
                                                            <li class="sdelka-ico">Общие впечатления от сделки</li>
                                                            <li class="descrp-ico">Товары соответсвуют описанию</li>
                                                            <li class="talk-ico">Общение с продавцом</li>
                                                            <li class="speed-ico">Оперативность продавца</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul class="person_rating_item">
                                                            <li>
                                                                <div class="rating">
                                                                    <span class="f-16">4.0</span>&nbsp;
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="rating">
                                                                    <span class="f-16">3.2</span>&nbsp;
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="rating">
                                                                    <span class="f-16">4.9</span>&nbsp;
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="rating">
                                                                    <span class="f-16">5.0</span>&nbsp;
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                    <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                <!--OPINION_ITEM_END-->
                                {% endfor %}



                                <!--OPINION_PAGINATOR_BEGIN-->
                                <div class="opinion_paginator m-t-60">
                                    <a href="#" class="paginator_prev"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                                    <a href="#" class="active page">1</a>
                                    <a href="#" class="page">2</a>
                                    <a href="#" class="page">3</a>
                                    <a href="#" class="paginator_next"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                                </div>
                                <!--OPINION_PAGIANTOR_END-->

                            </div>
                            <div role="tabpanel" class="tab-pane" id="positive_opinion">...</div>
                            <div role="tabpanel" class="tab-pane" id="negative_opinion">...</div>
                        </div>

                    </div>
                    <!--OPINION_END-->
                </div>
                {% include 'users/cabinet_sidebar_right.html' %}
            </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrajs %}
    <script src="{% static 'js/icheck.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/circle-progress.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('select').niceSelect();

            $("input[type='checkbox']").iCheck({
                checkboxClass: 'icheckbox_minimal',
                radioClass: 'iradio_minimal',
                increaseArea: '10%'
            });

            $('.circle-progress').circleProgress({
                fill: {
                    gradient: ["#2e9df7", "#0f7ed8"]
                }
            }).on('circle-animation-progress', function(event, progress, stepValue) {

                $(this).find('strong').text((stepValue.toFixed(2).substr(2))+'%');
            });

        })
    </script>
    <style>
    .form-table tr td .phone-cheract:nth-child(2n) {
        margin-left: 0px;
    }
</style>
    {% endblock extrajs %}