{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} Продажи {% endblock title %}

{% block content %}
    <div class="content container" id="part1">
        <div class="shadow row m-0 m-t-50">
            {% include 'users/cabinet_sidebar.html' %}
                <div class="personal_cabinet_body">
                {% include 'users/cabinet_header.html' with title='ПРОДАЖИ'%}
                <div class="row m-0 personal_cabinet_content">
                    <div class="col-md-8 col-xs-12  cabinet_content_main">
                        <div class="f-12">

                            <div class='row'>
                                <div class='col-md-2'>
                                    <p class="silver-color">Номер и дата заказа</p>
                                </div>
                                <div class='col-md-4'>
                                    <p class="silver-color">Описание заказа</p>
                                </div>
                                <div class='col-md-3'>
                                    <p class="silver-color">Покупатель</p>
                                </div>
                                <div class='col-md-3'>
                                    <p class="silver-color">Статус</p>
                                </div>
                            </div>
                        </div>
                        <div class="f-12">

                            <!-- первая страка таблицы -->
                            <div class='row table-splitline p-t-15 p-b-10'>
                                <div class='col-md-2'>
                                    <p class="purchase-number f-14"><a href="#">№ 34567</a></p>
                                    <p class="purchase-date f-12 silver-color">2.02.2017</p>
                                </div>
                                <div class='col-md-4'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="table-purchase-model" src="images/product/phone_prev_buy.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="underline bold">iPhone 6, 16 Gb, Белый</p>
                                            <p class="f-12">Код товара: 1391802</p>
                                            <p class="silver-color">Cтоимость: <span class='green-color f-18'>3 599</span> грн.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="hidden-sm table-purchase-ico" src="images/user_ico.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="">Пока нет <br/>покупателя</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <p class="">На модерации</p>
                                </div>
                            </div>

                            <!-- вторая строка таблицы -->
                            <div class='row table-splitline p-t-15 p-b-10'>
                                <div class='col-md-2'>
                                    <p class="purchase-number f-14"><a href="#">№ 34567</a></p>
                                    <p class="purchase-date f-12 silver-color">2.02.2017</p>
                                </div>
                                <div class='col-md-4'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="table-purchase-model" src="images/product/phone_prev_buy.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="underline bold">iPhone 6, 16 Gb, Белый</p>
                                            <p class="f-12">Код товара: 1391802</p>
                                            <p class="silver-color">Cтоимость: <span class='green-color f-18'>3 599</span> грн.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="hidden-sm table-purchase-ico" src="images/user-logo.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="">Катя <br/>Иванова</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <p><span class="green-color bold">Оплачено,</span> <br/>ожидается доставка</p>

                                </div>
                            </div>
                            <!-- 3 строка таблицы -->
                            <div class='row table-splitline p-t-15 p-b-10'>
                                <div class='col-md-2'>
                                    <p class="purchase-number f-14"><a href="#">№ 34567</a></p>
                                    <p class="purchase-date f-12 silver-color">2.02.2017</p>
                                </div>
                                <div class='col-md-4'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="table-purchase-model" src="images/product/phone_prev_buy.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="underline bold">iPhone 6, 16 Gb, Белый</p>
                                            <p class="f-12">Код товара: 1391802</p>
                                            <p class="silver-color">Cтоимость: <span class='green-color f-18'>3 599</span> грн.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="hidden-sm table-purchase-ico" src="images/user-logo.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="">Катя <br/>Иванова</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <p>Требуется корректировка</p>

                                </div>
                            </div>
                            <!-- 4 строка таблицы -->
                            <div class='row table-splitline p-t-15 p-b-10'>
                                <div class='col-md-2'>
                                    <p class="purchase-number f-14"><a href="#">№ 34567</a></p>
                                    <p class="purchase-date f-12 silver-color">2.02.2017</p>
                                </div>
                                <div class='col-md-4'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="table-purchase-model" src="images/product/phone_prev_buy.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="underline bold">iPhone 6, 16 Gb, Белый</p>
                                            <p class="f-12">Код товара: 1391802</p>
                                            <p class="silver-color">Cтоимость: <span class='green-color f-18'>3 599</span> грн.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="hidden-sm table-purchase-ico" src="images/user-logo.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="">Катя <br/>Иванова</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <p><span class="green-color bold">Опубликовано</span></p>

                                </div>
                            </div>
                            <!-- 5 строка таблицы -->
                            <div class='row table-splitline p-t-15 p-b-10'>
                                <div class='col-md-2'>
                                    <p class="purchase-number f-14"><a href="#">№ 34567</a></p>
                                    <p class="purchase-date f-12 silver-color">2.02.2017</p>
                                </div>
                                <div class='col-md-4'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="table-purchase-model" src="images/product/phone_prev_buy.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="underline bold">iPhone 6, 16 Gb, Белый</p>
                                            <p class="f-12">Код товара: 1391802</p>
                                            <p class="silver-color">Cтоимость: <span class='green-color f-18'>3 599</span> грн.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="hidden-sm table-purchase-ico" src="images/user-logo.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="">Катя <br/>Иванова</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <p><span class="status-bad bold">Удалено</span></p>

                                </div>
                            </div>
                            <!-- 6 строка таблицы -->
                            <div class='row table-splitline p-t-15 p-b-10'>
                                <div class='col-md-2'>
                                    <p class="purchase-number f-14"><a href="#">№ 34567</a></p>
                                    <p class="purchase-date f-12 silver-color">2.02.2017</p>
                                </div>
                                <div class='col-md-4'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="table-purchase-model" src="images/product/phone_prev_buy.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="underline bold">iPhone 6, 16 Gb, Белый</p>
                                            <p class="f-12">Код товара: 1391802</p>
                                            <p class="silver-color">Cтоимость: <span class='green-color f-18'>3 599</span> грн.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="hidden-sm table-purchase-ico" src="images/user-logo.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="">Катя <br/>Иванова</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <p><span class="green-color bold">Ожидается оплата</span></p>

                                </div>
                            </div>
                            <!-- 7 строка таблицы -->
                            <div class='row table-splitline p-t-15 p-b-10'>
                                <div class='col-md-2'>
                                    <p class="purchase-number f-14"><a href="#">№ 34567</a></p>
                                    <p class="purchase-date f-12 silver-color">2.02.2017</p>
                                </div>
                                <div class='col-md-4'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="table-purchase-model" src="images/product/phone_prev_buy.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="underline bold">iPhone 6, 16 Gb, Белый</p>
                                            <p class="f-12">Код товара: 1391802</p>
                                            <p class="silver-color">Cтоимость: <span class='green-color f-18'>3 599</span> грн.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="hidden-sm table-purchase-ico" src="images/user-logo.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="">Катя <br/>Иванова</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <p><span class="green-color bold">Ожидается отправка</span></p>
                                    <a href="#"><input class="btn-pay" type="submit" value="Отправить"></a>

                                </div>
                            </div>
                            <!-- 8 строка таблицы -->
                            <div class='row table-splitline p-t-15 p-b-10'>
                                <div class='col-md-2'>
                                    <p class="purchase-number f-14"><a href="#">№ 34567</a></p>
                                    <p class="purchase-date f-12 silver-color">2.02.2017</p>
                                </div>
                                <div class='col-md-4'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="table-purchase-model" src="images/product/phone_prev_buy.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="underline bold">iPhone 6, 16 Gb, Белый</p>
                                            <p class="f-12">Код товара: 1391802</p>
                                            <p class="silver-color">Cтоимость: <span class='green-color f-18'>3 599</span> грн.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="hidden-sm table-purchase-ico" src="images/user-logo.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="">Катя <br/>Иванова</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <p><span class="green-color bold">Ожидается получение</span></p>

                                </div>
                            </div>
                            <!-- 9 строка таблицы -->
                            <div class='row table-splitline p-t-15 p-b-10'>
                                <div class='col-md-2'>
                                    <p class="purchase-number f-14"><a href="#">№ 34567</a></p>
                                    <p class="purchase-date f-12 silver-color">2.02.2017</p>
                                </div>
                                <div class='col-md-4'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="table-purchase-model" src="images/product/phone_prev_buy.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="underline bold">iPhone 6, 16 Gb, Белый</p>
                                            <p class="f-12">Код товара: 1391802</p>
                                            <p class="silver-color">Cтоимость: <span class='green-color f-18'>3 599</span> грн.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="hidden-sm table-purchase-ico" src="images/user-logo.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="">Катя <br/>Иванова</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <a href="personal_cab_feedback.html"><input class="btn-pay" type="submit" value="Оставить отзыв"></a>
                                </div>
                            </div>

                            <!-- 10 строка таблицы -->
                            <div class='row table-splitline p-t-15 p-b-10'>
                                <div class='col-md-2'>
                                    <p class="purchase-number f-14"><a href="#">№ 34567</a></p>
                                    <p class="purchase-date f-12 silver-color">2.02.2017</p>
                                </div>
                                <div class='col-md-4'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="table-purchase-model" src="images/product/phone_prev_buy.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="underline bold">iPhone 6, 16 Gb, Белый</p>
                                            <p class="f-12">Код товара: 1391802</p>
                                            <p class="silver-color">Cтоимость: <span class='green-color f-18'>3 599</span> грн.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="inln-blck" style="position: relative">
                                        <img class="hidden-sm table-purchase-ico" src="images/user-logo.png">
                                        <div class="text-left table-purchase-name">
                                            <p class="">Катя <br/>Иванова</p>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <p><span class="green-color bold">Завершено</span></p>
                                </div>
                            </div>


                        </div>
                    </div>
                    {% include 'users/cabinet_sidebar_right.html' %}
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrajs %}
    <script src="{% static 'js/icheck.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/circle-progress.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="popover"]').hover(
                function () {
                    $(this).popover('show');
                },
                function () {
                    $(this).popover('hide');
                }
            );

            $('#gallery').lightSlider({
                gallery:true,
                item:1,
                vertical:true,
                verticalHeight:240,
                vThumbWidth:40,
                thumbItem:4,
                thumbMargin:4,
                slideMargin:0
            });

            $('select').niceSelect();

            $("input[type='checkbox']").iCheck({
                checkboxClass: 'icheckbox_minimal',
                radioClass: 'iradio_minimal',
                increaseArea: '10%'
            });

            $('.circle-progress').circleProgress({
                fill: {
                    gradient: ["#2e9df7", "#0f7ed8"]
                }
            }).on('circle-animation-progress', function(event, progress, stepValue) {

                $(this).find('strong').text((stepValue.toFixed(2).substr(2))+'%');
            });


            //$("select").chosen();
        })
    </script>
{% endblock extrajs %}