{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div>
	<div class="content container" id="part1">

		<div class="row">
			<div class="col-lg-3 col-sm-12 ">
				<div class="topmenu">
					<div class="row">
						<div class="col-xs-6">
							<p class="topmenu_header">КАТЕГОРИИ</p>
						</div>
						<a href="#" class="col-xs-6" style="text-align: right; text-decoration: underline; color: #2e9df7; font-size: 13px;">Смотреть все</a>
					</div>
				</div>

				<div class="sortbar">
					<div id="sort2" class="sort-block shadow">
						<div class="sort-line">
							<div role="button" class="sort-title row  topmenu_element" >
								<div class="col-xs-9 p-l-0">
									iPhone
								</div>
								<div class="col-xs-3 product-num p-r-0">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<div class="sort-line">
							<div role="button" class="sort-title row topmenu_element">
								<div class="col-xs-9 p-l-0">
									Смартфоны
								</div>
								<div class="col-xs-3 product-num p-r-0">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<div class="sort-line">
							<div role="button" class="sort-title row topmenu_element" >
								<div class="col-xs-9 p-l-0">
									iPad и планшеты
								</div>
								<div class="col-xs-3 product-num p-r-0">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								</div>
							</div>

						</div>
						<div class="sort-line">
							<div role="button" class="sort-title row topmenu_element" >
								<div class="col-xs-9 p-l-0">
									Электронные книги
								</div>
								<div class="col-xs-3 product-num p-r-0">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								</div>
							</div>

						</div>
						<div class="sort-line">
							<div role="button" class="sort-title row topmenu_element" data-toggle="collapse" >
								<div class="col-xs-9 p-l-0">
									Ноутбуки
								</div>
								<div class="col-xs-3 product-num p-r-0">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<div class="sort-line">
							<div role="button" class="sort-title row topmenu_element" data-toggle="collapse" >
								<div class="col-xs-9 p-l-0">
									Умные часы и фитнес браслеты
								</div>
								<div class="col-xs-3 product-num p-r-0">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								</div>
							</div>

						</div>
						<div class="sort-line">
							<div role="button" class="sort-title row topmenu_element" data-toggle="collapse" >
								<div class="col-xs-9 p-l-0">
									Устройства виртуальной реальности
								</div>
								<div class="col-xs-3 product-num p-r-0">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								</div>
							</div>

						</div>
						<div class="sort-line">
							<div role="button" class="sort-title row topmenu_element">

								<div class="col-xs-9 p-l-0">
									Разбитые и неработающие устройства
								</div>
								<div class="col-xs-3 product-num p-r-0">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<div class="sort-line">
							<div role="button" class="sort-title row topmenu_element">

								<div class="col-xs-9 p-l-0">
									Запчасти
								</div>
								<div class="col-xs-3 product-num p-r-0">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<div class="sort-line">
							<div role="button" class="sort-title row topmenu_element">
								<div class="col-xs-9 p-l-0">
									Чехлы и аксессуары
								</div>
								<div class="col-xs-3 product-num p-r-0">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								</div>
							</div>
						</div>
					</div>
				</div>



			</div>
			<div class="col-lg-9 col-sm-12">
				<div id="carousel" class="shadow">
					<div>
						<a href="#">
							<img class="active-ico" src="{% static 'images/banners/1_03.jpg' %}" style="width: 100%;">
						</a>

					</div>
					<div>
						<a href="#">
							<img class="active-ico" src="{% static 'images/banners/2_03.jpg' %}" style="width: 100%;">
						</a>
					</div>
					<div>
						<a href="#">
							<img class="active-ico" src="{% static 'images/banners/3_03.jpg' %}" style="width: 100%;">
						</a>
					</div>
					<div>
						<a href="#">
							<img class="active-ico" src="{% static 'images/banners/4_03.jpg' %}" style="width: 100%;">
						</a>
					</div>

				</div>
			</div>
		</div>


		<div id="advantages">
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="advantage">
					<div class="col-xs-4 advantage-ico">
						<img class="static-ico" src="{% static 'images/advantages/main/1_03.png' %}">
						<img class="active-ico" src="{% static 'images/advantages/main/1_03.png' %}">
					</div>
					<div class="col-xs-8 advantage-text">
						<div>
							<h3>Полная <br/>защита сделки</h3>
							<p>финансовая и техническая защита от сервиса, гарантия на б/у устройство</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="advantage">
				<div class="col-xs-4 advantage-ico">
					<img class="static-ico" src="{% static 'images/advantages/main/1_10.png' %}">
					<img class="active-ico" src="{% static 'images/advantages/main/1_10.png' %}">
				</div>
				<div class="col-xs-8 advantage-text">
					<div>
					<h3>Честная цена</h3>
					<p>автоматическая оценка стоимости и мониторинг цен</p>
					</div>
				</div>
			</div>
			</div>

			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="advantage">
				<div class="col-xs-4 advantage-ico">
					<img class="static-ico" src="{% static 'images/advantages/main/1_05.png' %}">
					<img class="active-ico" src="{% static 'images/advantages/main/1_05.png' %}">
				</div>
				<div class="col-xs-8 advantage-text">
					<div>
					<h3>Гарантия</h3>
					<p>техническая проверка и гарантия работоспособности устройства</p>
					</div>
				</div>
			</div>
			</div>

			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="advantage">
				<div class="col-xs-4 advantage-ico">
					<img class="static-ico" src="{% static 'images/advantages/main/1_07.png' %}">
					<img class="active-ico" src="{% static 'images/advantages/main/1_07.png' %}">
				</div>
				<div class="col-xs-8 advantage-text">
					<div>
					<h3>Мгновенный выкуп и Trade-In Обмен на новый</h3>
					<p>лучшая цена за счет онлайн оценки устройста и аукциона среди  сотни ломбардов</p>
					</div>
				</div>
			</div>
			</div>

		</div>
		<h3 class="cont-h">ПОПУЛЯРНЫЕ ТОВАРЫ</h3>

		<div class="popular-products">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<article class="mini-product">
					<div class="price">8 000 <span class="f-8">грн.</span> </div>
					<div class="product-photo">
						<img src="{% static 'images/expamples/prod-ico.png' %}">
					</div>
					<div class="product-description">
						<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="{% static 'images/product/favorite.png' %}"> </h4>
						<div class="product-about">
							<table>
								<tbody>
								<tr>
									<td>Внешний вид:</td>
									<td>хороший</td>
								</tr>
								<tr>
									<td>Работоспособность:</td>
									<td>полностью рабочий</td>
								</tr>
								<tr>
									<td>Рейтинг продавца:</td>
									<td>
										4.0
										<div class="rating inln-blck">
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</article>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<article class="mini-product">
					<div class="price">8 000 <span class="f-8">грн.</span> </div>
					<div class="product-photo">
						<img src="{% static 'images/expamples/prod-ico.png' %}">
					</div>
					<div class="product-description">
						<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="{% static 'images/product/favorite.png' %}"> </h4>
						<div class="product-about">
							<table>
								<tbody>
								<tr>
									<td>Внешний вид:</td>
									<td>хороший</td>
								</tr>
								<tr>
									<td>Работоспособность:</td>
									<td>полностью рабочий</td>
								</tr>
								<tr>
									<td>Рейтинг продавца:</td>
									<td>
										4.0
										<div class="rating inln-blck">
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</article>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<article class="mini-product">
					<div class="price">8 000 <span class="f-8">грн.</span> </div>
					<div class="product-photo">
						<img src="{% static 'images/expamples/prod-ico.png' %}">
					</div>
					<div class="product-description">
						<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="{% static 'images/product/favorite.png' %}"> </h4>
						<div class="product-about">
							<table>
								<tbody>
								<tr>
									<td>Внешний вид:</td>
									<td>хороший</td>
								</tr>
								<tr>
									<td>Работоспособность:</td>
									<td>полностью рабочий</td>
								</tr>
								<tr>
									<td>Рейтинг продавца:</td>
									<td>
										4.0
										<div class="rating inln-blck">
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</article>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<article class="mini-product">
					<div class="price">8 000 <span class="f-8">грн.</span> </div>
					<div class="product-photo">
						<img src="{% static 'images/expamples/prod-ico.png' %}">
					</div>
					<div class="product-description">
						<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="{% static 'images/product/favorite.png' %}"> </h4>
						<div class="product-about">
							<table>
								<tbody>
								<tr>
									<td>Внешний вид:</td>
									<td>хороший</td>
								</tr>
								<tr>
									<td>Работоспособность:</td>
									<td>полностью рабочий</td>
								</tr>
								<tr>
									<td>Рейтинг продавца:</td>
									<td>
										4.0
										<div class="rating inln-blck">
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="content container center">
			<a href="{% url "products:products" %}" title="" class="btn btn-get-more">все модели</a>
		</div>
	</div>
	<div style="background-color: #fff;">
		<div class="content container" id="part2">
			<h3 class="cont-h">О СЕРВИСЕ SELLFONE</h3>
			<div class="row margin-0">
				<div class="col-md-6 col-xs-12 text-center m-b-20 video"><img width="100%" src="{% static "images/video.png" %}"></div>
				<div class="col-md-6 col-xs-12">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<div class="col-xs-12">
								<p class="m-b-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ligula dui. Aenean vehicula diam id arcu posuere, a mollis magna fringilla.</p>
								<p class="m-b-10">Sed tincidunt auctor purus et aliquam. Sed nec ipsum id elit aliquam ullamcorper sed a tellus. Quisque pharetra auctor tristique.</p>
								<p class="m-b-10">In dapibus lacus sed tempor eleifend. Donec vulputate blandit dui eget ultrices. Nunc aliquam convallis nisl quis mollis. In dapibus lacus sed tempor eleifend. Donec vulputate blandit dui eget ultrices. Nunc aliquam convallis nisl quis mollis.</p>
							</div>
						</div><br/>
					</div>
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<div class="col-xs-12">
								<a href="#" class="more-button">Узнать больше</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="content container " id="part3">
		<div class="center">
			<h3 class="cont-h">ПОЧЕМУ СДЕЛКИ НА SELLFONE - БЕЗОПАСНЫ?</h3>
		</div>
		<div class="row">
            <div class="col-xs-6 flex">
                <div class="m-r-25">
                    <img src="{% static 'images/why/why_03.png' %}">
                </div>
                <div class="inln-blck">
                    <h4 class="why-h4">100% возврат денег</h4>
                    <p class="m-b-20">в случае несоответствия товара описанию или неработоспособности</p>
                </div>
            </div>
            <div class="flex col-xs-6">
                <div class="m-r-25">
                    <img src="{% static 'images/why/why_05.png' %}">
                </div>
                <div class="inln-blck">
                    <h4 class="why-h4">Гарантия получения товара или оплаты</h4>
                    <p class="m-b-20">оформив заказ, деньги замораживаются до момента получения товара, а после подтверждения покупателем - перечисляются продавцу</p>
                </div>
            </div>
        </div>
		<div class="row">
            <div class="col-xs-6 flex">
                <div class="m-r-25">
                    <img src="{% static 'images/why/why_07.png' %}">
                </div>
                <div class="inln-blck">
                    <p class="m-b-20">
                        Профессиональная техническая проверка и полноценная гарантия на б/у устройство
                    </p>
                </div>
            </div>
            <div class="flex col-xs-6">
                <div class="m-r-25">
                    <img src="{% static 'images/why/why_08.png' %}">
                </div>
                <div class="inln-blck">
                    <h4 class="why-h4">Решение споров</h4>
                    <p class="m-b-20">мы берем на себя объективное решения споров между сторонами</p>
                </div>
            </div>
        </div>




            <div role="tabpanel" class="tab-pane fast-tab-content active mr-ml25 shadow" id="model">
                <div class="row m-0">
					<div class="col-xs-7">
						<h3 class="cont-h text-left">МГНОВЕННЫЙ ВЫКУП ЗА 30 МИНУТ</h3>
						<div>
							<div class="row">
								<div class="col-xs-12 flex">
									<div class="m-r-25">
										<img src="{% static 'images/moment/moment_03.png' %}">
									</div>
									<div class="inln-blck">
										<h4 class="why-h4">Оцените устройство онлайн</h4>
										<p class="m-b-20">За 2 минуты заполните несколько простых полей и получите предварительную стоимсоть от нашего сервиса </p><br/>
									</div>
								</div>
								<div class="col-xs-12 flex">
									<div class="m-r-25">
										<img src="{% static 'images/moment/moment_06.png' %}">
									</div>
									<div class="inln-blck">
										<h4 class="why-h4">Онлайн аукцион и лучшая цена</h4>
										<p class="m-b-20">Мы выставляем устройство на мгновенный аукцион, где сотни проверенных дилеров в течение 30 минут соревнуются за него. Мы предложим Вам лучшую цену!</p>
									</div>
								</div>
								<div class="col-xs-12 flex">
									<div class="m-r-25">
										<img src="{% static 'images/moment/moment_08.png' %}">
									</div>
									<div class="inln-blck">
										<h4 class="why-h4">Получите оплату</h4>
										<p class="m-b-20">Передайте телефон удобным способом и получите деньги: на карточку (при отправке курьером, почтой) или лично в руки (принесите телефон в одно из отделений)</p>
									</div>
								</div>

							</div>
						</div>
					</div>
                    <div class="col-xs-5 p-l-0">
						<div class="cat-c-p" style="margin-left: auto; margin-right: -16px;">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="f-22 text-center hidden-xs hidden-sm" style="line-height: 22px;">УЗНАЙТЕ ЦЕНУ СВОЕГО <br/>телефона за 2 минуты!</p>
									<p class="f-14 text-center hidden-xs hidden-md hidden-lg" style="line-height: 22px;">УЗНАЙТЕ ЦЕНУ СВОЕГО <br/>телефона за 2 минуты!</p>
									<p class="f-10 text-center hidden-md hidden-lg hidden-sm" style="line-height: 22px;">УЗНАЙТЕ ЦЕНУ СВОЕГО <br/>телефона за 2 минуты!</p>
                                </div>

                            </div>
                        </div>
                        <form action="{% url 'price_wizard:express_cost_estimation' %}" method="get">
                            <div class="form-group chose-phone-cheract">
                                <p class="cheract-label">Категория</p>
                                {{ form.type }}
                            </div>
                            <div class="form-group chose-phone-cheract">
                                <p class="cheract-label">Производитель</p>
                                {{ form.brand }}
                            </div>
                            <div class="form-group chose-phone-cheract">
                                <p class="cheract-label">Модель</p>
                                {{ form.device }}
                            </div>
                            <div class="form-group chose-phone-cheract">
                                <p class="cheract-label">Цвет</p>
                                {{ form.color }}
                            </div>
                            <div class="form-group chose-phone-cheract">
                                <p class="cheract-label">Память</p>
                                {{ form.mem_size }}
                            </div>
                            <div class="cat-c-p" style="margin-left: auto; margin-right: -16px;">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="f-22 text-center hidden-xs hidden-sm" style="line-height: 22px;"><button style="background-color: #00c200; border: none">ОЦЕНИТЬ</button></p>
                                        <p class="f-14 text-center hidden-xs hidden-md hidden-lg" style="line-height: 22px;"><button style="background-color: #00c200; border: none">ОЦЕНИТЬ</button></p>
                                        <p class="f-10 text-center hidden-md hidden-lg hidden-sm" style="line-height: 22px;"><button style="background-color: #00c200; border: none">ОЦЕНИТЬ</button></p>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


		<br/><br/><br/>



	</div>

	<div style="background-color: #fff;">
		<div class="content container" id="part4" style='background-image: url(" {% static "images/device_03.png" %} "); background-repeat: no-repeat;text-align: center;' >

			<div class="row">
				<div class="col-md-3 col-sm-4"></div>
				<div class="col-md-8 col-sm-8 p-0"><h3 class="cont-h" style="text-align: left;">ОБМЕНЯЙ СВОЙ СТАРЫЙ ТЕЛЕФОН НА НОВЫЙ!</h3></div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-4"></div>
				<div class="col-md-9 col-sm-8 ">
					<div class="row">
						<div class="col-md-3 col-sm-6 p-0">Оцени старый телефон <br/>онлайн за 2 минуты</div>
						<div class="col-md-3 col-sm-6 p-0">Выбери <br/>новый гаджет<br/><br/></div>
						<div class="col-md-3 col-sm-6 p-0">Получи предложения о доплате <br/>от сотни интернет-магазинов, <br/>готовых к обмену</div>
						<div class="col-md-3 col-sm-6 p-0">Выбери лучшее предложение<br/>с учётом суммы доплаты <br/>и статуса продавца</div>
					</div>
				</div>
			</div>

			<div class="row  hidden-sm" style='background-image: url("{% static "images/line_03.png" %}"); background-repeat: no-repeat; margin-top: 25px; background-position-y: 12px;'>
				<div class="col-md-3 col-sm-4"></div>
				<div class="col-md-9 col-sm-8 ">
					<div class="row">
						<div class="col-md-3 col-sm-6 p-0">
							<i style="color: #2e9df7; font-weight: bold; background: white;" class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
						</div>
						<div class="col-md-3 col-sm-6 p-0">
							<i style="color: #2e9df7; font-weight: bold; background: white;" class="fa fa-circle-thin fa-2x" aria-hidden="true"></i></div>
						<div class="col-md-3 col-sm-6 p-0">
							<i style="color: #2e9df7; font-weight: bold; background: white;" class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
						</div>
						<div class="col-md-3 col-sm-6 p-0">
							<i style="color: #2e9df7; font-weight: bold; background: white;" class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-2 p-0"><a href="#" class="more-button" style="border: 2px solid #2e9df7;">Узнать больше</a></div>
				<div class="col-md-7 p-0"><p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ligula dui. Aenean vehicula diam id arcu posuere, a mollis magna fringilla. Sed tincidunt auctor purus et aliquam. Sed nec ipsum id elit aliquam ullamcьorper sed a tellus.</p></div>

			</div>
			<br/><br/>
		</div>
	</div>



	<div class="content container hidden-xs" id="part5">

	<h3 class="cont-h">ОТЗЫВЫ</h3>
		<div class="comments">
				<div class="col-md-4">
					<article class="comment">
						<div class="user-info">
							<div class="row margin-0">
							<div class="col-xs-3 user-image"><img src="{% static "images/user-logo.png" %}"></div>
							<div class="col-xs-9">
								<p class="user-name">Катя Иванова</p>
								<p class="user-type">Покупатель</p>
							</div>
							<div class="comment-text col-xs-12">
								Очень хороший сервис! Купила iPhone в идеальном состоянии и не переплатила ни копейки. Доставили быстро и дали гарантию
							</div>
							</div>
						</div>
					</article>

				</div>

				<div class="col-md-4">
					<article class="comment">
						<div class="user-info">
							<div class="row margin-0">
							<div class="col-xs-3 user-image"><img src="{% static "images/user-logo.png" %}"></div>
							<div class="col-xs-9">
								<p class="user-name">Катя Иванова</p>
								<p class="user-type">Покупатель</p>
							</div>
							<div class="comment-text col-xs-12">
								Очень хороший сервис! Купила iPhone в идеальном состоянии и не переплатила ни копейки. Доставили быстро и дали гарантию
							</div>
							</div>
						</div>
					</article>
				</div>

				<div class="col-md-4">
					<article class="comment">

						<div class="user-info">
							<div class="row margin-0">
							<div class="col-xs-3 user-image"><img src="{% static "images/user-logo.png" %}"></div>
							<div class="col-xs-9">
								<p class="user-name">Катя Иванова</p>
								<p class="user-type">Покупатель</p>
							</div>

							<div class="comment-text col-xs-12">
								Очень хороший сервис! Купила iPhone в идеальном состоянии и не переплатила ни копейки. Доставили быстро и дали гарантию
							</div>
							</div>
						</div>
					</article>
				</div>
		</div>
	</div>
	<div style="padding-bottom:45px!important">
			<div class="content container shadow hidden-xs" id="map">
				<div class='row mr-ml0' style="background-color: #fff;">
					<div class="col-md-12" style="margin: 15px;">
						<form class="form-inline ">
							<div class='row'>
								<div class="col-md-3">
									<input type="text" class="search-inp" id="exampleInputName2" placeholder="Адрес или метро" style="height: 36px;">
								</div>
								<div class="col-md-3">
									<select class="search-select">
										<option value="0">Тип сервиса</option>
										<option>Харьков</option>
										<option>Львов</option>
										<option>Донецк</option>
									</select>
								</div>
								<div class="col-md-2">
										<span class="rating">
											<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
											<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
											<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
											<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
											<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
										</span>
								</div>
								<div class="col-md-1">
										<span class="baks">
											<input type="radio" id="baks3" name="baks" value="3" /><label class = "full" for="baks3" title="3 baks"></label>
											<input type="radio" id="baks2" name="baks" value="2" /><label class = "full" for="baks2" title="2 baks"></label>
											<input type="radio" id="baks1" name="baks" value="1" /><label class = "full" for="baks1" title="1 baks"></label>
										</span>
								</div>
								<div class="col-md-2 text-right">
								<button class="make-check">Найти</button></div>


							</div>





						</form>
					</div>
				</div>
				<div class='row mr-ml0'>
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d81311.09185247231!2d30.54652674282227!3d50.44162927249939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1490822462329" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/owl.carousel.min.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#carousel').owlCarousel({
      			slideSpeed : 300,
      			paginationSpeed : 400,
      			singleItem:true
			});

			$(".menu-button").click(function(){
				$(".mobile-menu").show();
			});

			$("#mobile-close").click(function(){
				$(".mobile-menu").hide();
			});

			$('#select-category, #select-brand').change(function(){
            if ($(this).attr('id') == 'select-category'){
                var data = 'type=category&value='+$(this).val();
            }else{
                var data = 'type=brand&value='+$(this).val();
            }
            $.ajax({
                url: "{% url 'products:get_parameters' %}",
                type: "GET",
                data: data,
                success: function(data) {
                    $('#select-brand').html(data['brands']);
                    $('#id_device').html(data['devices']);
                    $('select').niceSelect('update');
                }
            });
        });
			$('#id_device').change(function () {
            data = 'type=device&value='+$(this).val();
            $.ajax({
                url: "{% url 'products:get_parameters' %}",
                type: "GET",
                data: data,
                success: function(data) {
                    $('#device-card').html(data['device_card']);
                    $('#id_color').html(data['colors']);
                    $('#id_mem_size').html(data['mem_size']);
                    $('select').niceSelect('update');
                }
            });
        });
		})
	</script>
{% endblock %}


