{% extends "base.html" %}
{% load static %}
{% block title %} Добавить продукт {% endblock %}

{% block styleshets %}

	<link rel="stylesheet" type="text/css" href="{% static "css/grey.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/minimal.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/chosen.min.css" %}">

{% endblock styleshets %}
{% block content %}

	<div class="content container" id="part1">
        {% include 'includes/advantages_blocks.html' %}

        <ul class="nav pasive-tabs" role="tablist">
            <li role="presentation" class="col-xs-4 p-tab {% if step == 1 %}active{% elif step > 1 %}success{% endif %}">
                <div aria-controls="model" role="tab"  class="tab-content">ШАГ 1. Модель и характеристики б/у</div>
            </li>
            <li role="presentation" class="col-xs-4 p-tab {% if step == 2 %}active{% elif step > 2 %}success{% endif %}">
                <div aria-controls="description" role="tab"  class="tab-content">ШАГ 2. Описание и фотографии</div>
                </li>
            <li role="presentation" class="col-xs-4 p-tab p-r-0 {% if step == 3 %}active{% endif %}">
                <div  aria-controls="publication" role="tab"  class="tab-content">ШАГ 3. Цена и публикация</div>
            </li>
        </ul>

        <!-- BEGIN TAB PANES -->
        <div class="tab-content shadow">
            {% include template with product_form=product_form %}
        </div>
        <!-- END TAB PANES -->
    </div>
{% endblock content %}

{% block extrajs %}
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/owl.carousel.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/icheck.js" %}" type="text/javascript"></script>
    <script src="{% static "js/chosen.jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.nice-select.min.js" %}"></script>
{% endblock extrajs %}