{% extends 'base.html' %}

{% load staticfiles %}
{% load  thumbnail %}

{% block content %}
    {{ block.super }}
    <div style="background-color: #f6f6f6;">
		<div class="content">
			<div class="container" id="part1">
                {% include 'includes/advantages_blocks.html' %}
				<div class="">
					<div class="col-xs-3 visible-lg-inline-block">
						<div class="sortbar">
							<div id="sort1" class="sort-block shadow">
								<div class="sort-line">
									<div class="sort-title catalog">
										<div>
											<b>КАТАЛОГ ТОВАРОВ</b>&nbsp;&nbsp;
											<span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												<span class="arrow-down glyphicon glyphicon-menu-down"></span>
											</span>
											<ul class="dropdown-menu">
												<li><a href="#">IPhone 6 (Unlocked), 16 GB</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="#">IPhone 6 (Unlocked), 16 GB</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="#">IPhone 6 (Unlocked), 16 GB</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="#">IPhone 6 (Unlocked), 16 GB</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="sort-line">
									<div class="sort-title row">
										<div class="col-xs-9 p-l-0">
											<p>ПРОИЗВОДИТЕЛЬ</p>
										</div>
										<div class="col-xs-3 p-r-0" style="text-align: right; text-decoration: underline; color: #2e9df7; font-size: 13px;">ВСЕ</div>
									</div>
									<div class="sort-options">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Apple
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Samsung
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													HTC
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													LG
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>
								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#models" aria-expanded="false" aria-controls="models">
										<div class="col-xs-9 p-l-0">
											МОДЕЛЬ
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="models">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Apple
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Samsung
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													HTC
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													LG
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>
								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#memory" aria-expanded="false" aria-controls="memory">
										<div class="col-xs-9 p-l-0">
											ВСТРОЕННАЯ ПАМЯТЬ
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="memory">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Apple
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Samsung
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													HTC
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													LG
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>
								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#color" aria-expanded="false" aria-controls="color">
										<div class="col-xs-9 p-l-0">
											ЦВЕТ
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="color">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Apple
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Samsung
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													HTC
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													LG
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>
								<div class="sort-line">
									 <div class="sort-title row">
										 <p>ЦЕНА</p>
									 </div>
									<div class="option">
										<input class="price-inp" placeholder="от" type="number">
										<input class="price-inp" placeholder="до" type="number">
									</div>
								</div>
							</div>
							<div id="sort2" class="sort-block shadow">
								<div class="sort-line">
									<div class="sort-title">
										<div class="col-xs-9 p-l-0">
											<p>РАБОТОСПОСОБНОСТЬ</p>
										</div>
									</div>
									<div class="sort-options">
										<div class="option row">
											<div class="col-xs-12">
												<label>
													<input type="checkbox" name="">
													Полностью рабочий <img src="{% static 'images/advantages/advant-inf.png' %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="устройство включается, батарея держит заряд, все кнопки и разъёмы функционируют должным образом">
												</label>
											</div>

										</div>
										<div class="option row">
											<div class="col-xs-12">
												<label>
													<input type="checkbox" name="">
													Рабочий, но есть дефекты <img src="{% static 'images/advantages/advant-inf.png' %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="устройство включается, батарея держит заряд, все кнопки и разъёмы функционируют должным образом">
												</label>
											</div>

										</div>
										<div class="option row">
											<div class="col-xs-12">
												<label>
													<input type="checkbox" name="">
													Не работает <img src="{% static 'images/advantages/advant-inf.png' %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="устройство включается, батарея держит заряд, все кнопки и разъёмы функционируют должным образом">
												</label>
											</div>

										</div>
									</div>
								</div>
							</div>
							<div id="sort3" class="sort-block shadow">
								<div class="sort-line">
									<div class="sort-title">
										<div class="col-xs-9 p-l-0">
											<p>ВНЕШНЕЕ СОСТОЯНИЕ</p>
										</div>
									</div>
									<div class="sort-options">
										<div class="option row">
											<div class="col-xs-12">
												<label>
													<input type="checkbox" name="">
													Новое <img src="{% static 'images/advantages/advant-inf.png' %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="Телефон не использовался, в заводской упаковке">
												</label>
											</div>

										</div>
										<div class="option row">
											<div class="col-xs-12">
												<label>
													<input type="checkbox" name="">
													Отличное <img src="{% static 'images/advantages/advant-inf.png' %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="устройство в отличном состоянии, без явных следов использования, практически незаметные царапины">
												</label>
											</div>

										</div>
										<div class="option row">
											<div class="col-xs-12">
												<label>
													<input type="checkbox" name="">
													Хорошее <img src="{% static 'images/advantages/advant-inf.png' %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="заметны следы использования, есть незначительные повреждения и заметные царапины (без вмятин, царапины чётко видны)">
												</label>
											</div>

										</div>
										<div class="option row">
											<div class="col-xs-12">
												<label>
													<input type="checkbox" name="">
													Удовлетворительное <img src="{% static 'images/advantages/advant-inf.png' %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="много повреждений и заметных царапин на экране и корпусе, присутствуют вмятины">
												</label>
											</div>

										</div>
										<div class="option row">
											<div class="col-xs-12">
												<label>
													<input type="checkbox" name="">
													Дефектное <img src="{% static 'images/advantages/advant-inf.png' %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="значительные следы износа, включая глубокие/большие царапины и трещины на экране, глубокие/большие вмятины, следы выгорания экрана (битых пикселей) и другие внешние дефекты">
												</label>
											</div>

										</div>
									</div>
								</div>
							</div>
							<div id="sort4" class="sort-block shadow">
								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#complectation" aria-expanded="false" aria-controls="complectation">
										<div class="col-xs-9 p-l-0">
											КОМПЛЕКТАЦИЯ
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="complectation">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Apple
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Samsung
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													HTC
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													LG
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>
								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#buy-country" aria-expanded="false" aria-controls="buy-country">
										<div class="col-xs-9 p-l-0">
											СТРАНА ПОКУПКИ
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="buy-country">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Apple
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Samsung
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													HTC
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													LG
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>
								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#city-seller" aria-expanded="false" aria-controls="city-seller">
										<div class="col-xs-9 p-l-0">
											ГОРОД ПРОДАВЦА
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="city-seller">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Apple
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Samsung
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													HTC
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													LG
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>
								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#varanty" aria-expanded="false" aria-controls="varanty">
										<div class="col-xs-9 p-l-0">
											ГАРАНТИЯ
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="varanty">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Apple
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Samsung
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													HTC
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													LG
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>
								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#firstowner" aria-expanded="false" aria-controls="firstowner">
										<div class="col-xs-9 p-l-0">
											ПЕРВЫЙ ВЛАДЕЛЕЦ <img src="{% static 'images/advantages/advant-inf.png' %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="устройство было куплено новым и продается первый раз">
										</div>
										<div class="col-xs-3 product-num p-r-0">
											 <input type="checkbox" name="">
										</div>
									</div>

								</div>
								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#REFERBISHED" aria-expanded="false" aria-controls="REFERBISHED">
										<div class="col-xs-9 p-l-0">
											ВОСТАНОВЛЕН (REFERBISHED) <img src="{% static 'images/advantages/advant-inf.png' %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="устройство прошло процедуру замены корпуса, экрана, кнопок и батареи. Выглядит и функионирует как новое">
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<input type="checkbox" name="">
										</div>
									</div>

								</div>
								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#recowered" aria-expanded="false" aria-controls="recowered">
										<div class="col-xs-9 p-l-0">
											БЫЛ В РЕМОНТЕ
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<input class="hidden" type="checkbox" name="">
										</div>
									</div>
								</div>
							</div>
							<div id="sort5" class="sort-block shadow">
								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#sim-qty" aria-expanded="false" aria-controls="sim-qty">
										<div class="col-xs-9 p-l-0">
											КОЛИЧЕСТВО SIM-КАРТ
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="sim-qty">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													1 карта
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 2 карты
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													2 (или 1 SIM + карта памяти) SIM
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													3 карты
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>

								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#size-screen" aria-expanded="false" aria-controls="size-screen">
										<div class="col-xs-9 p-l-0">
											ДИАГОНАЛЬ ЭКРАНА
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="size-screen">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													6,0" и больше
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 5,6-5,9"
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 5,5"
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 5"
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 4,6-4,8"
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 4,5"
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 4,3"
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 4"
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 2,4-3,9"
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 2,3" и меньше
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>

								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#resol-screen" aria-expanded="false" aria-controls="resol-screen">
										<div class="col-xs-9 p-l-0">
											РАЗРЕШЕНИЕ ЭКРАНА
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="resol-screen">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													3840x2160 (4K)
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 2560x1440 (Quad HD)
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 1920х1080 (Full HD)
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 1280х720, 1136x640 (HD)
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 960x540, 960x640
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 800х480, 854x480
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 640x480, 640x360
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 480x320
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 320x240, 400x240 и меньше
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>

								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#type-screen" aria-expanded="false" aria-controls="type-screen">
										<div class="col-xs-9 p-l-0">
											ТИП МАТРИЦЫ ЭКРАНА
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="type-screen">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 IPS
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 Super AMOLED
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 AMOLED
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 Super LCD
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 IGZO
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 PLS
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 TN
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>

								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#ram" aria-expanded="false" aria-controls="ram">
										<div class="col-xs-9 p-l-0">
											ОПЕРАТИВНАЯ ПАМЯТЬ, ГБ
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="ram">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													6 и больше
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													4
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													3
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													2
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													1,5
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													1
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													меньше 1
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>
								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#battery" aria-expanded="false" aria-controls="battery">

										<div class="col-xs-9 p-l-0">
											ЕМКОСТЬ АККУМУЛЯТОРА, мАч
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="battery">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 5000 и больше
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 4500-4999
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 4000-4499
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													3500-3999
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													3000-3499
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													2500-2999
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													2000-2499
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													1500-1999
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													1000-1499
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													До 1000
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>

								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#core" aria-expanded="false" aria-controls="core">
										<div class="col-xs-9 p-l-0">
											КОЛИЧЕСТВО ЯДЕР ПРОЦЕССОРА
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="core">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													10
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													6-8
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													4
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													2
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													1
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>

								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#processor" aria-expanded="false" aria-controls="processor">
										<div class="col-xs-9 p-l-0">
											ПРОЦЕССОР
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="processor">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 Qualcomm Snapdragon 8xx
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 Qualcomm Snapdragon 6xx
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 Qualcomm Snapdragon 4xx
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 Qualcomm Snapdragon 2xx
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 Intel Atom
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 MediaTek MT675x/679x
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 MediaTek MT673x
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 MediaTek MT659x
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 MediaTek MT658x
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 Samsung Exynos
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 HUAWEI Kirin
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 Apple Ax
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 Другие
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>

								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#camera" aria-expanded="false" aria-controls="camera">
										<div class="col-xs-9 p-l-0">
											ОСНОВНАЯ КАМЕРА
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="camera">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													 20 и больше
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													От 13 до 16
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													от 8 до 13
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													от 5 до 8
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													5 и менее
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>
								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#os" aria-expanded="false" aria-controls="os">
										<div class="col-xs-9 p-l-0">
											ОПЕРАЦИОННАЯ СИСТЕМА
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="os">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Android 7.x (Nougat)
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Android 6.x (Marshmallow)
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Android 5.1 (Lollipop)
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Android 5.0 (Lollipop)
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Android 4.4 и ранее
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Windows 10
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Windows Phone
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Apple iOS
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Другая
												</label>
											</div>
											<div class="col-xs-3 product-num">10</div>
										</div>
									</div>
								</div>

								<div class="sort-line">
									<div role="button" class="sort-title row" data-toggle="collapse" data-target="#sim-type" aria-expanded="false" aria-controls="sim-type">
										<div class="col-xs-9 p-l-0">
											ТИП SIM-КАРТЫ
										</div>
										<div class="col-xs-3 product-num p-r-0">
											<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										</div>
									</div>
									<div class="collapse" id="sim-type">
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Mini-SIM (стандартная)
												</label>
											</div>
											<div class="col-xs-3 product-num">36</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Micro-SIM
												</label>
											</div>
											<div class="col-xs-3 product-num">14</div>
										</div>
										<div class="option row">
											<div class="col-xs-9">
												<label>
													<input type="checkbox" name="">
													Nano-SIM
												</label>
											</div>
											<div class="col-xs-3 product-num">8</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                    <div class="products-place p-0 col-lg-9 col-xs-12">

                        {% for product in products_list %}
                            <a class="link-product" href="{% url 'products:product_detail' product.pk %}">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <article class="mini-product">
                                        <div class="price">{{ product.price }} <span class="f-8">грн.</span> </div>
                                        <div class="product-photo">
                                            {% if product.image %}
                                                <img src="{{ product.image|thumbnail_url:'catalog_device_image' }}" >
                                            {% else %}
                                                <img src="{{ product.extra_images.all.first.image|thumbnail_url:'catalog_device_image' }}" width="100%">
                                            {% endif %}
                                        </div>
                                        <div class="product-description">
                                            <h4 class="product-title">{{ product.title }}<img style="float: right" src="{% static 'images/product/favorite.png' %}"> </h4>
                                            <div class="product-about">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <td>Внешний вид:</td>
                                                        <td>{{ product.appearance }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Работоспособность:</td>
                                                        <td>{{ product.operability }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Рейтинг продавца:</td>
                                                        <td>
                                                            4.0
                                                            <div class="rating inln-blck">
                                                            <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                            <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                            <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                            <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </a>
                        {% endfor %}
					</div>
				</div>
				<div class="col-xs-3 visible-lg-inline-block"></div>
				<div class="col-lg-9 col-xs-12 m-b-10">
					{% include 'products/include/paginator.html' %}
				</div>
			</div>
        </div>
    </div>

{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
		$(document).ready(function(){
            $('[data-toggle="popover"]').hover(
                function () {
                    $(this).popover('show');
                },
                function () {
                    $(this).popover('hide');
                }
            );
            $('select').niceSelect();
			$('#carousel').owlCarousel({
      			slideSpeed : 300,
      			paginationSpeed : 400,
      			singleItem:true
			});

            $("input[type='checkbox'], input[type='radio']").iCheck({
                checkboxClass: 'icheckbox_minimal-blue c-check filter-check',
                radioClass: 'iradio_minimal-blue c-check',
            });
		})
	</script>
{% endblock extrajs%}