{% extends "base.html" %}
{% load staticfiles %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/grey.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/minimal.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/chosen.min.css' %}">
{% endblock %}
{% block bottom_header %}
    <div class="bottom-header">
            <div class="container">
                <div class="col-sm-3 col-xs-12 text-center logo"><img src="{% static 'images/logo.png' %}"></div>
                <div class="col-xs-7 info middle">
                    <div class="col-xs-5 mini_user_header">
                        <img class="mini_user-avatar" src="{% static 'images/user-logo.png' %}">
                        <div class="mini_user-info">
                            <p class="mini_user-name">Катя Иванова</p>
                            <p class="mini_user-city">Киев</p>
                            <p class="mini_user-rating">
                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <a class="green-color" href="#">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            <b>ПРОДАТЬ ТЕЛЕФОН</b>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a class="favorite-link" href="#">
                            <span class="f-16 blue-color"><span class="active glyphicon glyphicon-star" aria-hidden="true"></span></span>
                            <b>ИЗБРАННОЕ</b>
                        </a>
                    </div>
                </div>
                <div class="col-xs-2 hidden-xs support"><a class="grey-color f-18" href="#"><b>выйти</b></a> </div>
            </div>
        </div>
{% endblock %}

{% block content %}
    <div>
    <div class="content container" id="part1">
        <form>
        <h2 style="font-weight: normal;">Создание обьявления</h2>
        <h2 style="font-weight: normal; color: #2d9cf6"><i>Шаг 1</i></h2>
        <div class="row margin-0">
            <div class="col-xs-8">

                <div id="block-form">
                    <label for="#manufacturer">Производитель:<span class="text-danger">*</span></label>
                    <div>
                        <select class="imprtnt-f" id="manufacturer">
                            <option>Apple</option>
                            <option>Samsung</option>
                        </select>
                    </div>

                    <label for="#model">Модель:<span class="text-danger">*</span></label>
                    <div><select class="imprtnt-f" id="model"></select></div>

                    <label for="#capacity">Обьем памяти:<span class="text-danger">*</span></label>
                    <div><select class="imprtnt-f" id="capacity"></select></div>

                    <label for="#colour">Цвет:<span class="text-danger">*</span></label>
                    <div><select class="imprtnt-f" id="colour"></select></div>

                    <label for="#imei">IMEI:<span class="text-danger">*</span></label>
                    <div><input class="imprtnt-f" id="imei" type="text" name=""></div>

                    <label for="#description">Описание:</label>
                    <div><textarea id="description" placeholder="1000 знаков"></textarea></div>
                </div>
                <div class="row">
                    <div class="col-xs-6 p-r-0">
                        <p>Состояние:</p>
                        <div id="condition-bl">
                        <div><label><input type="checkbox"> <span>Устройство включается</span></label></div>
                        <div><label><input type="checkbox"><span> Батарея держит заряд</span></label></div>
                        <div><label><input type="checkbox"><span> Экран без битых пискелей</span></label></div>
                        <div><label><input type="checkbox"><span> Все кнопки функционируют</span></label></div>
                        <div><label class="m-b-0" for="#condition">Внешнее состояние устройства:</label>
                        <div class="m-b-10"><select id="condition"></select></div>
                        </div>

                        <textarea class="small-textarea" placeholder="200 знаков"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-6 p-l-10">
                        <p>Комплектация:</p>
                        <div id="compl-bl">
                        <div><label><input type="checkbox"><span>Зарядное устройство</span></label></div>
                        <div><label><input type="checkbox"><span>Кабель USB</span></label></div>
                        <div><label><input type="checkbox"><span>Наушники</span></label></div>
                        <div><label><input type="checkbox"><span>Оригинальная коробка</span></label></div>
                        <div style="margin-bottom: 40px !important;"><label><input type="checkbox"><span>Другое</span></label></div>
                        <div><textarea class="small-textarea" placeholder="200 знаков"></textarea></div>
                        </div>
                    </div>
                </div>
                <button class="btn m-t-10 f-20">Провести оценку и продолжить</button>
            </div>
            <div class="col-xs-4 m-b-10">
                <div id="chosen-phone" class="m-b-10 text-center">
                    <h3>IPhone 5s 16 GB</h3>
                    <img src="{% static 'images/phone-img.png' %}">
                </div>
                <div>
                </div>
                <div id="table-chrct">
                    <table class="table table-striped margin-0">
                        <thead>
                            <tr><th colspan="2">Технические характеристки</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2"><b>Главное</b></td>
                            </tr>
                            <tr>
                                <td>Восстановленые(refurbished)</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Тип устройства</td>
                                <td>Смартфон</td>
                            </tr>
                            <tr>
                                <td>Серия</td>
                                <td>Apple IPhone 5s</td>
                            </tr>
                            <tr>
                                <td>Операционная система</td>
                                <td>IOS 7</td>
                            </tr>
                            <tr>
                                <td>Диагональ экрана</td>
                                <td>4"</td>
                            </tr>
                            <tr>
                                <td>Сенсорный телефон</td>
                                <td>Да</td>
                            </tr>
                            <tr>
                                <td>Тип сенсора</td>
                                <td>Да</td>
                            </tr>
                            <tr>
                                <td>Количество SIM-карт</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Формат SIM-карт</td>
                                <td>Nano-SIM</td>
                            </tr>
                            <tr>
                                <td>Тип корпуса</td>
                                <td>Моноблок</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        </form>
    </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/icheck.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/chosen.jquery.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $("input[type='checkbox']").iCheck({
                checkboxClass: 'icheckbox_minimal',
                radioClass: 'iradio_minimal',
                increaseArea: '10%'
            });

            $("select").chosen();
        })
    </script>
{% endblock %}