{% extends 'base.html' %}

{% load staticfiles %}

{% block extra_css %}
    <style>
        .hide-exp{
            display: none;
        }
    </style>
{% endblock extra_css %}

{% block content %}
    <div class="content container" id="part1">
    {% include 'includes/advantages_blocks.html' %}
        <!-- BEGIN TAB PANES -->
        <div class="tab-content shadow" >
            <div role="tabpanel" class="tab-pane create-tab-content active" id="model">
                <div class="row m-0">
                    <div class="col-xs-7 p-l-0 p-r-38">
                        <form id="exp-est" action=".">
                            {{ form.type }}
                            {{ form.brand }}
                            {{ form.device }}
                            {{ form.color }}
                            {{ form.mem_size }}
                            <p class="f-30 m-b-25 bold">Экспресс-оценка стоимости</p>
                            <p class="m-b-25">
                                Для получения актуальной цены на Ваше устройство, ответьте на два основных
                                вопроса о работоспособности телефона и о внешнем состоянии.
                            </p>
                            <div class="cat-c-h">
                                <div>
                                    <p><b>Роботоспособность телефона:</b></p>
                                    <p><i class="f-12">Выберите описание, соответствующее состоянию работоспособности Вашего устройства</i></p>
                                </div>
                            </div>
                            {% for field in form.how_works %}
                                <div class="check-state how_works">
                                    {{ product_form.how_works.errors }}
                                    {{ field.tag }}
                                    <p class="inln-blck" style="vertical-align: top">
                                        {{ field.choice_label }}
                                    </p>
                                </div>
                            {% endfor %}

                            <div class="cat-c-h">
                                <div>
                                    <p><b>Внешнее состояние телефона:</b></p>
                                    <p><i class="f-12">Выберите описание, соответствующее внешнему состоянию телефона</i></p>
                                </div>
                            </div>

                            {% for field in form.damage %}
                                <div class="check-state {% if forloop.counter0 == 0 %}active{% endif %}">
                                    {{ product_form.damage.errors }}
                                    {{ field.tag }}
                                    <p class="inln-blck" style="vertical-align: top">
                                        <span class="main-text">{{ field.choice_label|linebreaksbr }}</span>
                                    </p>
                                </div>
                            {% endfor %}

                            <div class="cat-c-h justify-between">
                                <span class="bold">Ваш email</span>
                                <input type="text" id="email" name="email" class="phone-cheract italic white-background" placeholder="sellfone@gmail.com">
                                <button type="submit" id="check-price-btn" class="simple-btn green-background white-color">ПОССМОТРЕТЬ ЦЕНУ</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-5 p-l-30 p-r-0 prev-disp">
                        <div class="prev-ad-prod m-b-70" style="height: inherit">
                            <h2 class="m-t-10 m-b-45">{{ device.brand }}, {{ device }},
                                {% if mem_size %}
                                   {{ mem_size }} Gb,
                                {% endif %}
                                {{ color }}
                            </h2>
                            <div class="text-center m-b-30">
                                {% if device.image %}
                                    <img class="prev-prod-img" width="100%" src="{{ device.image.url }}">
                                {% endif %}

                            </div>
                            <div>
                                <table class="prev-table-cheract">
                                    <tbody>
                                    <tr>
                                        <td>Производитель</td>
                                        <td>{{ device.brand }}</td>
                                    </tr>
                                    <tr>
                                        <td>Модель</td>
                                        <td>{{ device }}</td>
                                    </tr>
                                    <tr>
                                        <td>Цвет</td>
                                        <td>{{ color }}</td>
                                    </tr>
                                    <tr>
                                        <td>Память</td>
                                        <td>{{ mem_size }}Gb</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="add-cost"></div>
                        <div class="row m-0 text-center" style="line-height: 1.2">
                            <div class="col-xs-4 p-l-5 p-r-5">
                                <a href="{% url 'products:add' %}" class="btn-action grey">Продать<br> на sellFone</a>
                            </div>
                            <div class="col-xs-4 p-l-5 p-r-5">
                                <a href="#" class="btn-action grey">Выкуп<br> устройства</a>
                            </div>
                            <div class="col-xs-4 p-l-5 p-r-5">
                                <a href="#" class="btn-action grey">Обмен<br> на новый</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END TAB PANES -->
    </div>


{% endblock content%}
{% block extrajs %}
    <script src="{% static 'js/icheck.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){

{#        $('select').niceSelect();#}

        $('[data-toggle="popover"]').hover(
            function () {
                $(this).popover('show');
            },
            function () {
                $(this).popover('hide');
            }
        );

        $("input[type='checkbox'], input[type='radio']").iCheck({
            checkboxClass: 'iradio_square-blue c-check',
            radioClass: 'iradio_square-blue c-check',
        });

        $(".full-info a").on("click", function (e) {
            e.preventDefault();
            var cls = $(this).attr("for");
            if($(cls).hasClass('full')){
                $(cls).removeClass("full");
            }
            else{
                $(cls).addClass("full");
            }
        });

        $("input[type='checkbox'], input[type='radio']").on('ifChecked', function(event){
            $(this).closest('.check-state').addClass('active');
        });
        $("input[type='checkbox'], input[type='radio']").on('ifUnchecked', function(event){
            $(this).closest('.check-state').removeClass('active');
        });

        $('input').on('ifChecked', function(event){
            if($(this).hasClass('how_works')){
                if ($(this).val() != 'fine'){
                    $('input#id_damage_0').iCheck('disable').iCheck('uncheck');
                    $('input#id_damage_1').iCheck('check');
                }else{
                    $('input#id_damage_0').iCheck('enable');
                }
            }
        });
        $(document).on('click', '#check-price-btn', function (event) {
           event.preventDefault();
           var data = $('#exp-est').serializeArray();
           if(data[0] && data[1] && data[2].value != ''){
               $.get('check-price', data)
               .then(function(value) {
                  $('#add-cost').html(value)
                }, function(reason) {
                  console.log(reason); // Ошибка!
                });
           }
        });
        $(document).on('click', '.show-phone', function (event) {
            event.preventDefault();
            $('.block-phone').fadeIn('slow');
        });
        $('select').prop('disabled', 'disabled');

    })
</script>
{% endblock %}


