{% extends 'base.html' %}

{% load staticfiles %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div style="background-color: #f6f6f6;">
		<div class="content container" id="part1">
			{% include 'includes/advantages_blocks.html' %}

			<div class="">
				<div class="navigation-line">
					<div class="row m-0">
						<div class="col-xs-3">
							<b>КАТАЛОГ ТОВАРОВ</b>
							<span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="arrow-down glyphicon glyphicon-menu-down"></span>
							</span>
							<ul class="dropdown-menu">
								<li><a href="#">IPhone 6 (Unlocked), 16 GB</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">IPhone 6 (Unlocked), 16 GB</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">IPhone 6 (Unlocked), 16 GB</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">IPhone 6 (Unlocked), 16 GB</a></li>
							</ul>
						</div>
						<div class="col-xs-5 breadcrmb">
							<a href="#">Главная</a> - <a href="#">Мобильные телефоны</a> - <a href="#">Apple</a> - <a href="#">IPhone 6</a>
						</div>
						<div class="col-xs-4">
							<p class="declaretion-info">
								Объявление создано {{ product.when_created }}<br>
								<span class="seen-count"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 122</span> <span>Поднять в <a class="blue-color"><b>ТОП</b><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a></span>
							</p>
						</div>
					</div>
				</div>
				<div class="row m-0 p-b-50 p-t-35 shadow main-block">
						<div class="col-xs-12 col-sm-12 col-md-7 p-l-35 p-r-30">
							<h2>{{ product.title }}</h2>
							<p class="m-b-50">Код товара: 1391802</p>
							<div class="row">
								<div class="col-xs-6 p-l-0">

									<div id="gallery">
										{% if product.image %}
                                            <li data-thumb="{{ product.image.url }}">
                                                <img src="{{ product.image.url }}">
                                            </li>
                                        {% endif %}
                                        {% for image in product.extra_images.all %}
                                            <li data-thumb="{{ image.image.url }}">
                                                <img src="{{ image.image.url }}">
                                            </li>
                                        {% endfor %}
									</div>

								</div>
								<div class="col-xs-6">
									<table class="product_base_info">
										<tbody>
										<tr>
											<td class="c-title"><nobr>Состояние:</nobr></td>
											<td class="green-color"><b>{{ product.appearance }}</b></td>
										</tr>
										<tr>
											<td class="c-title"><nobr>Комплектация:</nobr></td>
											<td><b>полная</b></td>
										</tr>
										<tr>
											<td class="c-title"><nobr>Предмет кражи:</nobr></td>
											<td><b>{{ product.stolen|yesno:'Да, Нет' }}</b></td>
										</tr>
										<tr>
											<td class="c-title"><nobr>Поддлинность:</nobr></td>
											<td><b>{{ product.is_original|yesno:"оригинал, реплика" }}</b></td>
										</tr>
										<tr>
											<td class="c-title"><nobr>Ремонт:</nobr></td>
											<td><b>{{ product.is_repaired|yesno:"ремонтировался, не ремонтировался, неизвестно" }}</b></td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="m-t-40">
								<span class="dscrptn-ph">Описание:</span>
								{{ product.description }}
								<a href="#">Еще &rarr;</a>
							</div>
							<div class="row m-t-40">
								<div class="col-xs-4 grey-color">
									<p class="m-b-15 black-color">Гарантия <img src="{% static "images/advantages/advant-inf-grey.png" %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content=" Услуга от компании sellFone, которая позволяет проверить устройство перед покупкой и получить гарантию"></p>
									<p>12 месяцев</p>
									<p>14 дней на обмен/возврат</p>
									<a class="green-color"><u>Дополнительная гарантия</u></a>
								</div>
								<div class="col-xs-4 grey-color">
									<p class="m-b-15 black-color">Доставка <img src="{% static "images/advantages/advant-inf-grey.png" %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content=" Услуга от компании sellFone, которая позволяет проверить устройство перед покупкой и получить гарантию"></p>
									<p>Самовывоз: Киев, ул. Антоновича...</p>
									<p>По Киеву: 45 грн.</p>
									<p>По Украине: Новой почтой</p>
								</div>
								<div class="col-xs-4 grey-color">
									<p class="m-b-15 black-color">Оплата <img src="{% static "images/advantages/advant-inf-grey.png" %}" type="button" data-container="body" data-toggle="popover" data-placement="right" data-content=" Услуга от компании sellFone, которая позволяет проверить устройство перед покупкой и получить гарантию"></p>
									<p>Оплата наличными</p>
									<p>VISA/Mastercard, WebMoney</p>
								</div>
							</div>

						</div>
						<div class="col-xs-12 col-sm-12 col-md-5 p-r-0 p-l-0 seller-price">
							<h5 class=" p-l-35 p-r-35">ПРОДАВЕЦ</h5>
							<div class="mini_seller p-35">
								{% if product.user.photo %}
									<img class="mini_seller-avatar" src="{{ product.user.photo.url }}">
								{% else %}
									<img class="mini_seller-avatar" src="{% static 'images/user_ico.png' %}">
								{% endif %}
								<div class="mini_seller-info">
									<!-- Блок при наведении -->
									<div class="big_seller shadow">
										<div class="mini_seller">
											{% if product.user.photo %}
												<img class="mini_seller-avatar" src="{{ product.user.photo.url }}">
											{% else %}
												<img class="mini_seller-avatar" src="{% static 'images/user_ico.png' %}">
											{% endif %}
											<div class="mini_seller-info">
												<div class="row">
													<div class="col-md-12">
														<p><img src="{% static "images/checked.png" %}">
														<a class="mini_seller-name" href="#">{{ product.user.get_full_name }}</a>
														</p>
														<p><b class="mini_seller-city black-color">{{ product.user.place.get_address }},</b> {{ product.user.date_joined|timesince }} на портале</p>
														<p class="mini_seller-rating">
															<span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
															<span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
															<span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
															<span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
															<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
															197 отзывов, 70% положительных <img src="{% static "images/advantages/advant-inf-grey.png" %}" type="button" data-container="body" data-toggle="popover" data-placement="top" data-content=" Услуга от компании sellFone, которая позволяет проверить устройство перед покупкой и получить гарантию">
														</p>
													</div>
												</div>
											</div>
											<div class="row m-0 m-t-10 text-center" style="line-height: 1.2">
												<div class="col-xs-4 p-l-0 p-r-5">
													<a href="#" class="btn-action grey"><i class="fa fa-gavel" aria-hidden="true"></i> ТОРГ</a>
												</div>
												<div class="col-xs-4 p-l-5 p-r-5">
													<a href="#" class="btn-action grey"><i class="fa fa-refresh" aria-hidden="true"></i> ОБМЕН</a>
												</div>
												<div class="col-xs-4 p-l-5 p-r-5">
													<a href="#" class="btn-action grey"><i class="fa fa-question" aria-hidden="true"></i> ВОПРОС</a>
												</div>
											</div>
											<div class="row m-0 m-t-10">
												<div class="col-xs-5 p-l-0 p-r-5">
													<p>Подтверждение личности</p>
												</div>
												<div class="col-xs-7 p-l-5 p-r-5 ">
													<p class="text-justify">
														<a class="p-r-15 valid active" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
														<a class="p-r-15 valid active" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
														<a class="p-r-15 valid" href="#"><i class="fa fa-mobile" aria-hidden="true"></i></a>
														<a class="p-r-15 valid" href="#"><i class="fa fa-user-o" aria-hidden="true"></i></a>
														<a class="p-r-15 valid" href="#"><i class="fa fa-id-card-o" aria-hidden="true"></i></a>
													</p>
												</div>
											</div>
											<div class="row m-0 m-t-10">
												<div class="col-xs-12 p-l-0 p-r-5">
													<p>Награды</p>
												</div>
											</div>
											<div class="row m-0 m-t-10">
												<div class="col-xs-4 p-l-5 p-r-5">
													<img src="{% static "images/gift_03.png" %}">
												</div>
												<div class="col-xs-4 p-l-5 p-r-5">
													<img src="{% static "images/gift_06.png" %}">
												</div>
												<div class="col-xs-4 p-l-5 p-r-5">
													<img src="{% static "images/gift_08.png" %}">
												</div>
											</div>
											<div class="row">
												<div class="col-md-12"><p class="text-right"><a href="#">Подробнее о продавце <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p></div>
											</div>
										</div>

									</div>
									<!-- Конец блока при наведении -->

									<p><img src="{% static "images/checked.png" %}">
										<a class="mini_seller-name" href="#">{{ product.user.get_full_name }}</a>
									</p>
									<p><b class="mini_seller-city black-color">{{ product.user.place.get_address }},</b> {{ product.user.date_joined|timesince }} на портале</p>
									<p class="mini_seller-rating">
										<span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-star active" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
										197 отзывов, 70% положительных <img src="{% static "images/advantages/advant-inf-grey.png" %}" type="button" data-container="body" data-toggle="popover" data-placement="top" data-content=" Услуга от компании sellFone, которая позволяет проверить устройство перед покупкой и получить гарантию">
									</p>
								</div>
							</div>
							<div class="buy-seller row m-0">
								<div class="col-xs-6">
									<p class="green-color" style="line-height: 1;"><span class="price">{{ product.price }}</span> <span class="currency">грн.</span></p>
									<p class="buy-text">
										напрямую у продавца <img src="{% static 'images/advantages/advant-inf-grey.png' %}" type="button" data-container="body" data-toggle="popover" data-placement="top" data-content=" Услуга от компании sellFone, которая позволяет проверить устройство перед покупкой и получить гарантию">
									</p>
								</div>
								<div class="col-xs-6 text-right">
									{# <button class="buy-btn">купить</button> #}
									<a href="{% url "order:chose_order_type" product.id %}" style="padding:10px 25px 10px 25px;" class="buy-btn">купить</a>
								</div>
							</div>
							<div class="row m-0 f-10 price-elems">
								<div class="col-xs-4 price-elem">
									<div class="wrap">
										<p>ЭКОНОМИЯ</p>
										<p class="f-16">1000 <span class="f-10">грн.</span>(30%)</p>
										<p>в сравнении с новым устройством</p>
									</div>
								</div>
								<div class="col-xs-4 price-elem">
									<div class="wrap">
									<div class="price-inf-blck">
										<img src="{% static "images/graph-cen_ico.png" %}">
										<div class="text">История<br>цен</div>
									</div>
									<div class="price-inf-blck">
										<p class="f-8 credit">
											от <span class="f-10"><b>499</b></span><br>
											грн/мес
										</p>
										<div class="text">Кредит/<br>рассрочка</div>
									</div>
									</div>
								</div>
								<div class="col-xs-4 price-elem">
									<div class="wrap">
									<div class="price-inf-blck">
										<img src="{% static "images/follow-price_ico.png" %}">
										<div class="text">Следить<br>за ценой</div>
									</div>
									<div class="price-inf-blck">
										<img src="{% static "images/part_ico.png" %}">
										<div class="text">Оплата<br>частями</div>
									</div>
									</div>
								</div>
							</div>
							<div class="buy-garant row m-0">
								<div class="col-xs-6">
									<p class="green-color" style="line-height: 1;"><span class="price">3 599</span> <span class="currency">грн.</span></p>
									<p class="buy-text">
										с гарантией SellFone <img src="{% static 'images/advantages/advant-inf-grey.png' %}" type="button" data-container="body" data-toggle="popover" data-placement="top" data-content=" Услуга от компании sellFone, которая позволяет проверить устройство перед покупкой и получить гарантию">
									</p>
								</div>
								<div class="col-xs-6 text-right"><button class="buy-btn">купить</button></div>
							</div>
							<div class="about-check-product">
								<div class="row m-0">
								<div class="col-xs-7 p-l-0">
									<p>Покупаете напрямую?</p>
									<p class="m-b-20">Хотите быть уверены в покупке?</p>
									<p><b class="f-18">ПРОВЕРЬТЕ УСТРОЙСТВО!</b></p>
									<p class="m-b-15">проверка от 200 грн.</p>
									<a style="padding:10px;text-align:center" class="make-check" href="{% url "order:chose_order_type" product.id %}">Заказать проверку</a>
								</div>
								<div class="col-xs-5 text-center">
									<img src="{% static "images/check-price.png" %}">
								</div>
								</div>
								<p class="m-t-10"><a class="black-color" href="#">Подробней &rarr;</a></p>
							</div>
						</div>
				</div>


				<!-- -->
                {% include 'includes/advantages_blocks.html' %}
				<!-- -->

				<!--BEGIN -->
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8">
						<div class="main-block shadow">
							<!--BEGIN TAB_PANES-->
							<ul class="nav nav-tabs-s" role="tablist">
								<li role="presentation" class="active"><a href="#prod_descrp" aria-controls="prod_descrp" role="tab" data-toggle="tab">ОПИСАНИЕ</a></li>
								<li role="presentation"><a href="#prod_cheract" aria-controls="prod_cheract" role="tab" data-toggle="tab">ХАРАКТЕРИСТИКИ</a></li>
								<li role="presentation"><a href="#prod_prices" aria-controls="prod_prices" role="tab" data-toggle="tab">ИСТОРИЯ ЦЕН</a></li>
								<li role="presentation"><a href="#prod_garant" aria-controls="prod_garant" role="tab" data-toggle="tab">ГАРАНТИЯ</a></li>
								<li role="presentation"><a href="#prod_seller" aria-controls="prod_seller" role="tab" data-toggle="tab">ПРОДАВЕЦ</a></li>
							</ul>
							<!-- END TAB_PANES-->

							<!--BEGIN TAB_CONTENT -->
							<div class="tab-content">
								<!--BEGIN TAB descrpiption -->
								<div role="tabpanel" class="tab-pane p-60 active" id="prod_descrp">
									<p class="description-title">Описание устройства</p>
									<p>{{ product.description }}</p>
									<p class="description-title">Вешний вид</p>
									<p>{{ product.get_damage_display }} </p>
									<p class="description-title">Работоспособность</p>
									<p>{{ product.operability_detail }}</p>
									<p class="description-title">Комплектация</p>
                                    <div class="row m-b-15">
                                        {% for accessories in product.accessories.all %}
                                            <div class="col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 15px;">
                                                <input type="checkbox" name="" checked disabled><span class="m-r-20"></span>{{ accessories }}
                                            </div>
                                        {% endfor %}
                                        {% if product.extra_accessories %}
                                            <div class="col-md-6 col-sm-6 col-xs-6">
											    <b>Другое:</b> {{ product.extra_accessories }}
										    </div>
                                        {% endif %}
                                     </div>
									<p class="description-title">Параметры Б/У</p>
                                    <div class="row m-b-15">
                                        {% if not product.stolen %}
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <p>
                                                    <img src="{% static "images/detail/detail_03.png" %}">
                                                    <span style="display: inline-block; vertical-align: middle;">Не украден</span></p>
                                            </div>
                                        {% endif %}
                                        {% if product.locked %}
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <p>
                                                <img src="{% static "images/detail/detail_05.png" %}">
                                                <span style="display: inline-block; vertical-align: middle;">Не подделка <br/>100% оригинал</span></p>
                                            </div>
                                        {% endif %}
                                        {% if product.sellfone_check %}
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <p> <img src="{% static "images/detail/detail_07.png" %}">
                                                <span style="display: inline-block; vertical-align: middle;">Не утоплен</span></p>
                                            </div>
                                        {% endif %}
									</div>
									<div class="row m-b-25 ">
										<div class="col-md-6 col-sm-6 col-xs-6">
											Страна покупки
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6">
											<select class="sel-country-detail" disabled>
												<option >Китай</option>
												<option selected>{{ product.purchase_country }}</option>
											</select>
										</div>
									</div>
									<div class="row m-b-15">
										<div class="col-md-6">
											Наличие действующей гарантии
										</div>
										<div class="col-md-6">
											<div class="row m-b-25 ">
												<div class="col-md-6 col-xs-6">
													<input type="radio" value="1" name="group1" {% if product.has_guarantee %}checked{% endif %} disabled><span class="m-r-20"></span>Да
												</div>
												<div class="col-md-6 col-xs-6 text-right">
													<input type="radio" value="0" name="group1" {% if not product.has_guarantee %}checked{% endif %} disabled><span class="m-r-20"></span>Нет
												</div>
											</div>
										</div>
									</div>
									<div class="row m-b-15">
										<div class="col-md-6">
											Был ли в ремонте
										</div>
										<div class="col-md-6">
											<div class="row m-b-25">
												<div class="col-md-6 col-xs-6">
													<input type="radio" value="1" name="group2" {% if product.is_repaired %}checked{% endif %} disabled><span class="m-r-20"></span>Да
												</div>
												<div class="col-md-6 col-xs-6 text-right">
													<input type="radio" value="0" name="group2" {% if not product.is_repaired %}checked{% endif %} disabled><span class="m-r-20"></span>Нет
												</div>
											</div>
										</div>
									</div>
									<div class="row m-b-25">
										<div class="col-md-6">
											Восставновлен (Refurbished)
										</div>
										<div class="col-md-6">
											<div class="row m-b-15 ">
												<div class="col-md-6">
													<label style="font-weight: normal;" data-container="body" data-toggle="popover" data-placement="right" data-content="устройство включается, батарея держит заряд, все кнопки и разъёмы функционируют должным образом">
														<input type="radio" value="1" name="group3" {% if product.refurbished %}checked{% endif %} disabled><span class="m-r-20"></span>Да
													</label>
												</div>
												<div class="col-md-6 text-right">
													<label style="font-weight: normal;" data-container="body" data-toggle="popover" data-placement="right" data-content="устройство включается, батарея держит заряд, все кнопки и разъёмы функционируют должным образом">
														<input type="radio" value="0" name="group3" {% if not product.refurbished %}checked{% endif %} disabled><span class="m-r-20"></span>Нет
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="row m-b-25">
										<div class="col-md-6">
											Продавец - первый владелец
										</div>
										<div class="col-md-6">
											<span class="grey-color"><i>{{ product.owner|yesno:'Да, Нет' }}</i></span>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane p-60" id="prod_cheract">
									<table class="table table-phone-charact">
										<tbody>
										<tr>
											<td>Производитель</td>
											<td>{{ product.device.brand }}</td>
										</tr>
										<tr>
											<td>Тип</td>
											<td>{{ product.device.type }}</td>
										</tr>
										<tr>
											<td>тип SIM-карты</td>
											<td>
                                                {% for sim in product.device.sim_card_types.all %}
                                                    {{ sim }}{% if not forloop.last %},{% endif %}
                                                {% endfor %}
                                            </td>
										</tr>
										<tr><td class="charact-title" colspan="2">Общие характеристики</td></tr>
										<tr>
											<td>Стандарт</td>
											<td>
                                                {% for net in product.device.net_generations.all %}
                                                    {{ net }}{% if not forloop.last %};{% endif %}
                                                {% endfor %}
                                            </td>
										</tr>
										<tr>
											<td>Высокоскоростная передача данных</td>
											<td>
												850/900/1700/1900/2100; LTE
												GPRS/EDGE; HSPA+/DC-HSDPA; LTE (Bands 1, 2, 3, 4, 5, 7, 8, 13, 17, 18, 19, 20, 25, 26, 28, 29)
											</td>
										</tr>
										<tr>
											<td>Количество SIM-карт</td>
											<td>{{ product.device.sim_cards_count|default:'' }}</td>
										</tr>
										<tr>
											<td>Операционная система</td>
											<td>{{ product.device.os|default:'' }}</td>
										</tr>
										<tr>
											<td>Оперативная память, ГБ</td>
											<td>{{ product.device.ram_size|default:'' }}</td>
										</tr>
										<tr>
											<td>Встроенная память, ГБ</td>
											<td>{{ product.device.mem_size.first }}</td>
										</tr>
										<tr>
											<td>Слот расширения</td>
											<td>{{ product.device.has_mem_card_slot|yesno:'да, нет, неизвестно' }}</td>
										</tr>
										<tr>
											<td>Размеры</td>
											<td>{{ product.device.get_dimen_all }}</td>
										</tr>
										<tr>
											<td>Защита от пыли</td>
											<td>нет</td>
										</tr>
										<tr>
											<td>Аккумудяторная батарея</td>
											<td>Li-Po, {{ product.device.acc_capacity }} мАч (несъемная)</td>
										</tr>
										<tr>
											<td>Время работы (данные производителя)</td>
											<td>до 14ч в режиме разговора (3G), до 250ч в режиме ожидания, до 10ч 3G/LTE интернета (11ч Wi-Fi), до 11ч проигрывания видео, до 50ч воспроизведения музыки</td>
										</tr>
										<tr><td class="charact-title" colspan="2">Экран</td></tr>
										<tr>
											<td>Диагональ, дюймы</td>
											<td>{{ product.device.display.get_diag_hr }}</td>
										</tr>
										<tr>
											<td>Разрешение</td>
											<td>{{ product.device.display.get_resolution_hr }}</td>
										</tr>
										<tr>
											<td>Тип матрицы</td>
											<td>{{ product.device.display.tech }}</td>
										</tr>
										<tr>
											<td>PPI</td>
											<td>326</td>
										</tr>
										<tr>
											<td>Датчик регулировки яркости</td>
											<td>есть</td>
										</tr>
										<tr>
											<td>Сенсорный экран (тип)</td>
											<td>+ (емкостный)</td>
										</tr>
										<tr>
											<td>Другое</td>
											<td>
												Retina HD display, контрастность 1400:1, максимальная яркость 500 кд/м2, цветовой охват Full sRGB, олеофобное покрытие
											</td>
										</tr>
										</tbody>
									</table>
								</div>
								<div role="tabpanel" class="tab-pane" id="prod_prices" style="background-color: #f6f6f6;">
									<div class="white-background p-60">
										<div class="row">
											<div class="col-md-3">
												<img src="{% static "images/andrew_03.jpg" %}" style="border-radius: 50%;width: 100%;">
											</div>
											<div class="col-md-9">
												<p class="price-history-header">Андрей, эксперт по ценам</p>

												<p class="m-b-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non mauris nec nulla pellentesque consectetur a sit amet elit. Duis turpis ipsum, molestie quis lectus eu, scelerisque vestibulum libero. Cras sit amet nulla porta, fermentum dui id, pellentesque velit. Mauris eget nunc id risus volutpat interdum nec at est. Proin aliquet faucibus diam, at facilisis dui varius et. Cras fermentum aliquam ex ac placerat. Donec ultricies convallis lacus.</p>
												<p class="m-b-10">Nullam non mauris nec nulla pellentesque consectetur a sit amet elit. Duis turpis ipsum, molestie quis lectus eu, scelerisque vestibulum libero. Cras sit amet nulla porta, fermentum dui id, pellentesque velit.</p>

											</div>
										</div>

									</div>
									<div class=" p-60 center">
										<p style="font-size: 20px; padding-bottom: 16px;">Статистика цен на сегодня</p>
										<div class="row">
											<div class="col-md-4">
												<p>
												<b>5 500 грн.</b><br/>
												минимальная цена
												</p>
											</div>
											<div class="col-md-4">

												<span class="middleprice">6 460 грн.</span> <br/><span style="font-size: 18px; line-height: 14px;">средняя цена</span>

											</div>
											<div class="col-md-4">
												<p>
												<b>7 500 грн.</b><br/>
												максимальная цена
												</p>
											</div>

										</div>

									</div>
									<div class="white-background p-60">
										<div class="row">
											<div class="col-md-7">
												<p style="font-weight: bold;  font-size: 20px;">История цен на {{ product.title }}</p>
											</div>
											<div class="col-md-5 period-chart">
												<button class="period-btn-detail active" value="30">1 Месяц</button>
												<button class="period-btn-detail" value="90">3 Месяца</button>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div id="curve_chart"></div>
											</div>
											<div class="col-md-12">
												 <div id="chart_div2" class="chart"></div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<p><b>Узнайте акутальную цену на свой телефон за 2 минуты!</b></p>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12 p-l-0">
													<div class="form-group chose-phone-cheract">
														<p class="cheract-label">Категория</p>
														<select class="phone-cheract  model-ch">
															<option>Телефон</option>
															<option>Планшет</option>
														</select>
													</div>
													<div class="form-group chose-phone-cheract">
														<p class="cheract-label">Производитель</p>
														<select class="phone-cheract model-ch"><option>Apple</option></select>
													</div>
													<div class="form-group chose-phone-cheract">
														<p class="cheract-label">Модель</p>
														<select class="phone-cheract bold blue-color model-ch"><option>Iphone 6</option></select>
													</div>
													<div class="form-group chose-phone-cheract">
														<p class="cheract-label">Цвет</p>
														<select class="phone-cheract model-ch"><option>Silver</option></select>
													</div>
													<div class="form-group chose-phone-cheract">
														<p class="cheract-label">Память</p>
														<select class="phone-cheract model-ch"><option>16 Gb</option></select>
													</div>
												</div>

											</div>
											<div class="text-right">
												<button class="button-cr-ad green-background mini p-l-20 p-r-20">Оценить</button>
											</div>

										</div>
									</div>


								</div>
								<div role="tabpanel" class="tab-pane" id="prod_garant">
									<div class="row p-20">
										<div class="col-md-12">
											<img src="{% static "images/banners/1_03.jpg" %}" style="width: 100%;">
										</div>
									</div>
									<div class="row p-20 ">
										<div class="col-md-12">
											<p class="bold f-24 m-t-20">Сравнение типов сделок:</p>
										</div>
									</div>
									<div class="row p-20">
										<div class="col-md-3">
											<p class="bold">Напрямую у продавца</p>
										</div>
										<div class="col-md-3">
											<p>Уровень безопасности: <br/><span class="bold golden-color">базовый</span></p>
										</div>
										<div class="col-md-6">
											<p>Данный тип сделки связан с рисками. Вы получаете контакты продавца и совершаете сделку самостоятельно. При этом есть необходимость личной встречи, высоки риски мошенничества при передаче денег или товара.</p>
										</div>
									</div>
									<hr>
									<div class="row p-20">
										<div class="col-md-3">
											<p class="bold">Финансовая защита сделки</p>
										</div>
										<div class="col-md-3">
											<p>Уровень безопасности: <br/><span class="bold green-color">высокий</span></p>
										</div>
										<div class="col-md-6">
											<p>Оплата денег и передача товара проходят под контролем  сервиса с соответствующими гарантиями для обеих сторон. Обеспечивается защита соответствию описании., но нет гарантии на возможные скрытые дефекты</p>
										</div>
									</div>
									<hr>
									<div class="row p-20">
										<div class="col-md-3">
											<p class="bold">Техническая проверка</p>
										</div>
										<div class="col-md-3">
											<p>Уровень безопасности: <br/><span class="bold green-color">высокий</span></p>
										</div>
										<div class="col-md-6">
											<p>Товар проходит техническую проверку SellFone, после чего Вы получаете отчет о проведенной проверке, в том числе и о выявленных явных и скрытых дефектах. В случае, если устройство не соответствует описанию продавца Вы гарантированно можете вернуть свои средства или же приобрести другое устройство.</p>
										</div>
									</div>
									<hr>
									<div class="row p-20">
										<div class="col-md-3">
											<p class="bold">Гарантия</p>
										</div>
										<div class="col-md-3">
											<p>Уровень безопасности: <br/><span class="bold green-color">максимальный</span></p>
										</div>
										<div class="col-md-6">
											<p>Сделка полностью под контролем СФ. Максимальный уровень безопасности и комфорта  соответствующий покупке нового товара. Товар проходит техническую проверку СФ, предоставляется полная гарантия на б/у устройство.</p>
										</div>
									</div>
									<hr>


								</div>
								<div role="tabpanel" class="tab-pane p-60" id="prod_seller">
									<p class="bold  m-b-40">ПОДТВЕРЖДЕНИЕ ДАННЫХ</p>
									<div class="row">
										<div class="col-md-6">
											<p class="bold">Уровень подтвержения данных</p>
											<p class="m-t-15 silver-color">базовый</p>
											<p class="m-t-15 blue-color f-18">высокий</p>
											<p class="m-t-15 silver-color">максимальный</p>

										</div>
										<div class="col-md-6">
											<ul class="data_to_verified">
												<li class="msg_b">E-mail <span class="status verify"></span></li>
												<li class="phone_b">Телефон <span class="status unverify"></span></li>
												<li class="social_b">Социальные сети <span class="status verify"></span></li>
												<li class="user_b">Личность <span class="status unverify"></span></li>
												<li class="pay_b">Платежные данные <span class="status verify"></span></li>
											</ul>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<p class="bold  m-b-40">РЕЙТИНГ ПРОДАВЦА И ОТЗЫВЫ</p>
											<table class="rating-table m-t-60" style="width: 100%">
												<tr class="bold">
													<td class="border-right">Общий рейтинг</td>
													<td>Показатели обслуживания</td>
													<td></td>
												</tr>
												<tr>
													<td class="border-right">
														<div class="grey-color" style="line-height: 1;">
															<span class="blue-color f-48">4.0</span><span class="f-24">/5</span>
														</div>
														<p class="rating f-16">
																<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
														</p>
														<table class="m-t-45">
															<tr>
																<td>Всего отзывов:</td>
																<td class="p-l-20">70</td>
															</tr>
															<tr>
																<td>Положительных:</td>
																<td class="green-color p-l-20">80%</td>
															</tr>
														</table>
													</td>
													<td class="">
														<ul class="person_rating_item">
															<li class="sdelka-ico blue">Общие впечатления от сделки</li>
															<li class="descrp-ico blue">Товары соответсвуют описанию</li>
															<li class="talk-ico blue">Общение с продавцом</li>
															<li class="speed-ico blue">Оперативность продавца</li>
														</ul>
													</td>
													<td>
														<ul class="person_rating_item">
															<li>
																<div class="rating">
																	<span class="f-16">4.0</span>&nbsp;
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
																</div>
															</li>
															<li>
																<div class="rating">
																	<span class="f-16">3.2</span>&nbsp;
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
																</div>
															</li>
															<li>
																<div class="rating">
																	<span class="f-16">4.9</span>&nbsp;
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																</div>
															</li>
															<li>
																<div class="rating">
																	<span class="f-16">5.0</span>&nbsp;
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																	<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
																</div>
															</li>
														</ul>
													</td>
												</tr>
										</table>
										<h5 class="bold">Награды</h5>
										<!--REWARDS_BEGIN-->
										<div class="personal_rewards text-center">
											<div class="row">
												<div class="col-xs-4">
													<div class="reward golden-second"></div>
													<p class="bold golden-color">Золотой секундомер</p>
												</div>
												<div class="col-xs-4">
													<div class="reward silver-cup"></div>
													<p class="bold silver-color">Серебрянный кубок активности</p>
												</div>
												<div class="col-xs-4">
													<div class="reward golden-medal"></div>
													<p class="bold golden-color">Золотая медаль вежливости</p>
												</div>
											</div>
										</div>
										<!--REWARDS_END-->
										</div>
									</div>

								</div>
							</div>
							<!--END TAB_CONTENT-->
						</div>
					</div>

					<!--BEGIN SELLER INFO-->
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class="main-block seller-info shadow p-t-35 p-b-0">
							<h5 class=" m-b-25"><b>ЧАТ С ПРОДАВЦОМ</b></h5>
							<div class="justify" style="color: #b1b2b3">
								<p>
									<span>Фильтровать по:</span><br/>
									<label><input type="checkbox"> &nbspторг</label>
									<label><input type="checkbox"> &nbspобмен</label>
									<label><input type="checkbox"> &nbspвопрос</label>
								</p>
								<p></p>
							</div>
							<div class="chat">
								<div class="my_msg msg">
									<div class="user-avatar"><img src="{% static "images/user-logo.png" %}"></div>
									<div class="msg-text">
										It goes a little something like this.
										<div class="msg-date"><p>3.06.2016<br>12:47</p></div>
									</div>
								</div>
								<div class="my_msg msg">
									<div class="user-avatar"><img src="{% static "images/user-logo.png" %}"></div>
									<div class="msg-text">
										It was all a dream, I used to read Word UP magazine Salt'n'Pepa and Heavy up in the
										<div class="msg-date"><p>3.06.2016<br>12:47</p></div>
									</div>
								</div>
								<div class="oponent_msg msg">
									<div class="user-avatar"><img src="{% static "images/user-logo.png" %}"></div>
									<div class="msg-text">
										It was all a dream, I used to read Word UP magazine Salt'n'Pepa and Heavy up in the
										<div class="msg-date"><p>3.06.2016<br>12:47</p></div>
									</div>

								</div>

							</div>
							<div class="send-msg">
								<div class="p-r-30 p-l-30 vertical-center">
									<div class="col-xs-1 p-0"><button class="attach-btn"><img src="{% static "images/chat/attach-ico.png" %}"></button></div>
									<div class="col-xs-9 p-0"><form class="send-msg-form"><input type="text" placeholder="Type yor message..."></form></div>
									<div class="col-xs-1 p-0"><button class="emoji-btn"><img src="{% static "images/chat/emoji-ico.png" %}"></button></div>
									<div class="col-xs-1 p-0"><button class="send-msg-btn"><img src="{% static "images/chat/send-ico.png" %}"></button></div>
								</div>
							</div>
						</div>
					</div>
					<!--END SELLER INFO-->
				</div>


			</div>
			<div class="row"><div class="m-b-20 prod-same-block" style="margin-top: 90px;">
				<h3 class="m-b-50 text-center">C ЭТИМ ТОВАРОМ ПОКУПАЮТ</h3></div>
				<div>

					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->

					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->

					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->

					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->

					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->

					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->

				</div>
			</div>

			<!------------------------------------------------------------------->
			<div class="row"><div class="m-b-20 prod-same-block"><h3 class="m-b-50 text-center">ПОХОДИЕ МОДЕЛИ</h3></div>
			<div>

					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->

					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->

					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->

					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->


					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>

					<!--END_PRODUCT-->

				</div>
			</div>

			<!------------------------------------------------------------------->


			<div class="row"><div class="m-b-20 prod-same-block">
				<h3 class="m-b-50 text-center">ВЫ ПРОСМАТРИВАЛИ</h3></div>
			<div>
					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->

					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->

					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->

					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->

					<!--BEGIN_PRODUCT-->
					<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="mini-product">
								<div class="price">8 000 <span class="f-8">грн.</span> </div>
								<div class="product-photo">
									<img src="{% static "images/expamples/prod-ico.png" %}">
								</div>
								<div class="product-description">
									<h4 class="product-title">iPhone 6, 16 Gb, Белый <img style="float: right" src="images/product/favorite.png"> </h4>
									<div class="product-about">
										<table>
											<tbody>
											<tr>
												<td>Внешний вид:</td>
												<td>хороший</td>
											</tr>
											<tr>
												<td>Работоспособность:</td>
												<td>полностью рабочий</td>
											</tr>
											<tr>
												<td>Рейтинг продавца:</td>
												<td>
													4.0
													<div class="rating inln-blck">
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="active glyphicon glyphicon-star" aria-hidden="true"></span>
													<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</article>
						</div>
					<!--END_PRODUCT-->
				</div>
			</div>
		</div>
	</div>

    <!--MODAL_BEGIN-->
<div class="modal fade" id="ModalExprAd" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Продажа своего устройства</p>
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                <div class="m-b-30 ">
                <div class="form-group chose-phone-cheract">
                    <p class="cheract-label">Категория</p>
                    <select class="phone-cheract  addtnl-ch" style="display: none;">
                        <option>Телефон</option>
                        <option>Планшет</option>
                    </select>
                </div>
                <div class="form-group chose-phone-cheract">
                    <p class="cheract-label">Телефон</p>
                    <select class="phone-cheract  model-ch" style="display: none;">
                        <option>Apple</option>
                        <option>Samsung</option>
                    </select>
                </div>
                <div class="form-group chose-phone-cheract lgrey-background">
                    <p class="cheract-label">Модель</p>
                    <select class="phone-cheract white-background model-ch" style="display: none;">
                        <option>IPhone 6</option>
                        <option>IPhone 5s</option>
                    </select>
                </div>
                <div class="form-group chose-phone-cheract">
                    <p class="cheract-label">Цвет</p>
                    <select class="phone-cheract addtnl-ch" style="display: none;">
                        <option>Silver</option>
                        <option>Space grey</option>
                    </select>
                </div>
                <div class="form-group chose-phone-cheract">
                    <p class="cheract-label">Память</p>
                    <select class="phone-cheract addtnl-ch" style="display: none;">
                        <option>16 Gb</option>
                        <option>32 Gb</option>
                    </select>
                </div>

                <img class="decorate-img" src="images/deal/sale.png">
                </div>
                <div class="text-center">
                    <button class="buy-btn green-background">СОЗДАТЬ ОБЬЯВЛЕНИЕ</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--MODAL_END-->

{% endblock content%}
{% block extrajs %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="popover"]').hover(
            function () {
                $(this).popover('show');
            },
            function () {
                $(this).popover('hide');
            }
        );
        $('#gallery').lightSlider({
            gallery:true,
            item:1,
            vertical:true,
            verticalHeight:240,
            vThumbWidth:40,
            thumbItem:4,
            thumbMargin:4,
            slideMargin:0
        });
        $('select').niceSelect();
{#        $("input[type='checkbox'], input[type='radio']").iCheck({#}
{#                checkboxClass: 'iradio_square-blue c-check filter-check',#}
{#                radioClass: 'iradio_square-blue c-check',#}
{#            });#}


        //$("select").chosen();
		$(function () { $('[data-toggle="popover"]').popover() });
		$('[rel="popover"]').popover({
        container: 'body',
        html: true,
        content: function () {
            var clone = $($(this).data('popover-content')).clone(true)
                .removeClass('hide');
            return clone;
        }
    }).click(function (e) {
        e.preventDefault();
    });
    })


</script>

<script>
{#google.load("visualization", "1", {packages:["corechart"]});#}
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart2);
function drawChart2() {
  var data = google.visualization.arrayToDataTable([
      ['Месяц', 'Цена'],
      {% for data in chart %}
          ['{{ data.when_created|date:'d.m.y' }}', {{ data.price|floatformat:"0" }}*0.7],
      {% endfor %}
  ]);

  var options = {
{#    title: 'Заголовок 1',#}
    height: 600,
    width: 600,
{#    hAxis: {title: 'Заголовок 2',  titleTextStyle: {color: '#333'}},#}
    vAxis: {minValue: 0},
  };
  var chart = new google.visualization.AreaChart(document.getElementById('chart_div2'));
  chart.draw(data, options);
}

$(window).resize(function(){
  drawChart2();
});

// Reminder: you need to put https://www.google.com/jsapi in the head of your document or as an external resource on codepen //
</script>
    <script>
    $(document).ready(function(){
        $('.period-chart').on('click', '.period-btn-detail', function (event) {
            event.preventDefault();
            $('.period-btn-detail').removeClass('active');
            $(this).addClass('active');
            var date = $(this).val();
            $.get('period-chart/'+date+'/'+{{ product.id }})
                .then(function(response) {
                    var data = $.parseJSON(response);
                    var list_data = [['Месяц', 'Цена']]
                    for(i in data){
                        list_data.push([i, data[i]*0.7])
                    }
                    function drawChart2() {
                        var data = google.visualization.arrayToDataTable(list_data);
                        var options = {
                            height: 600,
                            width: 600,
                            vAxis: {minValue: 0},
                        };
                        var chart = new google.visualization.AreaChart(document.getElementById('chart_div2'));
                        chart.draw(data, options);
                    }
                    drawChart2();
                }, function(err) {

            });
        })
    })

    </script>
{% endblock %}